@model object

@{
    ViewBag.Title = "设备点检配置";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceSpotCheck/DeviceSpotCheck.js"></script>
<section class="content ">
    <h2 class="text-center">
        设备点检配置
    </h2>
</section>
