@model object
@{
    ViewBag.Title = "设备点检";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/DeviceSpotCheck/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/DeviceSpotCheck/index.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>设备点检</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="form-inline" style="display: flex">
                <div style="flex: 1">
                    <label class="control-label">选择车间：</label>
                    <select class="ms2 form-control workShop" id="workShop" style="width: 85%"></select>
                </div>
                <div style="flex: 1">
                    <label class="control-label">选择设备：</label>
                    <select class="ms2 form-control workShopDevice" id="workShopDevice" style="width: 85%"></select>
                </div>
                <div style="flex: 1">
                    <label class="control-label">点检计划：</label>
                    <select class="ms2 form-control spotPlan" id="spotPlan" style="width: 85%"></select>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div>
                <label class="control-label textOverTop">计划：检验总数/已检验/不合格</label>
                <div style="display: flex; flex-wrap: wrap" id="devicePlan"></div>
            </div>
        </div>
    </div>
    <!-- 详情页面模态框 -->
    <div class="modal fade" tabindex="-1" id="updateDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">详情页面</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group form-inline" style="display: flex">
                            <div style="flex: 1">
                                <label class="control-label">选择车间：</label>
                                <select class="ms2 form-control workShop" id="workShopDetail" style="width: 85%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label">选择设备：</label>
                                <select class="ms2 form-control workShopDevice" id="workShopDeviceDetail" style="width: 85%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label">点检计划：</label>
                                <select class="ms2 form-control spotPlan" id="spotPlanDetail" style="width: 85%"></select>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex; justify-content: space-between;align-items: center">
                            <label class="control-label">点检项：</label>
                            <button type="button" class="btn btn-primary btn-sm" onclick="updateDeviceCheck()">保存</button>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="devicePlanDetailList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 图片查看页面模态框 -->
    <div class="modal fade" tabindex="-1" id="showImgModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">图片查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="hidden" id="checkId"></div>
                        <div class="form-group">
                            <label class="control-label textOverTop">点检名称：<span id="checkName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop" id="imgOld">图片：</label>
                            <div class="form-group">
                                <div id="imgOldList" style="display: flex; flex-wrap: wrap"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">新图：</label>
                            <div class="" id="addImgBox">
                                <input id="addImg" parent="addImgBox" type="file" name="filename[]" onchange="inputChange($(this), 'col-sm-9')">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="updateImg()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
