@model object

@{
    ViewBag.Title = "设备点检记录";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceSpotCheck/SpotCheckLog.js"></script>
<section class="content ">
    <h2 class="text-center">
        设备点检记录
    </h2>
</section>
