@model object

@{
    ViewBag.Title = "维修管理";
    Layout = "_Layout";
}

<environment include="Development">
    <script src="~/mjs/RepairManagement/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/RepairManagement/index.min.js"></script>
</environment>
<section class="content-header flexStyle" style="justify-content: space-between;flex-wrap: wrap">
    <h1>@ViewBag.Title</h1>
    <div class="flexStyle">
        <button type="button" class="btn btn-danger btn-sm" onclick="showFaultModel()" style="margin-right: 10px">故障报修</button>
        <button type="button" class="btn btn-warning btn-sm" id="showMaintainerModel" onclick="showMaintainerModel()">维修工管理</button>
        <button type="button" class="btn btn-primary btn-sm" style="margin: 0 10px" id="getFaultTypeList" onclick="getFaultTypeList()">故障类型</button>
        <button type="button" class="btn btn-primary btn-sm" id="getUsuallyFaultList" onclick="getUsuallyFaultList()">常见故障解决</button>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom" id="tabs">
            <ul class="nav nav-tabs ui-sortable-handle">
                <li id="faultDeviceLi" class="hidden"><a href="#faultDevice" data-toggle="tab" aria-expanded="true">故障设备</a></li>
                <li id="repairListLi" class="hidden"><a href="#repairList" data-toggle="tab" aria-expanded="false">维修记录</a></li>
                <li id="delFaultDeviceLi" class="hidden"><a href="#delFaultDevice" data-toggle="tab" aria-expanded="false">已删除故障设备</a></li>
                <li id="delRepairLi" class="hidden"><a href="#delRepair" data-toggle="tab" aria-expanded="false">已删除维修记录</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane fade in" id="faultDevice">
                    <div class="box box-primary">
                        <div class="box-header with-border no-padding-bottom">
                            <div class="flexStyle" style="flex-wrap: wrap">
                                <div class="flexStyle" style="padding-bottom: 10px">
                                    <label class="control-label text-nowrap">故障时间：</label>
                                    <input type="text" class="form_date form-control text-center" id="faultSTime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                    <label class="control-label" style="margin: 5px">至</label>
                                    <input type="text" class="form_date form-control text-center" id="faultETime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                </div>
                                <div class="flexStyle" style="padding-bottom: 10px; flex: 1;justify-content: space-between" id="faultQuery">
                                    <div class="flexStyle" style="flex-basis: 520px">
                                        <div style="flex: 2">
                                            <select class="form-control" id="faultDevicePro" style="width: 100%">
                                                <option value="code">机台号</option>
                                                <option value="faultType">故障类型</option>
                                                <option value="priority">优先级</option>
                                                <option value="grade">故障等级</option>
                                                <option value="state">状态</option>
                                                <option value="maintainer">维修工</option>
                                                <option value="solveTime">预计解决时间</option>
                                            </select>
                                        </div>
                                        <select class="form-control" id="faultDeviceCond" style="width: 90px">
                                            <option value="0">等于</option>
                                            <option value="1">不等于</option>
                                        </select>
                                        <input type="text" class="form-control faultDeviceAttr" id="faultDeviceInput" placeholder="搜索" style="flex: 2">
                                        <div class="faultDeviceAttr hidden" style="flex: 2" id="faultDeviceAttrSelect">
                                            <select class="form-control" id="faultDeviceAttr" style="width: 100%"></select>
                                        </div>
                                        <div class="faultDeviceAttr flexStyle hidden" style="flex: 4" id="faultDeviceTime">
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="solveSTime" style="flex-basis: 140px; min-width: 100px">
                                            <label class="control-label" style="margin: 5px">至</label>
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="solveETime" style="flex-basis: 140px; min-width: 100px">
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="getFaultDeviceList()" style="margin-left: 2px">查询</button>
                                    </div>
                                    <div class="flexStyle" style="margin-left: 2px">
                                        <button type="button" class="btn btn-primary hidden" onclick="showBatchAssignModal()" id="showBatchAssignModalBtn" style="margin-left:2px">批量指派</button>
                                        <button type="button" class="btn btn-danger hidden" onclick="delChange()" id="delChangeBtn" style="margin-left: 2px">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="faultDeviceList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="repairList">
                    <div class="box box-primary">
                        <div class="box-header with-border no-padding-bottom">
                            <div class="flexStyle" style="flex-wrap: wrap">
                                <div class="flexStyle" style="padding-bottom: 10px;">
                                    <label class="control-label text-nowrap">解决时间：</label>
                                    <input type="text" class="form_date form-control text-center" id="serviceLogSTime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                    <label class="control-label" style="margin: 5px">至</label>
                                    <input type="text" class="form_date form-control text-center" id="serviceLogETime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                </div>
                                <div class="flexStyle" style="padding-bottom: 10px; flex: 1;justify-content: space-between" id="serviceLogQuery">
                                    <div class="flexStyle" style="flex-basis: 520px">
                                        <div style="flex: 2">
                                            <select class="form-control" id="serviceLogPro" style="width: 100%">
                                                <option value="code">机台号</option>
                                                <option value="faultTime">故障时间</option>
                                                <option value="faultType">故障类型</option>
                                                <option value="priority">优先级</option>
                                                <option value="grade">故障等级</option>
                                                <option value="maintainer">维修工</option>
                                                <option value="solveTime">预计解决时间</option>
                                            </select>
                                        </div>
                                        <select class="form-control" id="serviceLogCond" style="width: 90px">
                                            <option value="0">等于</option>
                                            <option value="1">不等于</option>
                                        </select>
                                        <input type="text" class="form-control serviceAttr" id="serviceInput" placeholder="搜索" style="flex: 2">
                                        <div class="serviceAttr hidden" style="flex: 2" id="serviceAttrSelect">
                                            <select class="form-control" id="serviceAttr" style="width: 100%"></select>
                                        </div>
                                        <div class="serviceAttr flexStyle hidden" style="flex: 4" id="solveTime">
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="serSTime" style="flex-basis: 140px; min-width: 100px">
                                            <label class="control-label" style="margin: 5px">至</label>
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="serETime" style="flex-basis: 140px; min-width: 100px">
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="getServiceLogList(1)" style="margin-left: 2px">查询</button>
                                    </div>
                                    <div class="flexStyle" style="margin-left:2px">
                                        <button type="button" class="btn btn-primary" onclick="showStatisticsModel()">统计</button>
                                        <button type="button" class="btn btn-primary" onclick="showServiceLogModal()" id="addServiceLogBtn" style="margin-left:2px">添加</button>
                                        <button type="button" class="btn btn-danger hidden" onclick="delServiceLog()" id="delServiceLogBtn" style="margin-left:2px">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="repairRecordList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="delFaultDevice" class="tab-pane fade in">
                    <div class="box box-primary">
                        <div class="box-header with-border no-padding-bottom">
                            <div class="flexStyle" style="flex-wrap: wrap">
                                <div class="flexStyle" style="padding-bottom: 10px">
                                    <label class="control-label text-nowrap">故障时间：</label>
                                    <input type="text" class="form_date form-control text-center" id="delFSTime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                    <label class="control-label" style="margin: 5px">至</label>
                                    <input type="text" class="form_date form-control text-center" id="delFETime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                </div>
                                <div class="flexStyle" style="padding-bottom: 10px; flex: 1;justify-content: space-between" id="delFQuery">
                                    <div class="flexStyle" style="flex-basis: 520px">
                                        <div style="flex: 2">
                                            <select class="form-control" id="delFPro" style="width: 100%">
                                                <option value="code">机台号</option>
                                                <option value="faultType">故障类型</option>
                                                <option value="priority">优先级</option>
                                                <option value="grade">故障等级</option>
                                                <option value="state">状态</option>
                                                <option value="maintainer">维修工</option>
                                                <option value="solveTime">预计解决时间</option>
                                            </select>
                                        </div>
                                        <select class="form-control" id="delFCond" style="width: 90px">
                                            <option value="0">等于</option>
                                            <option value="1">不等于</option>
                                        </select>
                                        <input type="text" class="form-control delFAttr" id="delFInput" placeholder="搜索" style="flex: 2">
                                        <div class="delFAttr hidden" style="flex: 2" id="delFAttrSelect">
                                            <select class="form-control" id="delFAttr" style="width: 100%"></select>
                                        </div>
                                        <div class="delFAttr flexStyle hidden" style="flex: 4" id="delFTime">
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="delFSolveSTime" style="flex-basis: 140px; min-width: 100px">
                                            <label class="control-label" style="margin: 5px">至</label>
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="delFSolveETime" style="flex-basis: 140px; min-width: 100px">
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="getDelFaultDeviceList()" style="margin-left: 2px">查询</button>
                                    </div>
                                    <button type="button" class="btn btn-success hidden" onclick="delFRecover()" id="delFRecoverBtn" style="margin-left:2px">恢复</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="delFaultDeviceList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="delRepair" class="tab-pane fade in">
                    <div class="box box-primary">
                        <div class="box-header with-border no-padding-bottom">
                            <div class="flexStyle" style="flex-wrap: wrap">
                                <div class="flexStyle" style="padding-bottom: 10px;">
                                    <label class="control-label text-nowrap">解决时间：</label>
                                    <input type="text" class="form_date form-control text-center" id="delRepairSTime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                    <label class="control-label" style="margin: 5px">至</label>
                                    <input type="text" class="form_date form-control text-center" id="delRepairETime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                </div>
                                <div class="flexStyle" style="padding-bottom: 10px; flex: 1;justify-content: space-between" id="delRepairQuery">
                                    <div class="flexStyle" style="flex-basis: 520px">
                                        <div style="flex: 2">
                                            <select class="form-control" id="delRepairPro" style="width: 100%">
                                                <option value="code">机台号</option>
                                                <option value="faultTime">故障时间</option>
                                                <option value="faultType">故障类型</option>
                                                <option value="priority">优先级</option>
                                                <option value="grade">故障等级</option>
                                                <option value="maintainer">维修工</option>
                                                <option value="solveTime">预计解决时间</option>
                                            </select>
                                        </div>
                                        <select class="form-control" id="delRepairCond" style="width: 90px">
                                            <option value="0">等于</option>
                                            <option value="1">不等于</option>
                                        </select>
                                        <input type="text" class="form-control delRepairAttr" id="delRepairInput" placeholder="搜索" style="flex: 2">
                                        <div class="delRepairAttr hidden" style="flex: 2" id="delRepairAttrSelect">
                                            <select class="form-control" id="delRepairAttr" style="width: 100%"></select>
                                        </div>
                                        <div class="delRepairAttr flexStyle hidden" style="flex: 4" id="delRepairTime">
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="delRepSTime" style="flex-basis: 140px; min-width: 100px">
                                            <label class="control-label" style="margin: 5px">至</label>
                                            <input type="text" class="form_date form-control text-center" autocomplete="off" id="delRepETime" style="flex-basis: 140px; min-width: 100px">
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="getDelServiceLogList()" style="margin-left: 2px">查询</button>
                                    </div>
                                    <button type="button" class="btn btn-success hidden" onclick="delRepairRecover()" id="delRepairRecoverBtn" style="margin-left:2px">恢复</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="delRepairList"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 指派模态框 -->
    <div class="modal fade" tabindex="-1" id="showDesignateModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">指派</h4>
                </div>
                <div class="modal-body">
                    <div style="margin: auto;width:230px">
                        <div class="form-group flexStyle" style="justify-content: flex-end">
                            <label class="control-label text-nowrap">指派：</label>
                            <div style="flex-basis: 150px">
                                <select class="form-control" id="designateName" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="form-group flexStyle" style="justify-content: flex-end">
                            <label class="control-label text-nowrap">优先级：</label>
                            <div style="flex-basis: 150px">
                                <select class="form-control" id="designatePro" style="width:100%">
                                    <option value="0">低</option>
                                    <option value="1">中</option>
                                    <option value="2">高</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group flexStyle" style="justify-content: flex-end">
                            <label class="control-label text-nowrap">故障等级：</label>
                            <div style="flex-basis: 150px">
                                <select class="form-control" id="designateGrade" style="width:100%">
                                    <option value="0">小修</option>
                                    <option value="1">大修</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="designate.call(this)" id="designateBtn">指派</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 故障报修弹窗（Modal） -->
    <div class="modal fade" tabindex="-1" id="faultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障报修</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle" style="flex-wrap: wrap">
                        <label class="control-label text-nowrap" for="faultCode"><span class="text-blue">* </span>蓝玻璃研磨/抛光机机台号：</label>
                        <div style="flex: 1;min-width: 350px">
                            <select class="ms2 form-control" style="width: 100%" id="faultCode" multiple="multiple" onclick="focusIn($(this))"></select>
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap" for="faultOther"><span class="text-blue">* </span>其他设备：</label>
                        <div class="flexStyle" style="flex-basis: 500px">
                            <select class="form-control" style="width: 30%" id="workshop"></select>
                            <select class="form-control" style="width: 30%" id="devSite"></select>
                            <input type="text" class="form-control" id="faultOther" placeholder="请输入" maxlength="20" style="width: 40%">
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap" for="proposer"><span class="text-red">* </span>报修人：</label>
                        <input class="form-control" disabled="disabled" id="proposer" onfocusin="focusIn($(this))" maxlength="20" style="flex-basis:140px">
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap"><span class="text-red">* </span>故障时间：</label>
                        <div class="flexStyle" style="width: 240px">
                            <input type="text" id="faultDate" class="form_date form-control text-center" style="cursor:pointer;min-width:80px">
                            <input type="text" id="faultTime" class="form_time form-control text-center" style="cursor:pointer;min-width:80px">
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap" for="faultType"><span class="text-red">* </span>故障类型：</label>
                        <select class="form-control" style="width: 200px" id="faultType"></select>
                        <a class="text-nowrap" style="text-decoration: underline" href='javascript:getUsuallyFaultList();'>常见故障及解决方法</a>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap" for="faultDefaultDesc">故障描述：</label>
                        <textarea class="form-control" id="faultDefaultDesc" disabled="disabled" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap" for="faultDesc">补充：</label>
                        <textarea class="form-control" id="faultDesc" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">上传图片（可不传）：</label>
                        <div id="addImgBox">
                            <input id="addImg" parent="addImgBox" type="file" name="filename[]" onchange="inputChange($(this), 'col-sm-9')">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="reportFault()">上报</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 批量指派模态框 -->
    <div class="modal fade" tabindex="-1" id="showBatchAssignModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">批量指派</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="batchAssignList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="batchAssign()">指派</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 常见故障及解决方法模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyFaultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">常见故障及解决方法</h4>
                    <button type="button" class="btn btn-primary pull-right btn-sm" id="showAddUsuallyFaultModel" onclick="showAddUsuallyFaultModel()">添加常见故障</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="usuallyFaultList" style="padding-right: 10px;"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加常见故障及解决方法模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addUsuallyFaultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">常见故障及解决方法</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" for="addUsuallyFaultDesc"><span class="text-red">* </span>常见故障：</label>
                        <input class="form-control" id="addUsuallyFaultDesc" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger hidden" id="addUsuallyFaultDescTip"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addSolvePlan">解决方法：</label>
                        <textarea class="form-control" id="addSolvePlan" style="resize: vertical" onfocusin="focusIn($(this))" maxlength="1000"></textarea>
                        <label class="adt label-danger hidden" id="addSolvePlanTip"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addUsuallyFault()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改常见故障及解决方法模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="updateUsuallyFaultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">常见故障及解决方法</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="updateUsuallyFaultDesc"><span class="text-red">* </span>常见故障：</label>
                                <input class="form-control" id="updateUsuallyFaultDesc" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="updateUsuallyFaultDescTip"></label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="updateSolvePlan">解决方法：</label>
                                <textarea class="form-control" id="updateSolvePlan" style="resize: vertical; height: 200px; overflow-y: scroll;" onfocusin="focusIn($(this))" maxlength="1000"></textarea>
                                <label class="adt label-danger hidden" id="updateSolvePlanTip"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateUsuallyFault()">修改</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 故障类型模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="faultTypeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障类型</h4>
                    <button type="button" id="showAddFaultTypeModel" class="btn btn-primary pull-right btn-sm" onclick="showAddFaultTypeModel()">添加故障类型</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="faultTypeList" style="padding-right: 10px;"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加故障类型模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addFaultTypeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障类型</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" for="addFaultTypeName"><span class="text-red">* </span>故障类型：</label>
                        <input class="form-control" id="addFaultTypeName" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger hidden" id="addFaultTypeNameTip"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addFaultTypeDesc">故障类型描述：</label>
                        <textarea class="form-control" id="addFaultTypeDesc" style="resize: vertical" onfocusin="focusIn($(this))" maxlength="1000"></textarea>
                        <label class="adt label-danger hidden" id="addFaultTypeDescTip"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addFaultType()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改故障类型模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="updateFaultTypeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障类型</h4>
                    <label class="hidden" id="updateTypeId"></label>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="updateFaultTypeName"><span class="text-red">* </span>故障类型：</label>
                                <input class="form-control" id="updateFaultTypeName" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="updateFaultTypeNameTip"></label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="updateFaultTypeDesc">故障类型描述：</label>
                                <textarea class="form-control" id="updateFaultTypeDesc" style="resize: vertical; height: 200px; overflow-y: scroll;" onfocusin="focusIn($(this))" maxlength="1000"></textarea>
                                <label class="adt label-danger hidden" id="updateFaultTypeDescTip"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateFaultType()">修改</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 维修工管理模态框 -->
    <div class="modal fade" tabindex="-1" id="maintainerModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">维修工名单</h4>
                </div>
                <div class="modal-body no-padding-top">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary btn-sm hidden" id="showAddMaintainerModelBtn" onclick="showAddMaintainerModel()">新增</button>
                        <button type="button" class="btn btn-warning btn-sm hidden" id="updateMaintainerBtn" onclick="updateMaintainer()">修改</button>
                        <button type="button" class="btn btn-danger btn-sm hidden" id="delMaintainerBtn" onclick="delMaintainer()">删除</button>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="maintainerList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择维修工模态框 -->
    <div class="modal fade" tabindex="-1" id="addMaintainerModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新维修工</h4>
                </div>
                <div class="modal-body no-padding-top">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="initList()">重置</button>
                    </div>
                    <div class="form-group" id="addTable" style="overflow: auto;max-height:500px">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <td style="width:100px;">序号</td>
                                    <td style="width:200px;">姓名</td>
                                    <td style="width:200px;">手机号</td>
                                    <td>备注</td>
                                    <td style="width:100px;">删除</td>
                                </tr>
                            </thead>
                            <tbody id="addList"></tbody>
                        </table>
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addOneBtn" onclick="addOne()"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" disabled="disabled" id="addMaintainerBtn" onclick="addMaintainer()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 故障详情模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="showLogDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障详情</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label text-nowrap">机台号：<span class="spanStyle" id="logDevName"></span></label>
                        <label class="control-label text-nowrap">报修人：<span class="spanStyle" id="logPerson"></span></label>
                        <label class="control-label text-nowrap">故障时间：<span class="spanStyle" id="logFaultTime"></span></label>
                        <label class="control-label text-nowrap">故障类型：<span class="spanStyle" id="logFaultType"></span></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">故障类型描述：</label>
                        <textarea class="form-control" disabled="disabled" id="logFaultTypeDesc" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">故障补充：</label>
                        <textarea class="form-control" disabled="disabled" id="logFaultSup" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">优先级：<span class="spanStyle" id="logPriority"></span></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">故障等级：<span class="spanStyle" id="logGrade"></span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 确认故障/开始维修模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="showConfirmModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="confirmTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">预计解决时间：</label>
                        <div class="flexStyle" style="width: 240px">
                            <input type="text" id="confirmTime" class="form_date form-control text-center" style="cursor:pointer;min-width:80px">
                            <input type="text" id="confirmHms" class="form_time form-control text-center" style="cursor:pointer;min-width:80px">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">维修备注：</label>
                        <textarea class="form-control" id="confirmDesc" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="db btn btn-danger" onclick="confirmFault.call(this,1)" id="confirmFaultBtn">确认故障</button>
                    <button type="button" class="db btn btn-primary" onclick="confirmFault.call(this,2)" id="confirmStartBtn">开始维修</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 维修完成模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="showServiceModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">维修完成</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">解决人：</label>
                        <select class="ms2 form-control" id="servicePro" style="width: 150px"></select>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap: wrap">
                        <label class="control-label text-nowrap">解决时间：</label>
                        <div class="flexStyle" style="width: 240px">
                            <input type="text" id="serviceTime" class="form_date form-control text-center" style="cursor:pointer;min-width:80px">
                            <input type="text" id="serviceHms" class="form_time form-control text-center" style="cursor:pointer;min-width:80px">
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap: wrap">
                        <label class="control-label text-nowrap">故障类型：</label>
                        <select class="ms2 form-control" id="serviceFaultType" style="width: 150px"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">解决方案：</label>
                        <textarea class="form-control" id="serviceDesc" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="service.call(this)" id="serviceBtn">维修完成</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 统计模态框 -->
    <div class="modal fade" tabindex="-1" id="showStatisticsModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">统计</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group flexStyle" style="flex-wrap: wrap">
                            <label class="control-label text-nowrap">解决时间：</label>
                            <div class="flexStyle">
                                <input type="text" class="form_date form-control text-center" id="statSTime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                <label class="control-label" style="margin: 5px">至</label>
                                <input type="text" class="form_date form-control text-center" id="statETime" style="cursor: pointer; flex-basis: 140px; min-width: 100px">
                                <button type="button" class="btn btn-primary" onclick="getStatisticsList()" style="margin-left: 3px">查询</button>
                            </div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="statisticsList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 统计详情模态框 -->
    <div class="modal fade" tabindex="-1" id="showStatisticsDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-red text-bold">总分：<span id="score"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="statisticsDetailList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加修改维修记录模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="showServiceLogModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="serviceLogTitle">添加维修记录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">蓝玻璃研磨/抛光机机台号：<span class="spanStyle isText" id="serLogCodeText"></span></label>
                        <div class="noText" style="flex: 1;min-width:350px">
                            <select class="ms2 form-control" style="width: 100%" id="serLogCode"></select>
                        </div>
                    </div>
                    <div class="form-group flexStyle noText" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">其他设备：</label>
                        <div class="flexStyle" style="width:500px">
                            <select class="form-control" style="width: 30%" id="serLogWorkshop"></select>
                            <select class="form-control" style="width: 30%" id="serLogDevSite"></select>
                            <input type="text" class="form-control" id="serLogCodeOther" placeholder="请输入" maxlength="20" style="width: 40%">
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">报修人：<span class="spanStyle isText" id="serLogProposerText"></span></label>
                        <input class="form-control noText" id="serLogProposer" maxlength="20" style="flex-basis:140px">
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">故障时间：<span class="spanStyle isText" id="serLogFaultTimeText"></span></label>
                        <div class="flexStyle noText" style="width: 240px">
                            <input type="text" id="serLogFaultDate" class="form_date form-control text-center" style="cursor:pointer;min-width:80px">
                            <input type="text" id="serLogFaultTime" class="form_time form-control text-center" style="cursor:pointer;min-width:80px">
                        </div>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">故障类型：<span class="spanStyle isText" id="serLogFaultTypeText"></span></label>
                        <div class="noText">
                            <select class="form-control" style="width: 200px" id="serLogFaultType"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">故障描述：</label>
                        <textarea class="form-control" id="serLogFaultDesc" disabled="disabled" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-nowrap">补充：</label>
                        <textarea class="form-control" id="serLogFaultSup" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">优先级：<span class="spanStyle isText" id="serLogPriorityText"></span></label>
                        <select class="form-control noText" style="width: 100px" id="serLogPriority">
                            <option value="0">低</option>
                            <option value="1">中</option>
                            <option value="2">高</option>
                        </select>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">故障等级：<span class="spanStyle isText" id="serLogGradeText"></span></label>
                        <select class="form-control noText" style="width: 100px" id="serLogGrade">
                            <option value="0">小修</option>
                            <option value="1">大修</option>
                        </select>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">指派人：<span class="spanStyle isText" id="serLogMaintainerText"></span></label>
                        <div class="noText">
                            <select class="form-control" style="width: 200px" id="serLogMaintainer"></select>
                        </div>
                    </div>
                    <div class="box" id="upServiceLogBox">
                        <div class="box-body">
                            <div class="form-group flexStyle" style="flex-wrap:wrap">
                                <label class="control-label text-nowrap">解决人：<span class="spanStyle isText" id="serLogFaultSolverText"></span></label>
                                <div class="noText">
                                    <select class="form-control" style="width: 200px" id="serLogFaultSolver"></select>
                                </div>
                            </div>
                            <div class="form-group flexStyle" style="flex-wrap:wrap">
                                <label class="control-label text-nowrap">解决时间：<span class="spanStyle isText" id="serLogSolveTimeText"></span></label>
                                <div class="flexStyle noText" style="width: 240px">
                                    <input type="text" id="serLogSolveDate" class="form_date form-control text-center" style="cursor:pointer;min-width:80px">
                                    <input type="text" id="serLogSolveTime" class="form_time form-control text-center" style="cursor:pointer;min-width:80px">
                                </div>
                            </div>
                            <div class="form-group flexStyle" style="flex-wrap:wrap">
                                <label class="control-label text-nowrap">实际故障类型：<span class="spanStyle isText" id="serLogFaultType1Text"></span></label>
                                <div class="noText">
                                    <select class="form-control" style="width: 200px" id="serLogFaultType1"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-nowrap">解决方案：</label>
                                <textarea class="form-control" id="serLogSolvePlan" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary noText" onclick="addUpServiceLog(1)">添加</button>
                    <button type="button" class="btn btn-primary isText" onclick="addUpServiceLog.call(this,0)" id="updateServiceLogBtn">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 故障图片模态框 -->
    <div class="modal fade" tabindex="-1" id="showFaultImgModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障图片</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <label class="control-label text-nowrap">故障类型：<span class="spanStyle" id="FaultImgName"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-nowrap">图片：</label>
                            <div class="form-group">
                                <div class="row" id="faultImgList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 故障描述模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="faultTypeDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障描述</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label text-nowrap">故障类型：<span class="spanStyle" id="faultTypeNameDetail"></span></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultTypeDetail">故障类型描述：</label>
                        <textarea class="form-control" disabled="disabled" id="faultTypeDetail" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                    <div class="form-group hidden" id="faultTypeDetail1Div">
                        <label class="control-label" for="faultTypeDetail1">故障补充：</label>
                        <textarea class="form-control" disabled="disabled" id="faultTypeDetail1" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>
