@model object

@{
    ViewBag.Title = "应用层管理";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceManagement/applicationLibrary.js"></script>
<section class="content">
    <h2 class="text-center">应用层库管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">应用层库</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" id="showAddApplication" onclick="showAddApplication()">添加新应用层</button>
                <button type="button" class="btn btn-primary" onclick="getApplicationList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="applicationList"></table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新应用层信息</h4>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addApplicationName" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="addApplicationNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>程序文件的位置及名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addFilePath" onfocusin="focusIn($(this))" maxlength="100">
                                <label class="adt label-danger hidden" id="addFilePathTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addDesc" maxlength="255">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addApplication()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateApplicationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">应用层信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for=""><span class="text-red">* </span>名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateApplicationName" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="updateApplicationNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>程序文件的位置及名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateFilePath" onfocusin="focusIn($(this))" maxlength="100">
                                <label class="adt label-danger hidden" id="updateFilePathTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateDesc" maxlength="255">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateApplication()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>

