@model object

@{
    ViewBag.Title = "设备控制";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceManagement/deviceControl.js"></script>
<section class="content">
    <h2 class="text-center">设备控制</h2>
</section>
