@model object

@{
    ViewBag.Title = "设备控制";
    Layout = "_Layout";
}

<h2>设备控制</h2>
<script src="~/mjs/DeviceManagement/deviceControl.js"></script>
<section class="content">

</section>
