@model object

@{
    ViewBag.Title = "设备详情";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceManagement/deviceDetail.js"></script>
<section class="content">
    <h2 class="text-center">设备详情</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">状态信息</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary" onclick="getStateList()">刷新</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="StateBox">
                    <div class="form-group">
                        <label class="control-label" for="detailCode1">机台号：</label>
                        <select class="ms2 form-control" style="width: 100%" id="detailCode1"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name1">运行状态：</label>
                        <input class="form-control" disabled="disabled" name="1" id="name1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name2">连续运行时间：</label>
                        <input class="form-control" disabled="disabled" name="2" id="name2">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name3">加工时间：</label>
                        <input class="form-control" disabled="disabled" name="3" id="name3">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name4">剩余加工时间：</label>
                        <input class="form-control" disabled="disabled" name="4" id="name4">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name5">累积运行总时间：</label>
                        <input class="form-control" disabled="disabled" name="5" id="name5">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name6">当前加工流程卡号：</label>
                        <input class="form-control" disabled="disabled" name="6" id="name6">
                    </div>
                    <div class="form-group">
                        <label class="control-label">设备数据：</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name-1">工艺编号：</label>
                        <input class="form-control" disabled="disabled" name="-1" id="name-1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name7">实时压力：</label>
                        <input class="form-control" disabled="disabled" name="7" id="name7">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name9">上盘重量：</label>
                        <input class="form-control" disabled="disabled" name="9" id="name9">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name10">下盘转速：</label>
                        <input class="form-control" disabled="disabled" name="10" id="name10">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name11">上盘转速：</label>
                        <input class="form-control" disabled="disabled" name="11" id="name11">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name13">气缸下传感器：</label>
                        <input class="form-control" disabled="disabled" name="13" id="name13">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name8">比例阀数值：</label>
                        <input class="form-control" disabled="disabled" name="8" id="name8">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">设备信息</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group col-sm-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" onclick="openDevice()">开启设备</button>
                                <button type="button" class="btn btn-primary" onclick="closeDevice()">关闭设备</button>
                                <button type="button" class="btn btn-primary" onclick="lockDevice()">锁定设备</button>
                                <button type="button" class="btn btn-primary" onclick="unlockDevice()">解锁设备</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailCode2">机台号：</label>
                            <div class="col-sm-9">
                                <select class="ms2 form-control" style="width: 100%" id="detailCode2"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailDeviceName">设备名：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailDeviceName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailMacAddress">MAC地址：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailMacAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailIp">IP地址：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailIp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailPort">端口：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailPort">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailIdentifier">识别码：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailIdentifier">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailDeviceModel">设备型号：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailDeviceModel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailScript">流程脚本版本：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailScript">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailFirmware">固件版本：</label>
                            <div class="col-sm-7">
                                <select class="form-control" style="width: 100%" id="detailFirmware"></select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary hidden" disabled="disabled" onclick="upgradeFirmware()" id="upgradeFirmwareBtn">升级</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailHardware">硬件版本：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailHardware">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailApplication">应用层版本：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailApplication">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailSite">所在场地：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailSite">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailAdministratorUser">管理员用户：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailAdministratorUser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="detailRemark">备注：</label>
                            <div class="col-sm-9">
                                <input class="form-control" disabled="disabled" id="detailRemark">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">加工数据</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label" for="detailCode3">机台号：</label>
                        <select class="ms2 form-control" style="width: 100%" id="detailCode3"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProductionDay">今日生产总数—白班：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProductionDay">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailPassRateDay">今日合格率—白班：</label>
                        <input class="form-control" disabled="disabled" id="detailPassRateDay">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProcessTimeDay">今日加工总时间—白班：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProcessTimeDay">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProductionNight">今日生产总数—夜班：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProductionNight">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailPassRateNight">今日合格率—夜班：</label>
                        <input class="form-control" disabled="disabled" id="detailPassRateNight">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProcessTimeNight">今日加工总时间—夜班：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProcessTimeNight">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProduction">今日生产总数：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProduction">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailPassRate">今日合格率：</label>
                        <input class="form-control" disabled="disabled" id="detailPassRate">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="detailTotalProcessTime">今日加工总时间：</label>
                        <input class="form-control" disabled="disabled" id="detailTotalProcessTime">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
