@model object

@{
    ViewBag.Title = "工序名管理";
    Layout = "_Layout";
}

<environment include="Development">
    <script src="~/mjs/DeviceManagement/deviceProcessStep.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/DeviceManagement/deviceProcessStep.min.js"></script>
</environment>
<section class="content">
    <h2 class="text-center">工序名管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">工序名</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" id="showAddModel" onclick="showAddModel()">添加工序名</button>
                <button type="button" class="btn btn-primary" onclick="getDeviceProcessStepList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="deviceProcessStepList"></table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新工序名信息</h4>
                </div>

                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addSelect">设备类型：</label>
                                    <div class="col-sm-9">
                                        <select class="ms2 form-control" id="addSelect"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addStepName"><span class="text-red">* </span>工序名：</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="addStepName" onfocusin="focusIn($(this))" oninput="addStepNameCheck()" maxlength="32">
                                        <label class="label-danger hidden" id="addStepNameTip"></label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="checkbox" id="addIsSurvey" class="icb_minimal">
                                        <label for="addIsSurvey">是否为检验</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDesc">描述：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addDesc" maxlength="255">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addModel()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">工序名信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateSelect">设备类型：</label>
                                    <div class="col-sm-9">
                                        <select class="ms2 form-control" id="updateSelect"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateStepName"><span class="text-red">* </span>工序名：</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="updateStepName" onfocusin="focusIn($(this))" oninput="updateStepNameCheck()" maxlength="32">
                                        <label class="label-danger hidden" id="updateStepNameTip"></label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="checkbox" id="updateIsSurvey" class="icb_minimal">
                                        <label for="addIsSurvey">是否为检验</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateDesc">描述：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateDesc" maxlength="255">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateModel()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 模态框（Modal） -->
<div class="modal fade" tabindex="-1" id="descriptionModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">备注</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="description">描述：</label>
                    <textarea class="form-control" disabled="disabled" id="description" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
