@model object

@{
    ViewBag.Title = "设备型号库管理";
    Layout = "_Layout";
}

<h2>设备型号库管理</h2>
<section class="content">
    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="">添加组织结构</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px">添加成员</button>
        </div>
    </div>
</section>