@model object

@{
    ViewBag.Title = "固件库管理";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceManagement/firmwareLibrary.js"></script>
<section class="content">
    <h2 class="text-center">固件库管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">固件库</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" onclick="showAddFirmwareModal()">添加新固件</button>
                <button type="button" class="btn btn-primary" onclick="getFirmwareList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="firmLibraryList"></table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新固件信息</h4>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="addName" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="addNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">变量数量：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="addNumber" oninput="value=value.replace(/[^\d]/g,'')" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="addNumberTip"></label>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-sm-3 control-label">通信协议：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="addCommunication" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="addCommunicationTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">程序文件的位置及名称：</label>
                            <div class="col-sm-9">
                                @*<input id="addLocationName" type="file">
                                    <label class="label-danger hidden" id="addLocationNameTip"></label>*@
                                <input class="dd form-control" id="addFilePath" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="addFilePathTip"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="addDesc">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addFirmware()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateFirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">固件信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="updateName" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="updateNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">变量数量：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="updateNumber" oninput="value=value.replace(/[^\d]/g,'')" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="updateNumberTip"></label>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-sm-3 control-label">通信协议：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="updateCommunication">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">程序文件的位置及名称：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="updateFilePath" onfocusin="focusIn($(this))">
                                <label class="adt label-danger hidden" id="updateFilePathTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-9">
                                <input class="dd form-control" id="updateDesc">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateFirmware()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>

