@model object

@{
    ViewBag.Title = "设备管理";
    Layout = "_Layout";
}

<h2>设备管理</h2>
<script src="~/mjs/DeviceManagement/index.js"></script>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">设备列表</h3>
            <button type="button" class="btn btn-primary pull-right" onclick="showAddModel()">添加新设备</button>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="deviceList"></table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新设备信息</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addCode">机台号：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addCode" onfocusin="focusIn($(this))">
                                        <label class="label-danger hidden" id="addCodeTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDeviceName">设备名：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addDeviceName" onfocusin="focusIn($(this))">
                                        <label class="label-danger hidden" id="addDeviceNameTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addMacAddress">MAC地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addMacAddress" onfocusin="focusIn($(this))">
                                        <label class="label-danger hidden" id="addMacAddressTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addIp">IP地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addIp" onfocusin="focusIn($(this))">
                                        <label class="label-danger hidden" id="addIpTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addPort">端口：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addPort" placeholder="默认60000" value="60000" onfocusin="focusIn($(this))">
                                        <label class="label-danger hidden" id="addPortTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addIdentifier">识别码：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addIdentifier" onfocusin="focusIn($(this))">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDeviceModel">设备型号：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="addDeviceModel"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addFirmware">固件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="addFirmware"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addProcess">流程版本：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="addProcess"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addHardware">硬件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="addHardware"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addSite">所在场地：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="addSite"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addAdministratorUser">管理员用户：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addAdministratorUser">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addRemark">备注：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addRemark">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addDevice()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备型号信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">设备类型：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="updateSelect"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">设备型号：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateModelName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">描述：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateDesc">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateModel()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>