@model object

@{
    ViewBag.Title = "设备管理";
    Layout = "_Layout";
}

<script src="~/mjs/DeviceManagement/index.js"></script>
<section class="content">
    <h2 class="text-center">设备管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">设备列表</h3>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" onclick="showAddModel()">添加新设备</button>
                <button type="button" class="btn btn-primary" onclick="getDeviceList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="deviceList"></table>
            </div>
        </div>
    </div>
    <!-- 添加设备模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新设备信息</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addCode">机台号：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addCode" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="addCodeTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDeviceName">设备名：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addDeviceName" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="addDeviceNameTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addMacAddress">MAC地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addMacAddress" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="addMacAddressTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addIp">IP地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addIp" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="addIpTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addPort">端口：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addPort" placeholder="默认60000" value="60000" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="addPortTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addIdentifier">识别码：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addIdentifier">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDeviceCategory">设备类型：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addDeviceCategory" onclick="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="addDeviceCategoryTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addDeviceModel">设备型号：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addDeviceModel" onchange="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="addDeviceModelTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addScript">流程脚本版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addScript" onfocusin="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="addScriptTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addFirmware" onfocusin="focusIn($(this))">固件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addFirmware"></select>
                                        <label class="adt label-danger hidden" id="addFirmwareTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addHardware" onfocusin="focusIn($(this))">硬件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addHardware"></select>
                                        <label class="adt label-danger hidden" id="addHardwareTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addApplication" onfocusin="focusIn($(this))">应用层版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addApplication"></select>
                                        <label class="adt label-danger hidden" id="addApplicationTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addSite" onfocusin="focusIn($(this))">所在场地：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="addSite"></select>
                                        <label class="adt label-danger hidden" id="addSiteTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addAdministratorUser">管理员用户：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addAdministratorUser">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="addRemark">备注：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="addRemark">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addDevice()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 更新设备模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="updateModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateCode">机台号：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateCode" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="updateCodeTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateDeviceName">设备名：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateDeviceName" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="updateDeviceNameTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateMacAddress">MAC地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateMacAddress" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="updateMacAddressTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateIp">IP地址：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateIp" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="updateIpTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updatePort">端口：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updatePort" onfocusin="focusIn($(this))">
                                        <label class="adt label-danger hidden" id="updatePortTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateIdentifier">识别码：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateIdentifier">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateDeviceCategory">设备类型：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateDeviceCategory" onclick="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="updateDeviceCategoryTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateDeviceModel">设备型号：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateDeviceModel" onchange="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="updateDeviceModelTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateScript">流程脚本版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateScript" onfocusin="focusIn($(this))"></select>
                                        <label class="adt label-danger hidden" id="updateScriptTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateFirmware" onfocusin="focusIn($(this))">固件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateFirmware"></select>
                                        <label class="adt label-danger hidden" id="updateFirmwareTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateHardware" onfocusin="focusIn($(this))">硬件版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateHardware"></select>
                                        <label class="adt label-danger hidden" id="updateHardwareTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateApplication" onfocusin="focusIn($(this))">应用层版本：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateApplication"></select>
                                        <label class="adt label-danger hidden" id="updateApplicationTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateSite" onfocusin="focusIn($(this))">所在场地：</label>
                                    <div class="col-sm-9">
                                        <select class="ads form-control" id="updateSite"></select>
                                        <label class="adt label-danger hidden" id="updateSiteTip"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateAdministratorUser">管理员用户：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateAdministratorUser">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="updateRemark">备注：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="updateRemark">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateDevice()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>