@model object
@{
    ViewBag.Title = "设备管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/DeviceManagement/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/DeviceManagement/index.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>设备管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">设备列表</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" id="showAddModel" onclick="showAddModel()">添加新设备</button>
                <button type="button" class="btn btn-success" onclick="showBatchUpgradeModel()" id="showBatchUpgradeModelBtn">批量升级</button>
                <button type="button" class="btn btn-primary" onclick="getDeviceList()">刷新</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="deviceList"></table>
            </div>
        </div>
    </div>
    <!-- 添加设备模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新设备信息</h4>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addCode"><span class="text-red">* </span>机台号：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addCode" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="addCodeTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addDeviceName"><span class="text-red">* </span>设备名：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addDeviceName" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="addDeviceNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addMacAddress">MAC地址：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addMacAddress" onfocusin="focusIn($(this))" oninput='value=value.replace(/[^A-Fa-f0-9\-\:]+/g,"")' maxlength="48">
                                <label class="adt label-danger hidden" id="addMacAddressTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addIp"><span class="text-red">* </span>IP地址：</label>
                            <div class="col-sm-10">
                                <input class="dd form-control" id="addIp" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="addIpTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addPort"><span class="text-red">* </span>端口：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addPort" placeholder="默认60000" onfocusin="focusIn($(this))" maxlength="5">
                                <label class="adt label-danger hidden" id="addPortTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addIdentifier">识别码：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addIdentifier" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addDeviceCategory"><span class="text-red">* </span>设备类型：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addDeviceCategory" onclick="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addDeviceCategoryTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addDeviceModel"><span class="text-red">* </span>设备型号：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addDeviceModel" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addDeviceModelTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addScript"><span class="text-red">* </span>流程脚本版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addScript" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addScriptTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addFirmware"><span class="text-red">* </span>固件版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addFirmware" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addFirmwareTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addHardware"><span class="text-red">* </span>硬件版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addHardware" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addHardwareTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addApplication"><span class="text-red">* </span>应用层版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addApplication" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addApplicationTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addSite"><span class="text-red">* </span>所在场地：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addSite" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addSiteTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addAdministrator"><span class="text-red">* </span>设备管理员：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="addAdministrator" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="addAdministratorTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="addRemark">备注：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="addRemark" maxlength="255">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addDevice()">添加</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 更新设备模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="updateModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateCode"><span class="text-red">* </span>机台号：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateCode" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="updateCodeTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateDeviceName"><span class="text-red">* </span>设备名：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateDeviceName" onfocusin="focusIn($(this))" maxlength="32">
                                <label class="adt label-danger hidden" id="updateDeviceNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateMacAddress">MAC地址：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateMacAddress" oninput='value=value.replace(/[^A-Fa-f0-9\-\:]+/g,"")' onfocusin="focusIn($(this))" maxlength="48">
                                <label class="adt label-danger hidden" id="updateMacAddressTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateIp"><span class="text-red">* </span>IP地址：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateIp" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="updateIpTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updatePort"><span class="text-red">* </span>端口：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updatePort" onfocusin="focusIn($(this))" maxlength="5">
                                <label class="adt label-danger hidden" id="updatePortTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateIdentifier">识别码：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateIdentifier" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateDeviceCategory"><span class="text-red">* </span>设备类型：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateDeviceCategory" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateDeviceCategoryTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateDeviceModel"><span class="text-red">* </span>设备型号：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateDeviceModel" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateDeviceModelTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateScript"><span class="text-red">* </span>流程脚本版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateScript" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateScriptTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateFirmware"><span class="text-red">* </span>固件版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateFirmware" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateFirmwareTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateHardware"><span class="text-red">* </span>硬件版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateHardware" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateHardwareTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateApplication"><span class="text-red">* </span>应用层版本：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateApplication" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateApplicationTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateSite"><span class="text-red">* </span>所在场地：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateSite" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateSiteTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateAdministrator"><span class="text-red">* </span>设备管理员：</label>
                            <div class="col-sm-10">
                                <select class="ads form-control" id="updateAdministrator" onchange="focusIn($(this))"></select>
                                <label class="adt label-danger hidden" id="updateAdministratorTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="updateRemark">备注：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="updateRemark" maxlength="255">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateDevice()">修改</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 设备升级模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="upgradeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备升级</h4>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">机台号：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeCode" maxlength="32" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">设备名：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeDeviceName" maxlength="32" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">设备状态：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeDeviceState" maxlength="32" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">MAC地址：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeMacAddress" maxlength="48" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">IP地址：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeIp" maxlength="20" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">端口：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradePort" maxlength="5" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">识别码：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeIdentifier" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">设备类型：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeDeviceCategory" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">设备型号：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeDeviceModel" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>流程脚本版本：</label>
                            <div class="col-sm-10">
                                <div class="flexStyle">
                                    <select class="ads form-control" id="upgradeScript"></select>
                                    <button type="button" class="btn btn-primary upgrade-btn" onclick="deviceUpgrade.call(this,1)">升级</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>固件版本：</label>
                            <div class="col-sm-10">
                                <div class="flexStyle">
                                    <select class="ads form-control" id="upgradeFirmware"></select>
                                    <button type="button" class="btn btn-primary  upgrade-btn" onclick="deviceUpgrade.call(this,2)">升级</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>硬件版本：</label>
                            <div class="col-sm-10">
                                <div class="flexStyle">
                                    <select class="ads form-control" id="upgradeHardware"></select>
                                    <button type="button" class="btn btn-primary upgrade-btn" disabled="disabled" onclick="">升级</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>应用层版本：</label>
                            <div class="col-sm-10">
                                <div class="flexStyle">
                                    <select class="ads form-control" id="upgradeApplication"></select>
                                    <button type="button" class="btn btn-primary upgrade-btn" disabled="disabled" onclick="">升级</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>所在场地：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeSite" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">* </span>设备管理员：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeAdministrator" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="upgradeRemark" maxlength="255" disabled="disabled">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="placeNameModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">摆放位置</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="siteName">场地名：</label>
                        <textarea class="form-control" disabled="disabled" id="siteName" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="regionDescription">场地位置：</label>
                        <textarea class="form-control" disabled="disabled" id="regionDescription" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 批量升级模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="batchUpgradeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">批量升级</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs ui-sortable-handle" id="batchType">
                                <li class="active"><a href="#script_nav" data-toggle="tab" aria-expanded="true">流程脚本</a></li>
                                <li><a href="#firmware_nav" data-toggle="tab" aria-expanded="false">固件</a></li>
                                <li><a href="#hardware_nav" data-toggle="tab" aria-expanded="false">硬件</a></li>
                                <li><a href="#application_nav" data-toggle="tab" aria-expanded="false">应用层</a></li>
                            </ul>
                            <div class="tab-content no-padding">
                                <div class="tab-pane active in" id="script_nav">
                                    <div class="text-right" style="padding: 10px">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="batchRefresh(0, 'script')">刷新</button>
                                    </div>
                                    <div id="script_nav_table" style="overflow: auto">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>机台号</th>
                                                    <th>设备状态</th>
                                                    <th>设备型号</th>
                                                    <th>流程脚本版本</th>
                                                    <th class="text-info">升级结果</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody id="scriptList"></tbody>
                                        </table>
                                    </div>
                                    <div class="text-center" style="padding: 10px">
                                        <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addScriptListBtn" onclick="addBatchUpgradeTr(0, 'script')"><i class="fa fa-plus"></i> 添加新项</button>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="batchUpgrade(0, 'script')">升级</button>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="firmware_nav">
                                    <div class="text-right" style="padding: 10px">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="batchRefresh(1, 'firmware')">刷新</button>
                                    </div>
                                    <div id="firmware_nav_table" style="overflow: auto">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>机台号</th>
                                                    <th>设备状态</th>
                                                    <th>固件版本名称</th>
                                                    <th class="text-info">升级结果</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody id="firmwareList"></tbody>
                                        </table>
                                    </div>
                                    <div class="text-center" style="padding: 10px">
                                        <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addFirmwareListBtn" onclick="addBatchUpgradeTr(1, 'firmware')"><i class="fa fa-plus"></i> 添加新项</button>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="batchUpgrade(1, 'firmware')">升级</button>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="hardware_nav"></div>
                                <div class="tab-pane fade in" id="application_nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>