@model object

@{
    ViewBag.Title = "流程脚本管理";
    Layout = "_Layout";
}
<script src="~/mjs/DeviceManagement/script.js"></script>
<section class="content">
    <h2 class="text-center">流程脚本管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary btn-sm" onclick="showManageModel()">管理脚本版本</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="showUsuallyDictionaryTypeModel()">设置常用变量</button>
                <button type="button" class="btn btn-primary btn-sm" id="showAddModel" onclick="showAddModel()">添加脚本数据</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="tableToExcel()">导出脚本数据</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="getDeviceModelList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12 form-group form-inline">
                <div class="col-md-6 form-inline">
                    <label class="control-label" for="sDeviceModel">请选择设备型号：</label>
                    <select class="ads form-control" id="sDeviceModel"></select>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="control-label" for="sScriptVersion">请选择脚本版本：</label>
                    <select class="ads form-control" id="sScriptVersion"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">变量配置</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary btn-sm" onclick="getScriptVersionDetailList()">刷新</button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages" style="width:100%">
                            <table class="table table-hover table-striped" id="valList"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">输入口配置</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary btn-sm" onclick="getScriptVersionDetailList()">刷新</button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="inList"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">输出口配置</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary btn-sm" onclick="getScriptVersionDetailList()">刷新</button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="outList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="scriptVersionModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">脚本版本</h4>
                    <button type="button" class="btn btn-primary pull-right btn-sm" id="showAddScriptVersionModel" onclick="showAddScriptVersionModel()">添加脚本版本</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="scriptVersionList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addScriptVersionModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">脚本版本</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="addScriptVersionDeviceModel">请选择设备型号：</label>
                        <select class="ads form-control" id="addScriptVersionDeviceModel" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="addScriptVersionName"><span class="text-red">* </span>脚本名称：</label>
                        <input class="form-control" id="addScriptVersionName" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger hidden" id="addScriptVersionNameTip"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addScriptVersion()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="updateScriptVersionModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">脚本版本</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="updateScriptVersionDeviceModel">请选择设备型号：</label>
                        <select class="ads form-control" id="updateScriptVersionDeviceModel" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="updateScriptVersionName"><span class="text-red">* </span>脚本名称：</label>
                        <input class="form-control" id="updateScriptVersionName" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="label-danger hidden" id="updateScriptVersionNameTip"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateScriptVersion()">修改</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新脚本数据</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">请选择数据源：</label>
                        <select class="form-control" id="fScriptVersion">
                            <option value="0">手动录入</option>
                            <option value="1">从Json文件</option>
                            <option value="2">从Excel文件</option>
                            <option value="3">从Sql文件</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sDeviceModel">请选择设备型号：</label>
                        <select class="ads form-control" id="aDeviceModel"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="aDataType">请选择数据类型：</label>
                        <select class="form-control" id="aDataType"></select>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="addValues()">添加</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="reset()"><i class="fa fa-refresh"></i> 重置</button>
                    </div>
                    <div class="sd form-group" id="div0">
                        <div class="form-group">
                            <label class="control-label" for="sScriptVersion">请选择脚本版本：</label>
                            <select class="ads form-control" id="aScriptVersion"></select>
                        </div>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <td>序号</td>
                                    <td>名称</td>
                                    <td>地址</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="avBody">
                                <tr id="av1">
                                    <td><label class="control-label" id="avx1">1</label></td>
                                    <td><input class="form-control" id="avb1" maxlength="20"></td>
                                    <td><input class="form-control" oninput="value=value.replace(/[^\d]/g,'')" id="avd1" maxlength="5"></td>
                                    <td><button type="button" class="btn btn-default btn-sm" onclick="delSelf(1)"><i class="fa fa-minus"></i> 删除</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-default btn-sm" onclick="addOther()"><i class="fa fa-plus"></i> 添加新项</button>
                        </div>
                    </div>
                    <div class="sd form-group hidden" id="div1">
                        <div class="form-group">
                            <label class="control-label" for="sScriptVersion">请选择脚本版本：</label>
                            <select class="ads form-control" id="jScriptVersion"></select>
                        </div>
                        <label class="control-label">脚本名：</label>
                        <input class="form-control" placeholder="请选择或者输入脚本名" id="jsonName" maxlength="50">
                        <label class="control-label">文件路径：</label>
                        <input class="form-control" type="file" id="jsonFile">
                        <h3 class="text-center">脚本数据</h3>
                        <table class="table table-hover table-striped" id="jsonList">
                            <thead>
                                <tr>
                                    <td>序号</td>
                                    <td>变量名</td>
                                    <td>地址</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="sd form-group hidden" id="div2">
                        Excel
                    </div>
                    <div class="sd form-group hidden" id="div3">
                        Sql
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyDictionaryTypeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设置常用变量</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="udtScriptVersion">请选择脚本版本：</label>
                        <select class="ads form-control" id="udtScriptVersion"></select>
                    </div>
                    <div class="form-group">
                        <div class="table-responsive mailbox-messages" style="width:100%">
                            <table class="table table-hover table-striped" id="udtList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateUdt()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>