@model object

@{
    ViewBag.Title = "流程脚本管理";
    Layout = "_Layout";
}
<section class="content">
    <h2 style="font-size: 24px;text-align: center; height: 30px; line-height: 30px;">流程脚本管理</h2>
</section>