@model object

@{
    ViewBag.Title = "场地库管理";
    Layout = "_Layout";
}
<script src="~/mjs/DeviceManagement/Site.js"></script>
<section class="content">
    <h2 class="text-center">场地库管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">场地库</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" id="showAddSite" onclick="showAddSite()">添加场地库</button>
                <button type="button" class="btn btn-primary" onclick="getSiteList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="siteList"></table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新场地信息</h4>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>车间名：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addSiteName" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="addSiteNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>场地位置：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addLocations" onfocusin="focusIn($(this))" maxlength="255">
                                <label class="adt label-danger hidden" id="addLocationsTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">管理人：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addManager" maxlength="20">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addSite()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">场地信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body box">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>场地名：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateSiteName" onfocusin="focusIn($(this))" maxlength="20">
                                <label class="adt label-danger hidden" id="updateSiteNameTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-red">* </span>场地位置：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateRegions" onfocusin="focusIn($(this))" maxlength="255">
                                <label class="adt label-danger hidden" id="updateRegionsTip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">管理人：</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="updateManager" maxlength="20">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateSite()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" id="siteNameModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">场地</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="siteName">场地名：</label>
                    <textarea class="form-control" disabled="disabled" id="siteName" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="regionDescriptionModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">位置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="regionDescription">场地位置：</label>
                    <textarea class="form-control" disabled="disabled" id="regionDescription" style="resize: vertical; height: 100px; overflow-y: scroll;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>