@model object

<environment include="Development">
    <script src="~/mjs/ManufactureManagement/workSpace.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/workSpace.min.js"></script>
</environment>
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>

    </div>
</body>
</html>