@model object
@{
    ViewBag.Title = "检验工作台";
}
<environment include="Development">
    <script src="~/mjs/ManufactureManagement/CheckWorkSpace.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/CheckWorkSpace.min.js"></script>
</environment>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>生产管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border" id="getAccountCheckTaskBox">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label text-nowrap">切换工作组：</label>
                    <select class="ms2 form-control" id="groupSelect" style="width: 178px"></select>
                </div>
                <div class="form-group">
                    <label class="control-label text-nowrap">切换操作员：</label>
                        <select class="ms2 form-control" id="processorSelect" style="width: 120px"></select>
                    <button type="button" class="btn btn-primary" onclick="getCheckTask()">查询</button>
                </div>
            </div>
        </div>
        <div class="box-body box-content hidden">
            <div class="row">
                <div class="col-xs-6" style="text-align: left; padding-bottom: 10px">
                    <button type="button" id="getCheckTaskBtn" class="btn btn-info" onclick="getCheckTask()">刷新任务</button>
                    <button type="button" id="startBtn" class="btn btn-primary hidden" onclick="checkTaskHandle(0)">任务开始</button>
                    <button type="button" id="pauseBtn" class="btn btn-warning hidden" onclick="checkTaskHandle(1)">任务暂停</button>
                </div>
                <div class="col-xs-6" style="text-align: right; padding-bottom: 10px">
                    <button type="button" class="btn btn-success finish hidden" onclick="checkTaskHandle(2, 1)">合格</button>
                    <button type="button" class="btn btn-warning finish hidden" onclick="checkTaskHandle(2, 2)">返工</button>
                    <button type="button" class="btn btn-danger finish hidden" onclick="checkTaskHandle(2, 3)">阻塞</button>
                </div>
            </div>
            <div class="form-group" style="overflow-y: auto">
                <table class="table table-bordered table-responsive" style="margin: 0">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="mbold">检验单名称</td>
                            <td id="check"></td>
                            <td class="mbold">所属计划号</td>
                            <td id="plan"></td>
                        </tr>
                        <tr>
                            <td class="mbold">任务名称</td>
                            <td id="item"></td>
                            <td class="mbold">工序完成人</td>
                            <td id="processor"></td>
                        </tr>
                        <tr>
                            <td class="mbold">检验人</td>
                            <td id="checkProcessor"></td>
                            <td class="mbold">计划用时</td>
                            <td id="estimatedTime"></td>
                        </tr>
                        <tr>
                            <td class="mbold">开始时间</td>
                            <td id="actualStartTime"></td>
                            <td class="mbold">完成时间</td>
                            <td id="actualEndTime"></td>
                        </tr>
                        <tr>
                            <td class="mbold">绩效分</td>
                            <td id="score"></td>
                            <td class="mbold">实际用时</td>
                            <td id="actualTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="checkTaskList"></table>
                </div>
            </div>
            <div class="form-group">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs ui-sortable-handle">
                        <li class="active"><a href="#waitCheck" data-toggle="tab" aria-expanded="true">待检验</a></li>
                        <li><a href="#passCheck" data-toggle="tab" aria-expanded="false">检验通过</a></li>
                        <li><a href="#redoCheck" data-toggle="tab" aria-expanded="false">检验返工</a></li>
                        <li><a href="#blockCheck" data-toggle="tab" aria-expanded="false">阻塞</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="tab-pane active in" id="waitCheck">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getCheckList(0, '#waitCheckList')">刷新</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="waitCheckList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="passCheck">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getCheckList(1, '#passCheckList')">刷新</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="passCheckList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="redoCheck">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getCheckList(2, '#redoCheckList')">刷新</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="redoCheckList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="blockCheck">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getCheckList(3, '#blockCheckList')">刷新</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="blockCheckList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 检验单详情页面模态框 -->
    <div class="modal fade" tabindex="-1" id="showDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">检验单详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="showDetailList"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 图片查看页面模态框 -->
    <div class="modal fade" tabindex="-1" id="showImgModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">图片查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="hidden" id="checkId"></div>
                        <div class="form-group">
                            <label class="control-label textOverTop" id="imgOld">图片：</label>
                            <div class="form-group">
                                <div class="row" id="imgOldList"></div>
                            </div>
                        </div>
                        <div class="form-group noDetail">
                            <label class="control-label textOverTop">新图：</label>
                            <div id="addImgBox">
                                <input id="addImg" parent="addImgBox" type="file" name="filename[]" onchange="inputChange($(this), 'col-sm-9')">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary noDetail" onclick="updateImg()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
