@model object
@{
    ViewBag.Title = "检验配置";
    //Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/ManufactureManagement/check.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/check.min.js"></script>
</environment>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>生产管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="flexStyle" style="justify-content: space-between;flex-wrap: wrap">
                <div class="flexStyle" style="flex: 1;flex-wrap: wrap">
                    <label class="control-label" for="CheckSelect">选择配置：</label>
                    <select class="ms2 form-control" id="CheckSelect" style="width: 120px"></select>
                </div>
                <div class="flexStyle" style="flex: 1; justify-content: flex-end; align-self: flex-end">
                    <button type="button" class="btn btn-success" onclick="showCheckListModel()" id="showCheckListModelBtn">配置管理</button>
                    <button type="button" class="btn btn-primary" onclick="addOneCheckConfig()" style="margin-left:2px">新增</button>
                    <button type="button" class="btn btn-danger" onclick="delCheckConfig()" style="margin-left:2px">删除</button>
                    <button type="button" class="btn btn-primary" onclick="init(-1)" style="margin-left:2px">重置</button>
                    <button type="button" class="btn btn-primary" id="saveCheckConfigBtn" onclick="saveCheckConfig()" style="margin-left:2px">保存</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group" style="overflow-x: auto">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px;"><span style="vertical-align: middle">全选</span><input id="selectAll" type="checkbox" class="icb_minimal"></th>
                            <th style="width:50px;">序号</th>
                            <th>检验流程</th>
                            <th style="width:100px;">检验方法</th>
                        </tr>
                    </thead>
                    <tbody id="checkConfig"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 配置管理模态框 -->
    <div class="modal fade" tabindex="-1" id="checkListModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">配置管理</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle">
                        <label class="control-label text-nowrap" for="CheckListSelect">选择配置：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <select class="ms2 form-control" id="CheckListSelect" style="width: 120px"></select>
                        </div>
                        <button type="button" class="btn btn-danger" id="deleteCheckListBtn" onclick="deleteCheckList()" style="margin-left: 3px">删除</button>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label text-nowrap" for="CheckListName">新配置：</label>
                        <input class="form-control" id="CheckListName" maxlength="40"style="flex-basis:180px">
                        <label class="flexStyle" style="margin: 0; padding-left: 5px;cursor:pointer"><input type="checkbox" id="CopyCheckListChoose" class="icb_minimal"><span class="text-nowrap" style="margin-left: 5px">复用</span></label>
                        <button type="button" class="btn btn-primary" id="addCheckListBtn" onclick="addCheckList()" style="margin-left: 3px">新增</button>
                        <button type="button" class="btn btn-primary" id="updateCheckListBtn" onclick="updateCheckList()" style="margin-left: 3px">修改</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>