@model object
@{
    ViewBag.Title = "任务管理";
}
<environment include="Development">
    <script src="~/mjs/ManufactureManagement/Management.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/Management.min.js"></script>
</environment>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>生产管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-md-2 col-md-push-10" style="text-align: right">
                <button type="button" class="btn btn-success" onclick="showLogModel()">操作日志</button>
            </div>
            <div class="col-md-5 col-md-pull-2">
                <div class="flexStyle">
                    <div class="flexStyle" style="flex-wrap: wrap;flex:1">
                        <label class="control-label" style="white-space: nowrap; margin: 0">选择计划号：</label>
                        <select class="ms2 form-control" id="planSelect" style="width: 90%"></select>
                    </div>
                    <div class="flexStyle" style="flex-wrap: wrap;flex:1">
                        <label class="control-label" style="white-space: nowrap; margin: 0">选择操作员：</label>
                        <div class="flexStyle" style="width: 100%">
                            <select class="ms2 form-control" id="groupSelect" style="width: 50%"></select>
                            <select class="ms2 form-control" id="processorSelect" style="width: 50%"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-pull-2">
                <div class="flexStyle">
                    <div class="flexStyle" style="flex-wrap: wrap;flex: 2">
                        <label class="control-label" style="white-space: nowrap; margin: 0">选择进度：</label>
                        <select class="ms2 form-control" id="stateSelect" style="width: 90%"></select>
                    </div>
                    <div class="flexStyle" style="flex-wrap: wrap;flex: 3">
                        <label class="control-label" style="white-space: nowrap; margin: 0">实际开始：</label>
                        <div class="flexStyle" style="width: 100%">
                            <input type="text" class="form_date form-control text-center" id="startTime" style="cursor: pointer; width: 40%;min-width: 100px">
                            <label class="control-label" style="margin: 5px">至</label>
                            <input type="text" class="form_date form-control text-center" id="endTime" style="cursor: pointer; width: 40%;min-width: 100px">
                            <button type="button" class="btn btn-primary" onclick="getTaskList()" style="margin-left: 3px">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="hidden" id="taskTable" style="overflow: auto">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>操作员</th>
                            <th>计划号</th>
                            <th>进度</th>
                            <th>模块</th>
                            <th>任务名</th>
                            <th>总顺序</th>
                            <th>任务顺序</th>
                            <th>关联</th>
                            <th>排序</th>
                            <th>计划用时</th>
                            <th>绩效</th>
                            <th>实际开始</th>
                            <th>实际用时</th>
                            <th>实际绩效</th>
                            <th>详情</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="taskList"></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 日志模态框 -->
    <div class="modal fade" tabindex="-1" id="showLogModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">操作日志</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <label class="control-label" style="white-space: nowrap">计划号：<span class="spanStyle" id="planName"></span></label>
                        </div>
                        <div class="form-group" id="planTaskLog" style="white-space: nowrap; overflow: auto"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>