@model object
@{
    ViewBag.Title = "任务管理";
}
<environment include="Development">
    <script src="~/mjs/ManufactureManagement/management.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/management.min.js"></script>
</environment>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>生产管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-md-2 col-md-push-10" style="text-align: right">
                <button type="button" class="btn btn-success" onclick="showLogModel()" id="showLogModelBtn">操作日志</button>
            </div>
            <div class="col-md-10 col-md-pull-2">
                <div class="flexStyle" style="flex-wrap: wrap">
                    <div class="flexStyle">
                        <div style="margin-right: 20px">
                            <label class="control-label text-nowrap">选择计划号：</label>
                            <select class="ms2 form-control" id="planSelect" style="width: 100%"></select>
                        </div>
                        <div>
                            <label class="control-label text-nowrap">计划开始：</label>
                            <div class="flexStyle">
                                <input type="text" class="form_date form-control text-center" id="spTime" autocomplete="off" style="flex-basis: 150px; min-width: 100px">
                                <label class="control-label" style="margin: 5px">至</label>
                                <input type="text" class="form_date form-control text-center" id="epTime" autocomplete="off" style="flex-basis: 150px; min-width: 100px">
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="control-label text-nowrap">实际开始：</label>
                        <div class="flexStyle">
                            <input type="text" class="form_date form-control text-center" id="startTime" autocomplete="off" style="flex-basis: 150px; min-width: 100px">
                            <label class="control-label" style="margin: 5px">至</label>
                            <input type="text" class="form_date form-control text-center" id="endTime" autocomplete="off" style="flex-basis: 150px; min-width: 100px">
                            <button type="button" class="btn btn-primary" onclick="getTaskList()" style="margin-left: 3px">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="flexStyle" style="align-items: flex-start">
                <div style="position: relative;min-width: 30px;min-height: 30px;">
                    <div class="nav-tabs-custom" id="navBox">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li class="active"><a href="#stateBox" data-toggle="tab" aria-expanded="true">进度</a></li>
                            <li><a href="#processorBox" data-toggle="tab" aria-expanded="false">操作员</a></li>
                        </ul>
                        <div class="tab-content no-padding" style="width: 144px">
                            <div class="tab-pane active in" id="stateBox">
                                <label class="flexStyle pointer"><input type="checkbox" class="icb_minimal" id="stateAll" value="全选"><span class="textOverTop" style="margin-left: 5px">全选</span></label>
                                <div style="margin-left: 20px;padding-bottom:10px" id="stateCheck"></div>
                            </div>
                            <div class="tab-pane fade in" id="processorBox">
                                <div class="form-group">
                                    <label class="control-label text-nowrap">工作组：</label>
                                    <select class="ms2 form-control" id="groupSelect" style="width: 100%"></select>
                                </div>
                                <label class="flexStyle pointer"><input type="checkbox" class="icb_minimal" id="processorAll" value="全选"><span class="textOverTop" style="margin-left: 5px">全选</span></label>
                                <div style="margin-left: 20px;padding-bottom:10px" id="processorCheck"></div>
                            </div>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-triangle-left pointer" aria-hidden="true" title="收起" onclick="foldList.call(this)" style="position: absolute; right: 5px; top: 50%; font-size: 20px;color:#00A9FC"></span>
                </div>
                <div class="hidden" id="taskTable" style="overflow: auto; flex: 1">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>操作员</th>
                                <th>计划号</th>
                                <th>进度</th>
                                <th>模块</th>
                                <th>任务名</th>
                                <th>总顺序</th>
                                <th>任务顺序</th>
                                <th>关联</th>
                                <th class="upTask">排序</th>
                                <th>计划用时</th>
                                <th>绩效</th>
                                <th>实际开始</th>
                                <th>实际用时</th>
                                <th>实际绩效</th>
                                <th>详情</th>
                                <th class="taskHandle">操作</th>
                            </tr>
                        </thead>
                        <tbody id="taskList"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 日志模态框 -->
    <div class="modal fade" tabindex="-1" id="showLogModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">操作日志</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <label class="control-label" style="white-space: nowrap">计划号：<span class="spanStyle" id="planName"></span></label>
                        </div>
                        <div class="form-group" id="planTaskLog" style="white-space: nowrap; overflow: auto"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 任务查看模态框 -->
    <div class="modal fade" tabindex="-1" id="showTaskModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">任务查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="overflow-y: auto">
                            @*<div style="max-width: 600px;margin: auto">*@
                            <table class="table table-bordered table-responsive" style="margin: 0" id="taskDetailTable">
                                <thead></thead>
                                <tbody>
                                    <tr class="success">
                                        <td class="mbold">任务名称</td>
                                        <td id="taskName"></td>
                                        <td class="mbold">所属计划号</td>
                                        <td id="taskPlan"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">所属工作组</td>
                                        <td>
                                            <span class="textOn" id="taskGroupText"></span>
                                            <div class="textIn" style="width:100%;margin:auto">
                                                <select class="ms2 form-control" id="taskGroupSelect" style="width: 100%"></select>
                                            </div>
                                        </td>
                                        <td class="mbold">操作工</td>
                                        <td>
                                            <span class="textOn" id="taskProText"></span>
                                            <div class="textIn" style="width:100%;margin:auto">
                                                <select class="ms2 form-control" id="taskProSelect" style="width: 100%"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">预计用时</td>
                                        <td id="taskEstimatedTime">
                                            <span class="textOn"></span>
                                            <div class="flexStyle textIn hidden" style="justify-content: center; width: 135px;margin: auto">
                                                <input type="text" class="form-control text-center hour toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">小时</label>
                                                <input type="text" class="form-control text-center minute toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">分</label>
                                            </div>
                                        </td>
                                        <td class="mbold">绩效分</td>
                                        <td id="taskScore">
                                            <span class="textOn"></span>
                                            <input type="text" class="form-control text-center textIn hidden score toZero" maxlength="3" oninput="value=value.replace(/[^\-?\d]/g,'')" style="width:80px;margin:auto">
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">下发员</td>
                                        <td id="taskAssignor"></td>
                                        <td class="mbold">返工情况</td>
                                        <td id="taskRedo"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold text-red">实际开始</td>
                                        <td id="taskActualStartTime"></td>
                                        <td class="mbold text-red">实际结束</td>
                                        <td id="taskActualEndTime"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold text-red">实际用时</td>
                                        <td id="taskActualTime">
                                            <span class="textOn"></span>
                                            <div class="flexStyle textIn hidden" style="justify-content: center; width: 135px;margin: auto">
                                                <input type="text" class="form-control text-center hour toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">小时</label>
                                                <input type="text" class="form-control text-center minute toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">分</label>
                                            </div>
                                        </td>
                                        <td class="mbold text-red">实际绩效分</td>
                                        <td id="taskActualScore">
                                            <span class="textOn"></span>
                                            <input type="text" class="form-control text-center textIn hidden score toZero" maxlength="3" oninput="value=value.replace(/[^\-?\d]/g,'')" style="width:80px;margin:auto">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @*</div>*@
                        </div>
                        <div class="form-group">
                            <label class="control-label">任务内容描述：</label>
                            <textarea class="form-control" id="taskDesc" disabled="disabled" style="resize: vertical; height: 100px; overflow-y: scroll"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning btn-sm" id="updateTask">修改/取消</button>
                            <button type="button" class="btn btn-primary btn-sm updateTaskDetailBtn" onclick="updateTaskDetail()">保存</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 检验查看模态框 -->
    <div class="modal fade" tabindex="-1" id="showCheckModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">检验查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="overflow-y: auto">
                            @*<div style="max-width: 600px;margin: auto">*@
                            <table class="table table-bordered table-responsive" style="margin: 0" id="checkDetailTable">
                                <thead></thead>
                                <tbody>
                                    <tr class="success">
                                        <td class="mbold">检验单名称</td>
                                        <td id="checkName"></td>
                                        <td class="mbold">所属计划号</td>
                                        <td id="checkPlan"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">任务名称</td>
                                        <td id="checkTaskName"></td>
                                        <td class="mbold">任务操作工</td>
                                        <td id="checkTaskProcessor"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">下发员</td>
                                        <td id="checkAssignor"></td>
                                        <td class="mbold text-red">返工情况</td>
                                        <td id="checkRedo"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">所属工作组</td>
                                        <td>
                                            <span class="textOn" id="checkGroupText"></span>
                                            <div class="textIn" style="width:100%;margin:auto">
                                                <select class="ms2 form-control" id="checkGroupSelect" style="width: 100%"></select>
                                            </div>
                                        </td>
                                        <td class="mbold">检验人</td>
                                        <td>
                                            <span class="textOn" id="checkProText"></span>
                                            <div class="textIn" style="width:100%;margin:auto">
                                                <select class="ms2 form-control" id="checkProSelect" style="width: 100%"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold text-red">检验情况</td>
                                        <td id="checkResultDesc">
                                            <span class="textOn"></span>
                                            <div class="checkResult textIn hidden">
                                                <select class="form-control" id="checkResult">
                                                    <option value="1">合格</option>
                                                    <option value="2">返工</option>
                                                    <option value="3">阻塞</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold">预计用时</td>
                                        <td id="checkEstimatedTime">
                                            <span class="textOn"></span>
                                            <div class="flexStyle textIn hidden" style="justify-content: center; width: 135px;margin: auto">
                                                <input type="text" class="form-control text-center hour toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">小时</label>
                                                <input type="text" class="form-control text-center minute toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">分</label>
                                            </div>
                                        </td>
                                        <td class="mbold">绩效分</td>
                                        <td id="checkScore">
                                            <span class="textOn"></span>
                                            <input type="text" class="form-control text-center textIn hidden score toZero" maxlength="3" oninput="value=value.replace(/[^\-?\d]/g,'')" style="width:80px;margin:auto">
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold text-red">实际开始</td>
                                        <td id="checkActualStartTime"></td>
                                        <td class="mbold text-red">实际结束</td>
                                        <td id="checkActualEndTime"></td>
                                    </tr>
                                    <tr class="success">
                                        <td class="mbold text-red">实际用时</td>
                                        <td id="checkActualTime">
                                            <span class="textOn"></span>
                                            <div class="flexStyle textIn hidden" style="justify-content: center; width: 135px;margin: auto">
                                                <input type="text" class="form-control text-center hour toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">小时</label>
                                                <input type="text" class="form-control text-center minute toZero" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')">
                                                <label class="control-label" style="white-space: nowrap; margin: 0">分</label>
                                            </div>
                                        </td>
                                        <td class="mbold text-red">实际绩效分</td>
                                        <td id="checkActualScore">
                                            <span class="textOn"></span>
                                            <input type="text" class="form-control text-center textIn hidden score toZero" maxlength="3" oninput="value=value.replace(/[^\-?\d]/g,'')" style="width:80px;margin:auto">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @*</div>*@
                        </div>
                        <div class="form-group">
                            <label class="control-label">任务内容描述：</label>
                            <textarea class="form-control" id="checkDesc" disabled="disabled" style="resize: vertical; height: 100px; overflow-y: scroll"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="checkDetailList"></table>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-warning btn-sm" id="updateCheck">修改/取消</button>
                            <button type="button" class="btn btn-primary btn-sm updateTaskDetailBtn" onclick="updateCheckDetail()">保存</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 图片查看页面模态框 -->
    <div class="modal fade" tabindex="-1" id="showImgModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">图片查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <label class="control-label textOverTop" id="imgOld">图片：</label>
                            <div class="form-group">
                                <div class="row" id="imgOldList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>