@model object
@{
    ViewBag.Title = "任务工作台";
}
<environment include="Development">
    <script src="~/mjs/ManufactureManagement/TaskWorkSpace.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/ManufactureManagement/TaskWorkSpace.min.js"></script>
</environment>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>生产管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="box-header with-border">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label text-nowrap">切换工作组：</label>
                                <select class="ms2 form-control" id="groupSelect" style="width: 150px"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-nowrap">切换操作员：</label>
                                <select class="ms2 form-control" id="processorSelect" style="width: 120px"></select>
                                <button type="button" class="btn btn-primary" onclick="getAccountTask()" id="getAccountTaskBtn">查询</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="taskDetail">
                        <div class="form-group" style="overflow-y: auto">
                            <table class="table table-bordered table-responsive" style="margin: 0">
                                <thead></thead>
                                <tbody>
                                <tr class="success">
                                    <td class="mbold">任务名称</td>
                                    <td id="taskName"></td>
                                    <td class="mbold">所属计划号</td>
                                    <td id="planName"></td>
                                </tr>
                                <tr class="success">
                                    <td class="mbold">实际开始时间</td>
                                    <td id="actualStartTime"></td>
                                    <td class="mbold">目前用时</td>
                                    <td id="actualTime"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group" style="text-align: center">
                            <button type="button" class="btn btn-info" onclick="getAccountTask()">刷新任务</button>
                            <button type="button" class="btn btn-primary" onclick="taskHandle(0)" id="startBtn">任务开始</button>
                            <button type="button" class="btn btn-warning finish" onclick="taskHandle(1)" id="pauseBtn">任务暂停</button>
                            <button type="button" class="btn btn-success finish" onclick="taskHandle(2)" id="finishBtn">任务完成</button>
                            <div class="alert alert-info" role="alert" style="display: inline-block; font-size: 20px; padding: 10px; font-weight: bold" id="redo">
                                <span class="glyphicon glyphicon-tag" aria-hidden="true" style="vertical-align: -2px"></span>
                                <span>返工单</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">任务内容描述：</label>
                            <textarea class="form-control" id="taskDesc" disabled="disabled" style="resize: vertical; height: 100px; overflow-y: scroll"></textarea>
                        </div>
                        <div class="form-group" style="overflow-y: auto">
                            @*<div style="max-width: 600px;margin: auto">*@
                            <table class="table table-bordered table-responsive" style="margin: 0">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td class="mbold">计划用时</td>
                                    <td id="estimatedTime"></td>
                                    <td class="mbold">绩效分</td>
                                    <td id="score"></td>
                                </tr>
                                <tr>
                                    <td class="mbold">操作工</td>
                                    <td id="processor"></td>
                                    <td class="mbold">下发员</td>
                                    <td id="assignor"></td>
                                </tr>
                                <tr>
                                    <td class="mbold">下一个任务</td>
                                    <td id="nextTask"></td>
                                    <td class="mbold">检验人</td>
                                    <td id="checkProcessor"></td>
                                </tr>
                                </tbody>
                            </table>
                            @*</div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9" style="text-align: center">
                    <label style="font-size: 20px">任务绩效排行榜</label>
                    <div class="form-group" style="overflow-y: auto">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>名次</th>
                                    <th>姓名</th>
                                    <th>绩效</th>
                                </tr>
                            </thead>
                            <tbody id="scoreList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group hidden" id="finishList">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs ui-sortable-handle">
                        <li class="active"><a href="#unFinishEd" data-toggle="tab" aria-expanded="true">待完成</a></li>
                        <li><a href="#finishEd" data-toggle="tab" aria-expanded="false">已完成</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="tab-pane active in" id="unFinishEd">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getUnFinishedList(0, '#unFinishEdList',100)">更多</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="unFinishEdList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="finishEd">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="getUnFinishedList(1, '#finishEdList',100)">更多</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="finishEdList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>