@model object
@{
    ViewBag.Title = "6s检查记录";
    //Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/_6sManagement/log.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/_6sManagement/log.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>6s检查</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="form-group form-inline">
                <div class="form-group form-inline">
                    <label class="control-label" for="_6sItemCheckTime1">截止时间：</label>
                    <input class="form_date form-control text-center" type="text" id="_6sItemCheckTime1" style="display: inline;width: 90px; cursor: pointer">至
                    <input class="form_date form-control text-center" type="text" id="_6sItemCheckTime2" style="display: inline;width: 90px; cursor: pointer">
                    <label class="control-label" for="6sGroupSelect">6s分组：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="6sGroupSelect" style="width: 120px"></select>
                    </div>
                    <label class="control-label text-blue">总计:</label>
                    <label id="6sGroupAll" class="control-label text-blue">0</label>
                    <label class="control-label text-success">已评:</label>
                    <label id="6sGroupCount" class="control-label text-success">0</label>
                    <label class="control-label text-red">总评分:</label>
                    <label id="6sGroupScore" class="control-label text-red">0</label>
                </div>
                <div class="form-group form-inline no-margin pull-right" style="display: flex">
                    <div class="form-group no-margin">
                        <select class="form-control" id="_6sCondition1" onchange="showItem()">
                            <option value="0">负责人</option>
                            <option value="1">检查项目</option>
                            <option value="2">检查日期</option>
                            <option value="3">评分</option>
                        </select>
                    </div>
                    <div class="form-group no-margin">
                        <select class="form-control" id="_6sCondition2" onchange="showItem()">
                            <option value="0">等于</option>
                        </select>
                    </div>
                    <div class="form-group no-margin" id="_6sConditionDiv" style="width: 130px">
                        <div class="form-group 0">
                            <select class="ms2 form-control" id="_6sItemPerson" style="width:130px"></select>
                        </div>
                        <div class="form-group 1 hidden">
                            <input class="form-control" id="_6sItemName" oninput="showItem()" style="width: 100%;" maxlength="40">
                        </div>
                        <div class="form-group 2 hidden">
                            <input class="form_date form-control text-center" type="text" id="_6sItemTime" style="width: 100%;">
                        </div>
                        <div class="form-group 3 hidden">
                            <input class="form-control text-center" type="tel" style="width: 100%;" id="_6sItemScore" onkeyup="onInput(this, 8, 0)" onblur="onInputEnd(this)" maxlength="10" oninput="showItem()">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 5px;">
                        <button type="button" class="btn btn-primary" onclick="getItemList()">刷新</button>
                        <button type="button" class="btn btn-success" onclick="report()" id="reportBtn">保存</button>
                        <button type="button" class="btn btn-warning" onclick="groupRank()" id="groupRankBtn">排名</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="itemList"></table>
            </div>
        </div>
    </div>

    <!-- 分组排名模态框 -->
    <div class="modal fade" tabindex="-1" id="_6sGroupRankModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">6S检查分组排名</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="_6sGroupRankTime1">截止时间：</label>
                        <input class="form_date form-control text-center" type="text" id="_6sGroupRankTime1" style="display: inline;width: 90px; cursor: pointer">至
                        <input class="form_date form-control text-center" type="text" id="_6sGroupRankTime2" style="display: inline;width: 90px; cursor: pointer">
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="_6sGroupRankList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 分组员工排名模态框 -->
    <div class="modal fade" tabindex="-1" id="_6sGroupPersonRankModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">6S检查员工排名</h4>
                    <span id="_6sGroupGroupId" class="hidden"></span>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label text-red" for="_6sGroupGroup">分组名：</label>
                        <label class="control-label text-red" id="_6sGroupGroup"></label>
                        <label class="control-label" for="_6sGroupRankTime1">截止时间：</label>
                        <input class="form_date form-control text-center" type="text" id="_6sGroupPersonRankTime1" style="display: inline;width: 90px; cursor: pointer">至
                        <input class="form_date form-control text-center" type="text" id="_6sGroupPersonRankTime2" style="display: inline;width: 90px; cursor: pointer">
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="_6sGroupPersonRankList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 分组员工负责的检查项详情模态框 -->
    <div class="modal fade" tabindex="-1" id="_6sGroupPersonItemRankModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">6S检查员工负责项</h4>
                    <span id="_6sGroupPersonId" class="hidden"></span>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="_6sGroupRankTime1">截止时间：</label>
                        <input class="form_date form-control text-center" type="text" id="_6sGroupPersonItemRankTime1" style="display: inline;width: 90px; cursor: pointer">至
                        <input class="form_date form-control text-center" type="text" id="_6sGroupPersonItemRankTime2" style="display: inline;width: 90px; cursor: pointer">
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="_6sGroupPersonItemList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 图片查看页面模态框 -->
    <div class="modal fade" tabindex="-1" id="showImgModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">图片查看</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="hidden" id="checkId"></div>
                        <div class="form-group">
                            <label class="control-label textOverTop">检查项目：<span id="checkName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop" id="imgOld">图片：</label>
                            <div class="form-group">
                                <div class="row" id="imgOldList"></div>
                            </div>
                        </div>
                        <div class="form-group new hidden">
                            <label class="control-label textOverTop">新图：</label>
                            <div id="addImgBox">
                                <input id="addImg" parent="addImgBox" type="file" name="filename[]" onchange="inputChange($(this), 'col-sm-9')">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="updateImg()" id="updateImgBtn">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
