@model object
@{
    ViewBag.Title = "物料管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/MaterialManagement/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/MaterialManagement/index.min.js"></script>
</environment>
<section class="content ">
    <h2 class="text-center">物料管理</h2>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-warning btn-sm" onclick="createQrModal()">
                    <span class="glyphicon glyphicon-qrcode"></span>&nbsp;<span>生成</span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" onclick="showIncreaseModel()">入库</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="showConsumeModel()">领用</button>
                <button type="button" class="btn btn-success btn-sm" onclick="showLogModel(1)">入库日志</button>
                <button type="button" class="btn btn-success btn-sm" onclick="showLogModel(2)">领用日志</button>
                <button type="button" class="btn btn-success btn-sm" onclick="showLogModel(0)">操作日志</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="getMaterialList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group form-inline">
                <div class="form-group">
                    <label class="control-label" for="categorySelect">类别：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="categorySelect" style="width: 160px"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="nameSelect">名称：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="nameSelect" style="width: 160px"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="nameSelect">供应商：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="supplierSelect" style="width: 160px"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="nameSelect">规格：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="specificationSelect" style="width: 160px"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="nameSelect">位置：</label>
                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                        <select class="ms2 form-control" id="siteSelect" style="width: 160px"></select>
                    </div>
                </div>
            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="materialList"></table>
            </div>
        </div>
    </div>

    <!-- 入库模态框 -->
    <div class="modal fade" tabindex="-1" id="increaseModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">入库</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-default btn-sm" onclick="resetIncreaseList()"><i class="fa fa-refresh"></i> 重置</button>
                        <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addIncreaseListBtn" onclick="addIncreaseList()"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                    <div class="form-group" style="overflow-x: auto">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>来源</th>
                                    <th>货品编号</th>
                                    <th>类别</th>
                                    <th>名称</th>
                                    <th>供应商</th>
                                    <th>规格</th>
                                    <th>位置</th>
                                    <th>单位</th>
                                    <th>价格</th>
                                    <th>剩余库存</th>
                                    <th>货品详情</th>
                                    <th>入库数量</th>
                                    <th>采购/退回人</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody id="increaseList"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="increase()">入库</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 领用模态框 -->
    <div class="modal fade" tabindex="-1" id="consumeModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">领用</h4>
                </div>
                <div class="modal-body" style="padding-top: inherit;">
                    <div class="row">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs ui-sortable-handle">
                                <li class="active"><a id="planConsumeLi" href="#planConsume" data-toggle="tab" onclick="tabClick(0)" aria-expanded="true">计划</a></li>
                                <li><a href="#otherConsume" data-toggle="tab" onclick="tabClick(1)" aria-expanded="false">其他</a></li>
                            </ul>
                            <div class="tab-content no-padding">
                                <div class="tab-pane active in" id="planConsume">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label class="control-label" for="consumePlanSelect">计划：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <select class="ms2 form-control" id="consumePlanSelect" style="width: 160px"></select>
                                                </div>
                                            </div>
                                            <div class="form-group hidden no-margin" id="consumePlanRemarkDiv">
                                                <label class="control-label" for="consumePlanRemark">备注：</label>
                                                <span class="control-label" id="consumePlanRemark"></span>
                                            </div>
                                            <div class="form-group form-inline no-margin">
                                                <div class="form-group col-md-2 no-margin" style="padding-left: 0;">
                                                    <label class="control-label">清单：</label>
                                                </div>
                                                <div class="form-group col-md-10 no-margin">
                                                    <div class="form-group form-inline no-margin pull-right" style="display:flex">
                                                        <div class="form-group no-margin">
                                                            <select class="form-control" id="consumePlanCondition1" onchange="showPlanBill(true)">
                                                                <option value="Code">货品编号</option>
                                                                <option value="Category">货品类别</option>
                                                                <option value="Name">货品名称</option>
                                                                <option value="Supplier">供应商</option>
                                                                <option value="Specification">规格型号</option>
                                                                <option value="Site">货品位置</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group no-margin">
                                                            <select class="form-control" id="consumePlanCondition2" onchange="showPlanBill(true)">
                                                                <option value="0">等于</option>
                                                                <option value="1">不等于</option>
                                                                <option value="2">包含</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group no-margin">
                                                            <input class="form-control" id="consumePlanCondition" oninput="showPlanBill(true)" maxlength="20">
                                                        </div>
                                                        <div class="form-group no-margin">
                                                            <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addConsumePlanListBtn" onclick="addConsumePlanList()"><i class="fa fa-plus"></i> 添加新项</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="overflow-x: auto">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>序号</td>
                                                        <td class="text-blue">货品编号</td>
                                                        <td class="text-info">货品类别</td>
                                                        <td class="text-info">货品名称</td>
                                                        <td class="text-info">供应商</td>
                                                        <td class="text-info">规格型号</td>
                                                        <td class="text-info">位置</td>
                                                        <td>单位</td>
                                                        <td>货品详情</td>
                                                        <td>计划用量</td>
                                                        <td>实际用量</td>
                                                        <td class="text-red">剩余库存</td>
                                                        <td>领用数量</td>
                                                        <td>领用人</td>
                                                        <td>日志</td>
                                                        <td>删除</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="consumePlanList"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="otherConsume">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="form-group form-inline">
                                                <label class="control-label" for="consumeOther">用途：</label>
                                                <input class="form-control" id="consumeOther" onfocusin="focusIn($(this))" maxlength="200" onchange="consumeOtherActual()">
                                            </div>
                                            <div class="form-group form-inline no-margin">
                                                <div class="form-group col-md-2 no-margin" style="padding-left: 0;">
                                                    <label class="control-label">清单：</label>
                                                </div>
                                                <div class="form-group col-md-10 no-margin">
                                                    <div class="form-group form-inline no-margin pull-right no-margin" style="display:flex">
                                                        <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="addConsumeOtherListBtn" onclick="addConsumeOtherList()"><i class="fa fa-plus"></i> 添加新项</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="overflow-x: auto">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>序号</td>
                                                        <td class="text-blue">货品编号</td>
                                                        <td class="text-info">货品类别</td>
                                                        <td class="text-info">货品名称</td>
                                                        <td class="text-info">供应商</td>
                                                        <td class="text-info">规格型号</td>
                                                        <td class="text-info">位置</td>
                                                        <td>单位</td>
                                                        <td>货品详情</td>
                                                        <td class="text-red">剩余库存</td>
                                                        <td>领用数量</td>
                                                        <td>领用人</td>
                                                        <td>日志</td>
                                                        <td>删除</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="consumeOtherList"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="consumeShow()">领用</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 领用确认模态框 -->
    <div class="modal fade" tabindex="-1" id="consumeConfirmModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">领用确认</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="consumePurpose">用途：</label>
                        <label class="control-label text-red" id="consumePurpose"></label>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="consumeConfirmList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="consume()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 日志模态框 -->
    <div class="modal fade" tabindex="-1" id="logModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="logStartDate">时间范围：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <input type="text" id="logStartDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                            <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                            <input type="text" id="logEndDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="logBillSelect">货品编号：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <select class="ms2 form-control" id="logBillSelect" style="width: 160px"></select>
                        </div>
                    </div>
                    <div class="form-group hidden" id="billInfo">
                        <div class="form-group">
                            <label class="control-label" for="logCategory">货品类别：</label>
                            <label class="control-label" id="logCategory"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logName">货品名称：</label>
                            <label class="control-label" id="logName"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logSupplier">供应商：</label>
                            <label class="control-label" id="logSupplier"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logSpecification">规格型号：</label>
                            <label class="control-label" id="logSpecification"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logPrice">货品价格：</label>
                            <label class="control-label" id="logPrice"></label>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="logList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 计划日志模态框 -->
    <div class="modal fade" tabindex="-1" id="logConsumeModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="logStartDate">时间范围：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <input type="text" id="logConsumeStartDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                            <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                            <input type="text" id="logConsumeEndDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                        </div>
                    </div>
                    <div class="form-group" id="logConsumePlanSelectDiv">
                        <label class="control-label" for="logBillSelect">计划号：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <select class="ms2 form-control" id="logConsumePlanSelect" style="width: 160px"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="logConsumeBillSelect">货品编号：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <select class="ms2 form-control" id="logConsumeBillSelect" style="width: 160px"></select>
                        </div>
                    </div>
                    <div class="form-group hidden" id="billInfoConsume">
                        <div class="form-group">
                            <label class="control-label" for="logConsumeCategory">货品类别：</label>
                            <label class="control-label" id="logConsumeCategory"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logConsumeName">货品名称：</label>
                            <label class="control-label" id="logConsumeName"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logConsumeSupplier">供应商：</label>
                            <label class="control-label" id="logConsumeSupplier"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logConsumeSpecification">规格型号：</label>
                            <label class="control-label" id="logConsumeSpecification"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logConsumePrice">货品价格：</label>
                            <label class="control-label" id="logConsumePrice"></label>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="logConsumeList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 详情模态框 -->
    <div class="modal fade" tabindex="-1" id="showDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">编号：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 220px" id="detailCode">
                        </div>
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">类别：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 220px" id="detailCategory">
                        </div>
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">名称：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 220px" id="detailName">
                        </div>
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">供应商：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 206px" id="detailSupplier">
                        </div>
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">规格：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 220px" id="detailSpecification">
                        </div>
                        <div class="form-group" style="display: flex; align-items: center">
                            <label class="control-label" style="white-space: nowrap">位置：</label>
                            <input type="text" class="form-control" readonly style="flex-basis: 220px" id="detailSite">
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="white-space: nowrap">图片：</label>
                            <div class="form-group">
                                <div class="row" id="detailImgList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 生成二维码弹窗 -->
    <div class="modal fade" tabindex="-1" id="createQrModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">生成二维码</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="display: flex">
                            <div style="flex: 1">
                                <label class="control-label" style="white-space: nowrap; margin: 0">货品类别：</label>
                                <select class="ms2 form-control" id="categoryQr" style="width: 95%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label" style="white-space: nowrap; margin: 0">货品名称：</label>
                                <select class="ms2 form-control" id="nameQr" style="width: 95%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label" style="white-space: nowrap; margin: 0">供应商：</label>
                                <select class="ms2 form-control" id="supplierQr" style="width: 95%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label" style="white-space: nowrap; margin: 0">规格型号：</label>
                                <select class="ms2 form-control" id="specificationQr" style="width: 95%"></select>
                            </div>
                            <div style="flex: 1">
                                <label class="control-label" style="white-space: nowrap; margin: 0">位置：</label>
                                <select class="ms2 form-control" id="siteQr" style="width: 95%"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group" style="display: flex;justify-content: space-between">
                                <button type="button" class="btn btn-warning btn-sm" onclick="getQrList()">
                                    <span class="glyphicon glyphicon-qrcode"></span>&nbsp;<span>生成</span>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="printCode('qrCodeList', 'iframe')">
                                    <span class="glyphicon glyphicon-print"></span>&nbsp;<span>打印</span>
                                </button>
                            </div>
                            <div id="qrCodeList" style="display: flex; flex-wrap: wrap"></div>
                            <iframe id="iframe" name="iframe" class="hidden"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>