@model object
@{
    ViewBag.Title = "货品名称管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/MaterialManagement/name.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/MaterialManagement/name.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>物料管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="row">
                <div class="form-group col-md-5" style="display: flex;align-items:center">
                    <label class="control-label" style="margin: 0;white-space:nowrap">类别：</label>
                    <select class="ms2 form-control" id="categorySelect"></select>
                </div>
                <div class="col-md-7">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="updateName()">保存</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="addNameModal()">添加</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="delName()">删除</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="getNameList()">刷新</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="nameList"></table>
            </div>
        </div>
    </div>
    <!-- 添加名称模态框 -->
    <div class="modal fade" tabindex="-1" id="addNameModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加新名称</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="text-red">* </span>类别：</label>
                                <div class="col-sm-10">
                                    <select class="ms2 form-control" id="addCategorySelect" style="width:100%"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="text-red">* </span>新名称：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="addName" onfocusin="focusIn($(this))" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="addRemark" onfocusin="focusIn($(this))" maxlength="200">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="addCategory()">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
