@model object
@{
    ViewBag.Title = "请购管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/MaterialManagement/purchase.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/MaterialManagement/purchase.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>物料管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ui-sortable-handle">
                <li class="active"><a href="#purchaseFlow" data-toggle="tab" aria-expanded="true">请购流程</a></li>
                <li><a href="#config" data-toggle="tab" aria-expanded="false">设置</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active in" id="purchaseFlow">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">请购单状态</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary" onclick="getPurchase()">刷新</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group flexStyle" style="justify-content: flex-end">
                                        <select class="ms2 form-control" id="groupSelect" style="width: 140px"></select>
                                        <select class="ms2 form-control" id="qgProcessor" style="width: 100px"></select>
                                        <select class="form-control" id="cgProcessor" style="width: 90px"></select>
                                        <select class="form-control" id="formState" style="width: 120px">
                                            <option value="-1">全部状态</option>
                                            <option value="0">正常</option>
                                            <option value="2">审核完成</option>
                                            <option value="3">开始采购</option>
                                            <option value="4">仓库到货</option>
                                            <option value="7">ERP已入库</option>
                                            <option value="5">订单完成</option>
                                            <option value="1">中止</option>
                                            <option value="6">撤销</option>
                                        </select>
                                        <input class="form-control" id="cgOrder" onfocusout="getPurchase()" maxlength="15" style="width: 110px">
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="stateList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title" id="inWareBox">请购单入库</h3>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="inWareList"></table>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary" disabled="disabled" onclick="inWareListSave()" id="inWareListSaveBtn">入库</button>
                                        <button class="btn btn-primary" disabled="disabled" onclick="finishInWareList()" id="finishInWareListBtn">完成采购订单</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">入库单</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary" disabled="disabled" id="citePurchaseListBtn" onclick="citePurchaseList()">引用请购单</button>
                                        <button class="btn btn-warning" onclick="resetPurchaseList()">重置</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="flexStyle" style="flex-wrap:wrap">
                                        <div class="flexStyle form-group">
                                            <label class="control-label text-nowrap no-margin">采购公司：</label>
                                            <input type="text" class="form-control" id="purchasingCompany" autocomplete="off" style="width:250px">
                                        </div>
                                        <div class="flexStyle form-group">
                                            <label class="control-label text-nowrap no-margin">日期：</label>
                                            <input type="text" class="form_date form-control pointer text-center" id="cgTime" style="width:140px">
                                        </div>
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="purchaseList"></table>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-default btn-sm hidden" id="addPurchaseListBtn" onclick="addPurchaseTr()"><i class="fa fa-plus"></i> 添加新项</button>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-primary" onclick="updatePurchaseList()">保存</button>
                                        <button class="btn btn-info" id="printPurchaseListBtn" onclick="printPurchaseList()">订单打印</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="config">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">设置部门</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary" id="updateDepartmentBtn" onclick="updateDepartment()">设置</button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <label class="flexStyle pointer"><input type="checkbox" class="icb_minimal" id="departmentAll" value="全选"><span class="textOverTop" style="margin-left: 5px">全选</span></label>
                                    <div style="margin-left: 20px; max-height: 70vh; overflow: auto" id="departmentItem"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>