@charset "utf-8";
/* CSS Document */
.kb_body {
    width: 100%;
    height: 100%;
    background-image: url('../../images/kb/statebg.jpg');
    background-size: 100% 100%;
}

.kb_time1 {
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 1;
    color: white;
}

.kb_fullscreen1 {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    z-index: 1;
    color: white;
}

.kb_fullscreen2 {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    z-index: 1;
    color: white;
}

.kb_title1 {
    width: 20%;
    height: 100%;
    background-image: url('../../images/kb/statetiltle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
}

.kb_title2 {
    width: 80%;
    /*height: 100%;*/
    background-image: url('../../images/kb/statetiltle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
}

.kb_title3 {
    width: 50%;
    height: 100%;
    background-image: url('../../images/kb/statetiltle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    white-space: nowrap;
}

.kb_div1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.kb_div2 {
    background-color: dodgerblue;
    border-top-color: cyan;
    background-color: transparent;
    /*overflow-y: auto;*/
    overflow-y: hidden;
}

.kb_flex_div1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
    width: 100%;
}

.kb_border1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px #0174f5 solid;
    padding: 5px;
    box-sizing: border-box;
}

.kb_border2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #016ae0;
    border-radius: 10px;
}

.kb_border3 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #016ae0;
    border-radius: 10px;
    overflow: auto;
}

.kb_device_div1 {
    flex-basis: 190px;
    height: 190px;
    background: #dcdcdc;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

.kb_img1 {
    position: relative;
    top: 2%;
    width: 90%;
    height: 90%;
}
/*垂直居中*/
.kb_param1 {
    white-space: nowrap;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.kb_item_div1 {
    width: 50px;
    margin: 5px;
}

.kb_item_col1 {
    color: red;
}

.kb_item_col2 {
    width: 70px !important;
}

.kb_item_col3 {
}

.kb_item_pre_div1 {
    background-color: #d3d7d4;
}

.kb_item_pre_div2 {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}

.kb_item_pre_div3 {
    /*background-color: #afdfe4;*/
    width: 30%;
    height: 100%;
    border: 1px solid red; 
}

.kb_item_tablebox {
    padding: 5px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*margin: 10px auto;*/
    /*background-color: rgba(6,26,103,1);*/
}

    .kb_item_tablebox table {
        width: 100%;
    }

        .kb_item_tablebox table th,
        .kb_item_tablebox table td {
            font-size: 2rem;
            color: white;
            /*line-height: 45px;*/
            text-align: center;
        }