@charset "utf-8";
/* CSS Document */
.tablebox {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*margin: 10px auto;*/
    /*background-color: rgba(6,26,103,1);*/
}

.tbl-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.tbl-body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tablebox table {
    width: 100%;
}

    .tablebox table th,
    .tablebox table td {
        /*font-size: 18px;*/
        color: white;
        /*line-height: 45px;*/
        text-align: center;
    }

    .tablebox table tr th {
        /*background-color: #1f1f9c;*/
        cursor: pointer;
    }

    .tablebox table tr td {
        background-color: transparent;
    }

.tbl-body tr:nth-child(even) td, .tbl-body1 tr:nth-child(even) td {
    background-color: rgba(31, 31, 156, .5);
}

.tablebox table tr td span,
.tablebox table tr td span {
    font-size: 24px;
}