@model object

@{
    ViewBag.Title = "故障统计";
    Layout = "_Layout";
}
<script src="~/mjs/StatisticManagement/fault.js"></script>
<section class="content">
    <h2 class="text-center">故障统计</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">故障列表</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
        </div>
    </div>
</section>