@model object

@{
    ViewBag.Title = "故障统计";
    Layout = "_Layout";
}
<script src="~/mjs/StatisticManagement/Index.js"></script>
<section class="content">
    <h2 class="text-center">故障统计</h2>
</section>