
@model object

@{
    ViewBag.Title = "加工记录";
    Layout = "_Layout";
}
<script src="~/mjs/StatisticManagement/Index.js"></script>
<section class="content">
    <h2 class="text-center">加工记录统计</h2>
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ui-sortable-handle">
                <li class="active"><a href="#processTrend" data-toggle="tab" aria-expanded="true">加工趋势</a></li>
                <li><a href="#processDetail" data-toggle="tab" aria-expanded="false">加工详情</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active in" id="processTrend">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="selectWorkShop">选择车间：</label>
                                <select class="ms2 form-control" style="width: 100%" id="selectWorkShop"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="selectDevice">选择车间设备：</label>
                                <select class="ms2 form-control" style="width: 100%" multiple="multiple" id="selectDevice"></select>
                            </div>
                            <div class="form-group form-inline">
                                <div class="form-group">
                                    <label class="control-label">开始时间：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="selectStartDate" class="form_date form-control" style="width: 95px;cursor:pointer">
                                        <span>&nbsp;-&nbsp;</span>
                                        <input type="text" id="selectStartTime" class="form_time form-control" style="width: 75px;cursor:pointer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">结束时间：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="selectEndDate" class="form_date form-control" style="width: 95px;cursor:pointer">
                                        <span>&nbsp;-&nbsp;</span>
                                        <input type="text" id="selectEndTime" class="form_time form-control" style="width: 75px;cursor:pointer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="createChart()">生成图表</button>
                                    <button type="button" class="btn btn-info" onclick="hourChart()" style="margin-left: 10px">一小时以内</button>
                                    <button type="button" class="btn btn-info" onclick="dayChart()">一天以内</button>
                                    <button type="button" class="btn btn-info" onclick="monthChart()">一个月以内</button>
                                </div>
                            </div>
                            <div id="recordChart">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="processDetail">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="selectWorkShop1">选择车间：</label>
                                <select class="ms2 form-control" style="width: 100%" id="selectWorkShop1"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="selectDevice1" style="vertical-align: middle">选择车间设备：</label>
                                <label class="control-label" for="checkAll" style="vertical-align: middle"><input type="checkbox" class="icb_minimal" id="checkAll" style="vertical-align: middle"><span style="margin-left: 5px;vertical-align: middle">所有</span></label>
                                <select class="ms2 form-control" style="width: 100%" multiple="multiple" id="selectDevice1"></select>
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label" for="selectDevice1">选择时间：</label>
                                <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                    <input type="text" id="selectDayDate" class="form_date form-control" style="width: 120px;cursor:pointer">
                                    <button type="button" class="btn btn-primary" onclick="getProcessDetail()" style="margin-left: 4px">查询</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <pre class="hidden" id="noProcessDetailData" style="font-size: 15px; font-family: '微软雅黑'"></pre>
                            </div>
                            <div class="form-group" id="processDetailData"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="processModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">工艺详情</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="processList" style="padding-right: 10px;"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>