
@model object

@{
    ViewBag.Title = "加工记录";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/StatisticManagement/Index.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/StatisticManagement/Index.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>数据统计</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ui-sortable-handle">
                <li class="active"><a href="#processTrend" data-toggle="tab" aria-expanded="true">加工趋势</a></li>
                <li><a href="#processDetail" data-toggle="tab" aria-expanded="false">加工详情</a></li>
                <li><a href="#production" data-toggle="tab" aria-expanded="false">生产数据</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active in" id="processTrend">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="selectWorkShop"><span class="text-red">* </span>请选择车间：</label>
                                <select class="ms2 form-control" style="width: 100%" id="selectWorkShop"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="selectDevice"><span class="text-red">* </span>请选择车间设备：</label>
                                <select class="ms2 form-control" style="width: 100%" multiple="multiple" id="selectDevice"></select>
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label" for="par"><span class="text-red">* </span>请选择参数：</label>
                                <div id="par" style="display: -webkit-inline-box">
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="ProcessCount"><span style="margin-left: 5px">每日加工次数</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="ProcessTime"><span style="margin-left: 5px">每日加工时间</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="TotalProcessCount"><span style="margin-left: 5px">总加工次数</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="TotalProcessTime"><span style="margin-left: 5px">总加工时间</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="Use"><span style="margin-left: 5px">同时加工台数</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="Total"><span style="margin-left: 5px">总台数</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="icb_minimal" value="Rate"><span style="margin-left: 5px">使用率</span></label>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div class="form-group">
                                    <label class="control-label">开始时间：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="selectStartDate" class="form_date form-control" style="width: 95px;cursor:pointer">
                                        <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                                        <input type="text" id="selectStartTime" class="form_time form-control" style="width: 75px;cursor:pointer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">结束时间：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="selectEndDate" class="form_date form-control" style="width: 95px;cursor:pointer">
                                        <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                                        <input type="text" id="selectEndTime" class="form_time form-control" style="width: 75px;cursor:pointer">
                                    </div>
                                </div>
                                <div class="form-group" id="parTime">
                                    <label style="margin-left: 5px;cursor:pointer"><input type="radio" name="dRadio" class="icb_minimal" value="0"><span style="margin-left: 5px">秒</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="radio" name="dRadio" class="icb_minimal" value="3"><span style="margin-left: 5px">分</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="radio" name="dRadio" class="icb_minimal" value="1"><span style="margin-left: 5px">小时</span></label>
                                    <label style="margin-left: 5px;cursor:pointer"><input type="radio" name="dRadio" class="icb_minimal" value="2"><span style="margin-left: 5px">天</span></label>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary createChart" onclick="createChart()">生成图表</button>
                                    <button type="button" class="btn btn-info createChart" onclick="hourChart()" style="margin-left: 10px">一小时以内</button>
                                    <button type="button" class="btn btn-info createChart" onclick="dayChart()">一天以内</button>
                                    <button type="button" class="btn btn-info createChart" onclick="monthChart()">一个月以内</button>
                                </div>
                            </div>
                            <div id="recordChart">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="processDetail">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="selectWorkShop1">选择车间：</label>
                                <select class="ms2 form-control" style="width: 100%" id="selectWorkShop1"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="selectDevice1" style="vertical-align: middle">选择车间设备：</label>
                                <label class="control-label" for="checkAll" style="vertical-align: middle"><input type="checkbox" class="icb_minimal" id="checkAll" style="vertical-align: middle"><span style="margin-left: 5px;vertical-align: middle">所有</span></label>
                                <select class="ms2 form-control" style="width: 100%" multiple="multiple" id="selectDevice1"></select>
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label">是否选择计划号：</label>
                                <div style="display: -webkit-inline-box">
                                    <label style="margin-left: 5px;cursor:pointer"><input type="checkbox" class="planHead icb_minimal" style="vertical-align:middle"><span style="margin-left: 5px;vertical-align:middle">计划号</span></label>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div class="form-group">
                                    <label class="control-label" for="selectDevice1">时间范围：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="selectDayDate" class="form_date form-control" style="width: 120px;cursor:pointer">
                                        <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                                        <input type="text" id="selectDay2Date" class="form_date form-control" style="width: 120px;cursor:pointer">
                                    </div>
                                </div>
                                <div class="planBody form-group hidden">
                                    <label class="control-label" for="selectJhList">计划号：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                                        <select class="form-control" id="selectJhList" style="width: 160px"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="getProcessDetail()" id="getProcessDetailBtn" style="margin-left: 4px">查询</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <pre class="hidden" id="noProcessDetailData" style="font-size: 15px; font-family: '微软雅黑'"></pre>
                            </div>
                            <div class="form-group" id="processDetailData">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="production">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group flexStyle" style="flex-wrap: wrap">
                                <div class="flexStyle">
                                    <label class="control-label no-margin"><span class="text-red">* </span>车间：</label>
                                    <select class="ms2 form-control" id="productionWorkShop" style="width: 150px"></select>
                                </div>
                                <div class="flexStyle">
                                    <label class="control-label no-margin"><span class="text-red">* </span>设备：</label>
                                    <select class="ms2 form-control" id="productionDevice" style="width: 150px"></select>
                                </div>
                                <label class="control-label no-margin">类型：<span id="deviceType"></span></label>
                            </div>
                            <div class="form-group flexStyle">
                                <label class="control-label no-margin">时间：</label>
                                <input type="text" class="form_date form-control text-center pointer" id="productionSTime" style="flex-basis: 140px; min-width: 100px">
                                <label class="control-label" style="margin: 5px">-</label>
                                <input type="text" class="form_date form-control text-center pointer" id="productionETime" style="flex-basis: 140px; min-width: 100px">
                            </div>
                            <div class="form-group flexStyle" style="flex-wrap: wrap" id="production_par">
                                <label class="control-label no-margin">请选择参数：</label>
                                <label class="flexStyle pointer" style="margin: 0;margin-left: 10px"><input type="checkbox" class="icb_minimal" value="FaChu"><span class="textOverTop" style="margin-left: 5px">生产总数</span></label>
                                <label class="flexStyle pointer" style="margin: 0;margin-left: 10px"><input type="checkbox" class="icb_minimal" value="HeGe"><span class="textOverTop" style="margin-left: 5px">合格数</span></label>
                                <label class="flexStyle pointer" style="margin: 0;margin-left: 10px"><input type="checkbox" class="icb_minimal" value="LiePian"><span class="textOverTop" style="margin-left: 5px">裂片数</span></label>
                                <label class="flexStyle pointer" style="margin: 0;margin-left: 10px"><input type="checkbox" class="icb_minimal" value="Rate"><span class="textOverTop" style="margin-left: 5px">合格率</span></label>
                                <label class="flexStyle pointer" style="margin: 0;margin-left: 10px"><input type="checkbox" class="icb_minimal" value="ProcessTime"><span class="textOverTop" style="margin-left: 5px">加工总时间</span></label>
                                <button type="button" class="btn btn-primary btn-sm" onclick="getProductionChart()" style="margin-left: 10px">生成图表</button>
                            </div>
                            <div class="hidden" id="production_chart" style="width: 100%; height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="processModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">工艺详情</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="processList" style="padding-right: 10px;"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>