
@model object

@{
    ViewBag.Title = "数据统计1";
    Layout = "_Layout";
}
<h2>数据统计1</h2>
<div id="main" style="border:1px solid red;width:600px;height:600px;position:absolute;left:calc(50% - 300px);top:calc(50% - 300px)"></div>