@model object

@{
    ViewBag.Title = "看板数据";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/StatisticManagement/kanBan.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/StatisticManagement/kanBan.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>数据统计</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom" id="tabBox">
            <ul class="nav nav-tabs ui-sortable-handle" id="navUl">
                <li class="active" id="stateNavLi"><a href="#stateNav" data-toggle="tab" aria-expanded="true">设备状态</a></li>
                <li id="firstNavLi"><a href="#setKanBan" data-toggle="tab" aria-expanded="true">设置</a></li>
            </ul>
            <div class="tab-content no-padding" style="position: relative">
                <span class="glyphicon glyphicon-fullscreen pointer hidden fullScreenBtn" style="position: absolute; right: 15px; top: 15px; font-size: 20px;z-index:1" title="全屏放大" aria-hidden="true"></span>
                <div class="tab-pane active in" id="stateNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="form-group no-margin">
                                <label class="control-label text-bold no-margin bg-green mPadding">正常：<label class="control-label" id="zc">0</label></label>
                                <label class="control-label text-bold no-margin bg-red mPadding">故障：<label class="control-label" id="gz">0</label></label>
                                <label class="control-label text-bold no-margin bg-gray mPadding">异常：<label class="control-label" id="yc">0</label></label>
                                <span class="glyphicon glyphicon-fullscreen pointer fullScreenBtn" target="stateNav" style="position: absolute; right: 15px; top: 15px; font-size: 20px;z-index:1" title="全屏放大" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="box-body">
                            <div style="display: flex; flex-wrap: wrap" id="deviceState">
                                @*<div style="flex-basis: 190px; height: 190px; background:#dcdcdc; margin: 5px;text-align: center;cursor:pointer; box-shadow: 2px 2px 3px black;">
                                    <div style="height: 33%;position: relative;display: flex;">
                                        <div style="width: 30%;position: relative;">
                                            <img style="width: 100%;height: 80%;" src="/File/Device/210207200102_粗抛机.jpg">
                                        </div>
                                        <div style="width: 50%;position: relative;">
                                            <label class="" style="margin: 0;">机台号</label>
                                            <br>
                                            <label class="" style="margin: 0;">粗抛机</label>
                                            <br>
                                            <label class="" style="margin: 0;">车间</label>
                                        </div>
                                        <div style="width: 30px;height: 30px;background: #FFCC33;position: absolute;top: 0;right: 0;/* float: right; */"></div>
                                    </div>
                                    <div style="height: 67%; position: relative;">
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">下盘速度</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                        <div>
                                            <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                            <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="setKanBan">
                    <div class="box box-primary">
                        <div class="box-body">
                            <button class="btn btn-primary pull-right" onclick="fullScreenCarousel()">轮播</button>
                            <div class="form-group">
                                <label class="control-label">看板列表：</label>
                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                    <select class="form-control" id="kanBanList" style="width: 140px"></select>
                                </div>
                                <button class="btn btn-danger" onclick="delKanBanList()">删除</button>
                            </div>
                            <div class="form-group">
                                <label class="control-label">看板名称：</label>
                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                    <input class="form-control" id="kanBanName" maxlength="40" style="width: 200px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">选择设备：</label>
                                <select class="form-control" id="deviceSelect" style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label no-margin" style="vertical-align: middle">是否启用：</label>
                                <input type="checkbox" id="isShow" class="icb_minimal">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-flat" onclick="setAddKanBan(0)" style="width: 80px">设置</button>
                                <button class="btn btn-success btn-flat" onclick="setAddKanBan(1)" style="width: 80px">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="panel-fullscreen" id="fullScreenCarousel" style="top:-100%; opacity: 0;background:white"></section>
