@model object

@{
    ViewBag.Title = "看板数据";
    Layout = "_Layout";
}
<link href="~/mcss/css/kb.css" rel="stylesheet" />
<link href="~/mcss/css/scrollTable.css" rel="stylesheet" />
<environment include="Development">
    <script src="~/mjs/StatisticManagement/kanBan.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/StatisticManagement/kanBan.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>数据统计</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom" id="tabBox">
            <ul class="nav nav-tabs ui-sortable-handle" id="navUl">
                <li class="active" id="firstNavLi"><a class="text-red text-bold" href="#setKanBan" data-toggle="tab" aria-expanded="true">设置相关</a></li>
                <li id="kanBan-1NavLi">@*<a href="#kanBan_6" class="kanBan" data-toggle="tab" aria-expanded="true">设备状态</a>*@</li>
            </ul>
            <div class="tab-content no-padding" style="position: relative">
                <div class="tab-pane active" id="setKanBan">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li class="active"><a href="#setTab" data-toggle="tab" aria-expanded="true">设置</a></li>
                            <li><a href="#carouselTab" data-toggle="tab" aria-expanded="true">轮播</a></li>
                        </ul>
                        <div class="tab-content no-padding" style="position: relative">
                            <div class="tab-pane active" id="setTab">
                                <div class="box box-primary">
                                    <div class="box-body">

                                        <div style="display: flex; flex-wrap: wrap;">
                                            <div class="form-group">
                                                <label class="control-label">看板类型：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <select class="form-control" id="kanBanType" style="width: 140px"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">看板列表：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <select class="form-control" id="kanBanList" style="width: 140px"></select>
                                                </div>
                                                <button class="btn btn-danger" onclick="delKanBanList()">删除</button>
                                                <button class="btn btn-success" onclick="getKanBanList()">刷新</button>
                                            </div>
                                        </div>

                                        <div style="display: flex; flex-wrap: wrap;">
                                            <div class="form-group">
                                                <label class="control-label">看板名称：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanName" maxlength="40" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">界面刷新间隔（秒）：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanUI" value="5" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">数据刷新间隔（秒）：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanSecond" value="5" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group stateEl hidden">
                                                <label class="control-label">行数：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanRow" value="8" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group stateEl productEl hidden">
                                                <label class="control-label">列数：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanCol" value="8" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group stateEl hidden">
                                                <label class="control-label">数据列数：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanContentCol" value="8" oninput="onInput(this, 4, 0, 2, 5);" style="width: 200px">
                                                </div>
                                                <label class="control-label" id="kanBanContentColDesc"></label>
                                            </div>
                                        </div>
                                        <div class="form-group stateEl1 hidden" id="kanBanItemColNameDiv">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#">列名：</a></li>
                                            </ul>
                                            <div class="tab-content no-padding">
                                                <div class="tab-pane active in" id="kanBanItemColName" style="display: flex; flex-wrap: wrap;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group productEl hidden">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#">列宽：</a></li>
                                            </ul>
                                            <div class="tab-content no-padding">
                                                <div class="tab-pane active in" id="kanBanItemColSet" style="display: flex; flex-wrap: wrap;">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-wrap: wrap;">
                                            <div class="form-group stateEl hidden">
                                                <label class="control-label">总数量：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanLength" readOnly="readOnly" value="30" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">看板顺序：</label>
                                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                    <input class="form-control" id="kanBanOrder" value="999" oninput="onInput(this, 4, 0);" style="width: 200px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label no-margin text-red kb_param1">是否启用：</label>
                                                <input type="checkbox" id="isShow" class="icb_minimal" style="vertical-align: middle; vertical-align: -webkit-baseline-middle;">
                                            </div>
                                        </div>

                                        <div class="form-group productEl hidden">
                                            <label class="control-label">选择数据：</label>
                                            <div class="form-group no-margin" style="display: -webkit-inline-box">
                                                <div class="flexStyle" id="kanBanItems">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">选择设备：</label>
                                            <select class="form-control" id="deviceSelect" style="width: 100%"></select>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary btn-flat" onclick="setAddKanBan(0)" style="width: 80px">修改</button>
                                            <button class="btn btn-success btn-flat" onclick="setAddKanBan(1)" style="width: 80px">添加</button>
                                        </div>

                                        <div class="form-group stateEl hidden" id="kanBanScript">
                                        </div>
                                        <div class="form-group productEl hidden">
                                            <h3 class="control-label text-bold text-red">布局预览：</h3>
                                            <div class="form-group kb_item_pre_div1 kb_body" id="kanBanProduct">
                                                <h3 class="text-center" style="padding-top: 10px; color: cyan; padding: 10px;">标题</h3>
                                                <div class="form-group kb_item_pre_div2" id="kanBanProductDetail">

                                                    @*<div class="kb_item_pre_div3">
                                                            <div class="kb_div1">
                                                                <div class="kb_border1">
                                                                    <div class="kb_border2">

                                                                        <table class="table table-striped">
                                                                            <thead>
                                                                            <tr role="row">
                                                                                <th colspan="2" class="bg-gray" rowspan="1" style="padding: 4px; border: 1px solid gray; width: auto;">切割</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr role="row" class="odd">
                                                                                <td style="padding: 4px; border: 1px solid gray; width: auto; display: table;">
                                                                                    <label class="control-label text-bold" style="display: table-cell;">顺序</label>
                                                                                    <input class="form-control text-center" style="display: table-cell;" placeholder="顺序" id="kanBanItemCol${i}" value=10 oninput="onInput(this, 3, 0);">
                                                                                </td>
                                                                                <td style="padding: 4px; border: 1px solid gray; width: auto; display: table;">
                                                                                    <label class="control-label text-bold" style="display: table-cell;">高度</label>
                                                                                    <input class="form-control text-center" style="display: table-cell;" placeholder="高度" id="kanBanItemCol${i}" value=10 oninput="onInput(this, 3, 0);">
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="kb_div1">
                                                                <div class="kb_border1">
                                                                    <div class="kb_border2">
                                                                        <div class="form-group">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade in" id="carouselTab">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div style="display: flex; flex-wrap: wrap;" id="carouselDiv">
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary btn-flat" onclick="fullScreenCarousel()" style="width: 80px">轮播</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="panel-fullscreen" id="fullScreenCarousel" style="top:-100%; opacity: 0;background:white"></section>

@*<div class="tab-pane fade in kb_body" id="kanBan_5_5">
        <div class="form-group no-margin">
            <label class="control-label textOverTop no-margin middle" style="position: absolute; top: 10px; left: 5px; z-index: 1">时间信息：<span id="{0}_time"></span></label>
            <h3 class="text-center text-bold no-margin" style="color: cyan; padding: 10px;">监控平台</h3>
            <span class="glyphicon glyphicon-fullscreen pointer fullScreenBtn" target="kanBan_5_5"
                  style="position: absolute; top: 10px; right: 15px; font-size: 20px; z-index: 1; color: white;" title="全屏放大" aria-hidden="true"></span>
        </div>
        <div class="form-group no-margin">
            <label class="control-label text-bold no-margin bg-blue mPadding text-center" style="width: 15%; font-size: 17px;">
                正常：<label class="control-label no-margin" id="zc" style="font-size: 17px;">0</label>
            </label>
            <label class="control-label text-bold no-margin bg-green mPadding text-center" style="width: 15%; font-size: 17px;">
                加工：<label class="control-label no-margin" id="jg" style="font-size: 17px;">0</label>
            </label>
            <label class="control-label text-bold no-margin bg-black mPadding text-center" style="width: 15%; font-size: 17px;">
                闲置：<label class="control-label no-margin" id="xz" style="font-size: 17px;">0</label>
            </label>
            <label class="control-label text-bold no-margin bg-red mPadding text-center" style="width: 15%; font-size: 17px;">
                故障：<label class="control-label no-margin" id="gz" style="font-size: 17px;">0</label>
            </label>
            <label class="control-label text-bold no-margin bg-gray mPadding text-center" style="width: 15%; font-size: 17px;">
                未连接：<label class="control-label no-margin" id="wlj" style="font-size: 17px;">0</label>
            </label>
            <label class="control-label text-bold no-margin mPadding text-center" style="width: 15%; color: cyan; font-size: 17px;">
                共：<label class="control-label no-margin" id="sum" style="font-size: 17px;">0</label>台
            </label>
        </div>
        <div class="box box-primary kb_body" style="border-top-color:cyan">
            <div class="box-header">
            </div>
            <div class="box-body">
                <div style="display: flex; flex-wrap: wrap" id="deviceState">
                    <div style="flex-basis: 190px; height: 190px; background: #dcdcdc; margin: 5px; text-align: center; cursor: pointer; box-shadow: 2px 2px 3px black;">
                        <div style="height: 33%; position: relative; display: flex;">
                            <div style="width: 35%; position: relative;">
                                <img style="width: 100%; height: 100%;" src="/File/Device/210207200102_粗抛机.jpg">
                            </div>
                            <div style="width: 65%; position: relative;">
                                <label class="text-blue" style="margin: 0; font-size: 17px;">机台号</label>
                                <br>
                                <label class="" style="margin: 0; white-space: nowrap;">粗抛机-13B</label>
                                <br>
                                <label class="" style="margin: 0;">蓝玻璃蓝玻璃车间</label>
                            </div>
                            <div style="width: 23px; height: 23px; background: #FFCC33; position: absolute; top: 0; right: 0; /* float: right; */"></div>
                        </div>
                        <div style="height: 67%; position: relative;">
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">下盘速度</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                            <div>
                                <label class="control-label no-margin" style="float: left; width: 50%">压力</label>
                                <label class="control-label no-margin" style="float: right; width: 50%;">100</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@


@*<div class="tab-pane fade in kb_body" id="kanBan_6">
        <div class="form-group no-margin">
            <label class="control-label textOverTop no-margin middle" style="position: absolute; top: 10px; left: 5px; z-index: 1">时间信息：<span id="{0}_time"></span></label>
            <span class="glyphicon glyphicon-fullscreen pointer fullScreenBtn" target="kanBan_6"
                  style="position: absolute; top: 10px; right: 15px; font-size: 20px; z-index: 1; color: white;" title="全屏放大" aria-hidden="true"></span>
        </div>
        <div class="box box-primary kb_body" style="border-top-color:cyan">
            <div class="box-header">
            </div>
            <div class="box-body" id="productDiv_1">
                <div class="kb_div1">
                    <div class="kb_border1">
                        <div class="kb_border2">
                            <div class="form-group text-center">
                                <h4 class="text-bold kb_title2">合格率异常报警</h4>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped" id="rateList"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb_div1">
                    <div class="kb_border1">
                        <div class="kb_border2">
                            <div class="form-group text-center">
                                <h4 class="text-bold kb_title3">合格率异常报警统计</h4>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped" id="rateList"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb_div1">
                    <div class="kb_border1">
                        <div class="kb_border2">
                            <div class="form-group  text-center">
                                <h4 class="text-bold kb_title2">设备状态反馈</h4>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped" id="rateList1"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@