@model object

@{
    ViewBag.Title = "看板数据";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/StatisticManagement/kanBan.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/StatisticManagement/kanBan.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>数据统计</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom" id="tabBox">
            <ul class="nav nav-tabs ui-sortable-handle" id="navUl">
                <li class="active" id="firstNavLi"><a href="#setKanBan" data-toggle="tab" aria-expanded="true">设置</a></li>
            </ul>
            <div class="tab-content no-padding" style="position: relative">
                <span class="glyphicon glyphicon-fullscreen pointer hidden" id="fullScreenBtn" style="position: absolute; right: 15px; top: 15px; font-size: 20px;z-index:1" title="全屏放大" aria-hidden="true"></span>
                <div class="tab-pane active in" id="setKanBan">
                    <div class="box box-primary">
                        <div class="box-body">
                            <button class="btn btn-primary pull-right" onclick="">轮播</button>
                            <div class="form-group">
                                <label class="control-label">看板列表：</label>
                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                    <select class="form-control" id="kanBanList" style="width: 140px"></select>
                                </div>
                                <button class="btn btn-danger" onclick="delKanBanList()">删除</button>
                            </div>
                            <div class="form-group">
                                <label class="control-label">看板名称：</label>
                                <div class="form-group no-margin" style="display: -webkit-inline-box">
                                    <input class="form-control" id="kanBanName" maxlength="40" style="width: 200px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">选择设备：</label>
                                <select class="form-control" id="deviceSelect" style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label no-margin" style="vertical-align: middle">是否启用：</label>
                                <input type="checkbox" id="isShow" class="icb_minimal">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-flat" onclick="setAddKanBan(0)" style="width: 80px">设置</button>
                                <button class="btn btn-success btn-flat" onclick="setAddKanBan(1)" style="width: 80px">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <div style="height: 500px;background:#bfa">1</div>
                </div>
                <div class="item">
                    <div style="height: 500px;background:yellow">2</div>
                </div>
                <div class="item">
                    <div style="height: 500px;background:green">3</div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> 
    </div>
</section>
