
@model object

@{
    ViewBag.Title = "趋势图统计";
    Layout = "_Layout";
}
<section class="content">
    <h2 class="text-center">趋势图统计</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <b>请选择：</b>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" id="device">设备</button>
                        <button type="button" class="btn btn-primary btn-sm" id="flowCard">流程卡</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" style="margin: 10px" id="body">
                    <div id="body1">
                        <div class="form-group">
                            <label class="control-label" for="selectDevice">选择设备：</label>
                            <select class="ms2 form-control" style="width: 100%" id="selectDevice" onchange="focusIn($(this))"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectStartDate">开始时间：</label><br>
                            <div class="form-group no-margin" style="display: -webkit-inline-box">
                                <input type="text" id="selectStartDate" class="form_date form-control" style="width: 52%;cursor:pointer">
                                <span>&nbsp;-&nbsp;</span>
                                <input type="text" id="selectStartTime" class="form_time form-control" style="width: 45%;cursor:pointer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectStartDate">结束时间：</label><br>
                            <div class="form-group no-margin" style="display: -webkit-inline-box">
                                <input type="text" id="selectEndDate" class="form_date form-control" style="width: 52%;cursor:pointer">
                                <span>&nbsp;-&nbsp;</span>
                                <input type="text" id="selectEndTime" class="form_time form-control" style="width: 45%;cursor:pointer">
                            </div>
                        </div>
                    </div>
                    <div id="body2" class="hidden">
                        <div class="form-group">
                            <label class="control-label">快捷操作：</label>
                            <input type="file" id="file" class="hidden" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
                            <button type="button" class="btn btn-primary" id="scanning">扫描</button>
                            <button type="button" class="btn btn-primary" id="upload" title="二维码图片">上传</button>
                        </div>
                        <div class="form-group">
                            <video id="video" class="hidden" style="width: 100%;height:290px"></video>
                            <canvas id="canvas" class="hidden" width="290" height="290"></canvas>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputFlowCard">流程卡号：</label>
                            <div class="form-inline">
                                <input type="number" class="form-control" id="inputFlowCard" autocomplete="off" placeholder="请输入流程卡号" onclick="focusIn($(this))" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20">
                                <button type="button" class="btn btn-primary" onclick="queryFlowCard()">查询</button>
                                <button type="button" id="flowCardEmpty" class="btn btn-success">清空</button><br>
                                <label class="label-danger hidden" id="inputFlowCardTip"></label>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="control-label" for="selectProcess">请选择工序：</label>
                            <select class="ms2 form-control" style="width: 100%" id="selectProcess" onchange="focusIn($(this))"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectPar">选择参数：</label>
                        <div class="form-inline" id="selectPar"></div>
                    </div>
                    <div id="button1" class="form-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="createChart(0)">生成图表</button>
                    </div>
                    <div id="button2" class="form-group pull-right hidden">
                        <button type="button" class="btn btn-primary btn-sm" onclick="createChart(1)">生成图表</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" id="deviceCode">趋势图</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="main"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/mjs/StatisticManagement/trend.js"></script>
