@{
    ViewBag.Title = "工作台";
    Layout = "_Layout";
}
<script src="~/mjs/Home/index.js"></script>
<section class="content ">
    <h2>
        工作台
        <button type="button" class="btn btn-primary pull-right btn-sm" style="margin-left: 10px" onclick="showFaultModel()">故障报修</button>
        <button type="button" class="btn btn-primary pull-right btn-sm" onclick="showInputReport()">报表输入</button>
    </h2>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">生产加工</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="addCraftModal()">操作</button>
                        <input type="file" id="file" class="hidden" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
                        <button type="button" class="btn btn-primary btn-sm" title="二维码图片" onclick="upload(0)" id="upload">上传</button>
                        <button type="button" class="btn btn-primary btn-sm" id="scanning" onclick="scanning(0)">扫描</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <video id="video" class="hidden" style="width: 100%;height:290px"></video>
                        <canvas id="canvas" class="hidden" width="290" height="290"></canvas>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="processCode">选择设备：</label>
                        <select class="ms2 form-control" style="width: 100%" id="processCode" onchange="focusIn($(this))"></select>
                        <label class="label-danger hidden" id="processCodeTip"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="flowCard">流程卡号：</label>
                        <div class="form-inline">
                            <div class="form-group no-margin" style="display: -webkit-inline-box">
                                <input type="tel" class="form-control" id="flowCard" value="" autocomplete="off" placeholder="请输入流程卡号" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20" style="width: 140px">
                                <button type="button" class="btn btn-primary" onclick="queryFlowCard()" style="margin-left: 3px">查询</button>
                                <button type="button" id="flowCardEmpty" class="btn btn-success">清空</button>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">信息(先查询后设置)</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body hidden" id="fcBody">
                            <div class="mbox">
                                <h4 class="text-blue text-center">工序数据</h4>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>工序</td>
                                            <td>工序名称</td>
                                            <td>加工要求</td>
                                            <td>加工均值</td>
                                            <td>成厚范围</td>
                                            <td>成厚均值</td>
                                        </tr>
                                    </thead>
                                    <tbody id="processSteps"></tbody>
                                </table>
                            </div>
                            <div id="info">
                            </div>
                            <hr>
                            <div>
                                <h4 class="text-blue text-center">工艺数据</h4>
                                <div class="pull-right hidden" id="isChangeDiv">
                                    <button type="button" class="btn btn-info btn-xs hidden" id="refresh" title="重置"><i class="fa fa-refresh"></i></button>
                                    <label for="isChange" class="text-danger">是否修改：</label>
                                    <input type="checkbox" id="isChange" class="icb_minimal">
                                </div>
                                <div class="mbox" style="clear: both">
                                    <table class="table table-bordered table-hover" id="tableP">
                                        <thead>
                                            <tr>
                                                <td>工序</td>
                                                <td>加压时间(分:秒)</td>
                                                <td>工序时间(分:秒)</td>
                                                <td>设定压力(Kg)</td>
                                                <td>下盘速度(rpm)</td>
                                            </tr>
                                        </thead>
                                        <tbody id="pData"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary btn-lg pull-right disabled" onclick="setProcessData()" id="run">设置工艺</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">设备列表</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="getDeviceList()">重新加载</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="deviceList"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    @*<div class="modal fade" tabindex="-1" id="dataModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">工艺数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="processDataList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="faultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障报修</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="faultCode"><span class="text-blue">* </span>机台号：</label>
                        <select class="ms2 form-control" style="width: 88%" id="faultCode" multiple="multiple" onclick="focusIn($(this))"></select>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for="faultOther"><span class="text-blue">* </span>其他机台号：</label>
                        <input type="text" class="form-control" id="faultOther" placeholder="请输入" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger" id="faultOtherTip"></label>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for="proposer"><span class="text-red">* </span>报修人：</label>
                        <input class="form-control" disabled="disabled" id="proposer" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger hidden" id="proposerTip"></label>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for=""><span class="text-red">* </span>故障时间：</label>
                        <input type="text" id="faultDate" class="form_date form-control" style="cursor:pointer">
                        <input type="text" id="faultTime" class="form_time form-control" style="cursor:pointer">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultType"><span class="text-red">* </span>故障类型：</label>
                        <select class="ms2 form-control" style="width: 88%" id="faultType"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultDefaultDesc">故障描述：</label>
                        <textarea class="form-control" id="faultDefaultDesc" disabled="disabled" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultDesc">补充：</label>
                        <textarea class="form-control" id="faultDesc" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>

                    <a style="text-decoration: underline" href='javascript:void(0);' onclick="getUsuallyFaultList()">常见故障及解决方法</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="reportFault()">上报</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyFaultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">常见故障及解决方法</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="usuallyFaultList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyFaultDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">解决方法</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" disabled="disabled" id="usuallyFaultDetail" style="resize: vertical; height: 200px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="inputReportModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">报表输入</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">快捷操作：</label>
                        <button type="button" class="btn btn-primary" id="scanning1" onclick="scanning(1)">扫描</button>
                        <button type="button" class="btn btn-primary" title="二维码图片" onclick="upload(1)" id="upload1">上传</button>
                    </div>
                    <div class="form-group">
                        <video id="video1" class="hidden" style="width: 100%;height:290px"></video>
                    </div>
                    <div class="form-group">
                        <label class="control-label">流程卡号：</label>
                        <div class="form-inline">
                            <input type="tel" class="form-control" id="rpFlowCard" placeholder="请输入流程卡号" value="" autocomplete="off" onfocusin="focusIn($(this))" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20">
                            <button type="button" class="btn btn-primary" onclick="queryRpFlowCard()">查询</button>
                            <button type="button" class="btn btn-success" onclick="clearRpFlowCard()">清空</button><br>
                            <label class="label-danger hidden" id="rpFlowCardTip"></label>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages" id="tableFlowCard">
                        <table class="table table-hover table-striped" id="gxList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="reportFlowCard()" id="reportFlowCard">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="addCraftModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">操作</h4>
                </div>
                <div class="modal-body">
                    @*<div class="form-group">
                            <label class="control-label" for="addCraftCode">选择设备：</label>
                            <select class="ms2 form-control" id="addCraftCode" style="width:90%"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="processCode">操作时间：</label>
                            <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                <input type="text" id="addCraftDate" class="form_date form-control" style="width: 120px; cursor: pointer">
                                <span style="display: table-cell; vertical-align: middle;height:32px">&nbsp;-&nbsp;</span>
                                <input type="text" id="addCraftTime" class="form_time form-control" style="width: 120px; cursor: pointer">
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label" for="addCraftOp">操作名称：</label>
                            <select class="form-control" id="addCraftOp" style="width:90%">></select>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label" for="addCraftThickness">片厚：</label>
                            <input class="form-control" id="addCraftThickness" placeholder="请输入当前厚度" style="width:150px" onfocusin="focusIn($(this))" maxlength="9" onkeyup="onInput(this)" onblur="onInputEnd(this); queryProcessData();">
                        </div>*@
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle" id="opUl">
                            <li class="active"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="true" id="op1">片厚</a></li>
                            <li><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">换沙</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="form-group" style="padding:20px">
                                <div class="form-group">
                                    <label class="control-label" for="addCraftCode">选择设备：</label>
                                    <select class="ms2 form-control" id="addCraftCode" style="width: 80%"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="processCode">操作时间：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box;">
                                        <input type="text" id="addCraftDate" class="form_date form-control" style="width: 120px; cursor: pointer">
                                        <span style="display: table-cell; vertical-align: middle; height: 32px">&nbsp;-&nbsp;</span>
                                        <input type="text" id="addCraftTime" class="form_time form-control" style="width: 120px; cursor: pointer">
                                    </div>
                                </div>
                                <div class="form-group form-inline hidden" id="thick">
                                    <label class="control-label" for="addCraftThickness">片厚(mm)：</label>
                                    <div class="form-group no-margin" style="display: -webkit-inline-box">
                                        <input type="tel" class="form-control" id="addCraftThickness" placeholder="请输入当前厚度" oninput="value=value.replace(/[^\d\.]/g,'')" style="width:150px" onfocusin="focusIn($(this))" maxlength="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addCraft()">添加</button>
                </div>
            </div>
        </div>
    </div>
</section>


