@{
    ViewBag.Title = "主页";
    Layout = "_Layout";
}

<link href="~/mcss/login.css" rel="stylesheet" />
<link href="~/mcss/AccountManagement.css" rel="stylesheet" />	
<section class="content ">
    <div class="mHome">
        百盛光电&nbsp;·&nbsp;用科技改变未来
    </div>
</section>


