@{
    ViewBag.Title = "工作台";
    Layout = "_Layout";
}
<style>
    .mark{
        opacity:0.5;
        background:#000;
    }
</style>
<script src="~/mjs/Home/index.js"></script>
<section class="content ">
    <h2>
        工作台
        <button type="button" class="btn btn-primary pull-right btn-sm" style="margin-left: 10px" onclick="showFaultModel()">故障报修</button>
        <button type="button" class="btn btn-primary pull-right btn-sm" onclick="showInputReport()">报表输入</button>
    </h2>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">生产加工</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" id="scanning">扫描</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <video id="video" class="hidden mark" width="300" height="400" autoplay></video>
                        <canvas id="canvas" class="hidden" width="500" height="500"></canvas>
                        <button onclick="takePhoto()" class="hidden">开始扫描</button>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="processCode">选择设备：</label>
                        <select class="ms2 form-control" style="width: 100%" id="processCode" onchange="focusIn($(this))"></select>
                        <label class="label-danger hidden" id="processCodeTip"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="workshopCode">选择卡类型：</label>
                        <select class="ms2 form-control" style="width: 100%" id="workshopCode" onchange="focusIn($(this))"></select>
                        <label class="label-danger hidden" id="workshopCodeTip"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="flowCard">流程卡号：</label>
                        <div class="form-inline">
                            <input class="form-control" id="flowCard" value="" placeholder="请输入流程卡号" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20">
                            <button type="button" class="btn btn-primary" onclick="queryFlowCard()">查询</button>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">信息(先查询后设置)</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body hidden" id="fcBody">
                            <div class="mbox">
                                <h4 class="text-blue text-center">工序数据</h4>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>工序</td>
                                            <td>工序名称</td>
                                            <td>加工要求</td>
                                            <td>成厚范围</td>
                                            <td>成厚均值</td>
                                        </tr>
                                    </thead>
                                    <tbody id="processSteps"></tbody>
                                </table>
                            </div>
                            <div id="info">
                            </div>
                            <hr>
                            <div class="mbox ">
                                <h4 class="text-blue text-center">工艺数据</h4>
                                <div class="pull-right hidden" id="isChangeDiv">
                                    <label for="isChange" class="text-danger">是否修改：</label>
                                    <input type="checkbox" id="isChange" class="icb_minimal">
                                </div>

                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>工序</td>
                                            <td>加压时间(分:秒)</td>
                                            <td>工序时间(分:秒)</td>
                                            <td>设定压力(Kg)</td>
                                            <td>下盘速度(rpm)</td>
                                        </tr>
                                    </thead>
                                    <tbody id="pData"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary btn-lg pull-right disabled" onclick="setProcessData()" id="run">设置工艺</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">设备列表</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="getDeviceList()">重新加载</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="deviceList"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    @*<div class="modal fade" tabindex="-1" id="dataModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">工艺数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="processDataList"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="faultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">故障报修</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <label class="control-label" for="faultCode"><span class="text-blue">* </span>机台号：</label>
                        <select class="ms2 form-control" style="width: 88%" id="faultCode" multiple="multiple" onclick="focusIn($(this))"></select>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for="faultOther"><span class="text-blue">* </span>其他机台号：</label>
                        <input type="text" class="form-control" id="faultOther" placeholder="请输入" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger" id="faultOtherTip"></label>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for="proposer"><span class="text-red">* </span>报修人：</label>
                        <input class="form-control" disabled="disabled" id="proposer" onfocusin="focusIn($(this))" maxlength="20">
                        <label class="adt label-danger hidden" id="proposerTip"></label>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label" for="faultTime"><span class="text-red">* </span>故障时间：</label>
                        <input type="text" id="faultDate" class="form_date form-control">
                        <input type="text" id="faultTime" class=" form_time form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultType"><span class="text-red">* </span>故障类型：</label>
                        <select class="ms2 form-control" style="width: 88%" id="faultType"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultDefaultDesc">故障描述：</label>
                        <textarea class="form-control" id="faultDefaultDesc" disabled="disabled" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faultDesc">补充：</label>
                        <textarea class="form-control" id="faultDesc" style="resize: vertical; height: 80px; overflow-y: scroll;" maxlength="300"></textarea>
                    </div>

                    <a style="text-decoration: underline" href='javascript:void(0);' onclick="getUsuallyFaultList()">常见故障及解决方法</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="reportFault()">上报</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyFaultModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">常见故障及解决方法</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="usuallyFaultList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="usuallyFaultDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">解决方法</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" disabled="disabled" id="usuallyFaultDetail" style="resize: vertical; height: 200px; overflow-y: scroll;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" tabindex="-1" id="inputReportModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">报表输入</h4>
                    <label class="hidden" id="rpFCId"></label>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <select class="ms2 form-control" style="width: 20%" id="RpWorkshopCode"></select>
                        <input class="form-control" id="rpFlowCard" placeholder="请输入流程卡号" value="" onfocusin="focusIn($(this))" oninput="value=value.replace(/[^\d]/g,'')" maxlength="20">
                        <button type="button" class="btn btn-primary" onclick="queryRpFlowCard()">查询</button>
                        <button type="button" class="btn btn-success" onclick="clearRpFlowCard()">清空</button>
                        <label class="label-danger hidden" id="rpFlowCardTip"></label>
                    </div>
                    <div class="table-responsive mailbox-messages" id="tableFlowCard">
                        <table class="table table-hover table-striped" id="gxList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="reportFlowCard()" id="reportFlowCard">保存</button>
                </div>
            </div>
        </div>
    </div>
</section>


