@{
    ViewBag.Title = "主页";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="~/mcss/login.css" rel="stylesheet" />
</head>
<body>
    <div class="top">百盛光电&nbsp;·&nbsp;用科技改变未来</div>
</body>
</html>

