@{
    ViewBag.Title = "工作台";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/Home/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/Home/index.min.js"></script>
</environment>
<section class="content ">
    <h2>
        首页
    </h2>
    <div class="row">

    </div>
</section>


