@{
    ViewBag.Title = "工作台";
    Layout = "_Layout";
}
<script src="~/mjs/Home/index.js"></script>
<section class="content ">
    <h2>
        首页
    </h2>
    <div class="row">

    </div>
</section>


