@{
    ViewBag.Title = "主页";
    Layout = "_Layout";
}

<link href="~/mcss/index.css" rel="stylesheet" />

<section class="content ">
    <div class="mHome">
        <h4> 百盛光电&nbsp;·&nbsp;用科技改变未来</h4>
    </div>
</section>


