
/* Ui Elements */
/*公共部分*/
.title {
    margin: 0;
    padding: 0;
   background: url('../mimages/righttitlebig.png') repeat-x;
    border: 1px solid #c1d3de;
    overflow: visible;
}

    .title h2 {
        margin: 0;
        padding: 0;
        line-height: 33px;
        margin-left: 7px;
        padding-left: 22px;
        font-weight: bold;
        font-size: 16px;
        font-family: '微软雅黑';
        color: #000000;
        background: url('../mimages/titleico.png') no-repeat left center;
    }

/*users的属性*/
.box-header {
    padding: 18px 0 18px 0;
    border-top: none;
    overflow: visible;
}

#styles_id {
    background: url('../mimages/addico.png') no-repeat 3px 8px;
    overflow: visible;
    background-color: rgb(233, 104, 107);
    border: 1px solid lightcoral;
    box-shadow: 2px 2px 2px #888888;
    width: 95px;
}
#re_load {
    background-color: rgb(233, 104, 107);
    border: 1px solid lightcoral;
    box-shadow: 2px 2px 2px #888888;
    width: 95px;
    margin-right: 20px;
}
#userTable_wrapper .row:first-child {
    height: 40px;
    line-height: 40px;
    background: url('../mimages/toolbarbg.png') repeat-x left 9px;
    border-top: 1px solid #c1d3de;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#userTable thead {
    background: url('../mimages/righttitlebig.png') repeat-x;
    border-top: 1px solid #c1d3de;
    overflow: visible;
}
