.mTitle {
    float: left;
    padding: 15px 15px;
    color: red;
    font-weight: 600;
}

.btn-group {
    white-space: nowrap
}

.btn-group > .dropdown-toggle {
    float: inherit;
}
