.mTitle {
    float: left;
    padding: 15px 15px;
    color: red;
    font-weight: 600;
}

.btn-group {
    white-space: nowrap
}

    .btn-group > .dropdown-toggle {
        float: inherit;
    }

    .btn-group-vertical > .btn, .btn-group > .btn {
        float: inherit;
    }

th, td {
    text-align: center;
    white-space: nowrap;
}
.modal-dialog {
    margin: 30px auto;
    padding: 30px;
    width: auto;
}
.modal-body .box {
    overflow-x: auto;
}