
/* Ui Elements */


.mHome {
    background-image:url(mimages/bg2.jpg)
    background-color: #ffffff2e;
    width: 100%;
    position: absolute;
    /*top: 0;*/
    line-height: 80px;
    left: 400px;
    right: 0px;
    color: red;
    text-align: left;
    padding-left: 80px;
    font-size: 26px;
    font-weight: 600;
}
