@model object

@{
    ViewBag.Title = "Api测试";
    Layout = "_Layout";
}
<h2>Api测试</h2>
<script src="~/mjs/Setting/DeviceApiTest.js"></script>
<script src="~/mjs/Setting/FlowCardApiTest.js"></script>
<script src="~/mjs/Setting/ProcessApiTest.js"></script>
<script src="~/mjs/Setting/RepairApiTest.js"></script>
<section class="content">
    <ul class="nav nav-tabs">
        <li><a href="#div_device" data-toggle="tab">设备管理相关</a></li>
        <li><a href="#div_flowcard" data-toggle="tab">流程卡管理相关</a></li>
        <li><a href="#div_process" data-toggle="tab">工艺管理相关</a></li>
        <li class="active"><a href="#div_repaire" data-toggle="tab">维修管理相关</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div id="div_device" class="tab-pane fade">
            <div class="box">
                <div class="box-header">设备管理</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceLibrary()">获取所有设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceLibrary()">获取单个设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceLibrary()">更新设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceLibrary()">添加新设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceLibrary()">删除设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceModel()">获取设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetScriptVersion()">根据设备型号获取脚本版本</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDataNameDictionary()">根据设备型号和脚本版本获取变量配置</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">设备型号</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceModel()">获取所有设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceModel()">获取单个设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceModel()">更新设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceModel()">添加新设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceModel()">删除设备型号</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">场地库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSite()">获取所有场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleSite()">获取单个场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateSite()">更新场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddSite()">添加新场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteSite()">删除场地</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">固件库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFirmwareLibrary()">获取所有固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleFirmwareLibrary()">获取单个固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateFirmwareLibrary()">更新固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddFirmwareLibrary()">添加新固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFirmwareLibrary()">删除固件</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">硬件库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetHardwareLibrary()">获取所有硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleHardwareLibrary()">获取单个硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateHardwareLibrary()">更新硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddHardwareLibrary()">添加新硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteHardwareLibrary()">删除硬件</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">设备类型</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceCategory()">获取所有设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceCategory()">获取单个设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceCategory()">更新设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceCategory()">添加新设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceCategory()">删除设备类型</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">流程库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessLibrary()">获取所有流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleProcessLibrary()">获取单个流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateProcessLibrary()">更新流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddProcessLibrary()">添加新流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessLibrary()">删除流程</button>
                </div>
            </div>
        </div>

        <div id="div_flowcard" class="box tab-pane fade">
            <div class="box">
                <div class="box-header">流程卡</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowCardLibrary()">获取所有流程卡</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryById()">获取流程卡(流程卡ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryByFlowCardName()">获取流程卡(流程卡号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryByProductionProcessName()">获取流程卡(计划号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryByRawMateriaName()">获取流程卡(原料批号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryByProcessorName()">获取流程卡(加工人)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFlowcardLibraryBySurveyorName()">获取流程卡(检验员)</button>

                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutFlowcardLibraryById()">更新流程卡(流程卡ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutFlowcardLibraryByFlowCardName()">更新流程卡(流程卡号)</button>

                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFlowcardLibrary()">添加流程卡</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFlowcardLibraries()">批量添加流程卡</button>

                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFlowcardLibraryById()">删除流程卡(流程卡ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFlowcardLibraryByFlowCardName()">删除流程卡(流程卡号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFlowcardLibraryByProductionProcessName()">删除流程卡(计划号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFlowcardLibraryByRawMateriaName()">删除流程卡(原料批号)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">计划号</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProductionProcessLibrary()">获取所有计划号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProductionProcessLibraryById()">获取计划号(计划号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProductionProcessLibraryByProductionProcessName()">获取计划号(计划号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProductionProcessLibraryById()">更新计划号(计划号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProductionProcessLibraryByProductionProcessName()">更新计划号(计划号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProductionProcessLibrary()">添加新计划号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProductionProcessLibraryById()">删除计划号(计划号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProductionProcessLibraryByProductionProcessName()">删除计划号(计划号)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">工序详情</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessStepByProductionProcessName()">获取工序(计划号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessStepByProcessorName()">获取工序(加工人)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessStepBySurveyorName()">获取工序(检验员)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessStepByCode()">获取工序(机台号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessStepById()">更新工序(工序ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessStep()">添加新工序</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessSteps()">批量添加新工序</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessStepById()">删除工序(工序ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessStepByProductionProcessName()">删除工序(计划号)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">原料</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRawMateria()">获取所有原料</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRawMateriaByById()">获取原料(原料ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRawMateriaByRawMateriaName()">获取原料(原料批号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutRawMateriaById()">更新原料(原料ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutRawMateriaByRawMateriaName()">更新原料(原料批号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostRawMateria()">添加新原料</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostRawMaterias()">批量添加新原料</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteRawMateriaById()">删除原料(原料ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteRawMateriaByRawMateriaName()">删除原料(原料批号)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">原料规格</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRawMateriaSpecificationById()">获取原料规格(原料规格ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRawMateriaSpecificationByRawMateriaName()">获取原料规格(原料批号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutRawMateriaSpecification()">更新原料规格</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostRawMateriaSpecification()">添加新原料规格</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostRawMateriaSpecifications()">批量添加新原料规格</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteRawMateriaSpecificationById()">删除原料规格(原料规格ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteRawMateriaSpecificationByRawMateriaName()">删除原料规格(原料批号)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">加工人</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessor()">获取所有加工人</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleProcessor()">获取单个加工人</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessor()">更新加工人信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessor()">添加新加工人</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessors()">批量添加新加工人</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessor()">删除加工人</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">检验员</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSurveyor()">获取所有检验员</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleSurveyor()">获取单个检验员</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutSurveyor()">更新检验员信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostSurveyor()">添加新检验员</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostSurveyors()">添加新检验员</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteSurveyor()">删除检验员</button>
                </div>
            </div>
        </div>

        <div id="div_process" class="box tab-pane fade">
            <div class="box">
                <div class="box-header">工艺数据</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessDataByProcessNumber()">获取工艺数据(工艺编号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessDataById()">获取工艺数据(工艺数据ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessData()">更新工艺数据</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessData()">添加新工艺数据</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessDatas()">批量添加新工艺数据</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessDataByProcessNumber()">删除工艺数据(工艺编号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessDataById()">删除工艺数据(工艺数据ID)</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">工艺编号</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementOrderProcessNumber()">按工艺编号显示</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementOrderProductionProcessName()">按产品型号显示</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementOrderModelName()">按设备型号显示</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementOrderCode()">按机台号显示</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementById()">获取工艺编号(工艺编号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessManagementByProcessNumber()">获取工艺编号(工艺编号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessManagementById()">更新工艺编号(工艺编号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessManagementByProcessNumber()">更新工艺编号(工艺编号)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutProcessManagementDeviceId()">指定机台号添加工艺编号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostProcessManagement()">添加新工艺编号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessManagementById()">删除工艺编号(工艺编号ID)</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessManagementByProcessNumber()">删除工艺编号(工艺编号)</button>
                </div>
            </div>
        </div>

        <div id="div_repaire" class="box tab-pane active in">
            <div class="box">
                <div class="box-header">常见故障</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetUsuallyFault()">获取所有常见故障</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleUsuallyFault()">获取单个常见故障</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutUsuallyFault()">更新常见故障</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostUsuallyFault()">添加常见故障</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostUsuallyFaults()">批量添加常见故障</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteUsuallyFault()">删除常见故障</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">故障类型</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFaultType()">获取所有故障类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleFaultType()">获取单个故障类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutFaultType()">更新故障类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFaultType()">添加故障类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFaultTypes()">批量添加故障类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFaultType()">删除故障类型</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">故障记录</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetRepairRecord()">获取所有故障记录</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleRepairRecord()">获取单个故障记录</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutRepairRecord()">更新故障记录</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostRepairRecord()">添加故障记录</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteRepairRecord()">删除故障记录</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">故障设备</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFaultDevice()">获取所有故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFaultDeviceById()">获取单个故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFaultDeviceByCode()">获取单个故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PutFaultDevice()">更新故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFaultDevice()">添加故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="PostFaultDevices()">批量添加故障设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFaultDevice()">删除故障设备</button>
                </div>
            </div>
        </div>
    </div>
</section>

