@model object

@{
    ViewBag.Title = "Api测试";
    Layout = "_Layout";
}

<h2>Api测试</h2>
<script src="~/mjs/Setting/ApiTest.js"></script>
<section class="content">
    <div class="row">
        <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceCategory()">获取设备型号库</button>
        <button type="button" class="btn btn-primary" style="margin-left: 10px">添加成员</button>
    </div>
</section>