@model object

@{
    ViewBag.Title = "Api测试";
    Layout = "_Layout";
}

<h2>Api测试</h2>
<script src="~/mjs/Setting/ApiTest.js"></script>
<section class="content">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#div_device" data-toggle="tab">设备管理相关</a></li>
        <li><a href="#div_flowcard" data-toggle="tab">流程卡管理相关</a></li>
        <li><a href="#div_process" data-toggle="tab">工艺管理相关</a></li>
        <li><a href="#div_repaire" data-toggle="tab">维修管理相关</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div id="div_device" class="tab-pane active in">
            <div class="box">
                <div class="box-header">设备管理</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceLibrary()">获取所有设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceLibrary()">获取单个设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceLibrary()">更新设备信息</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceLibrary()">添加新设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceLibrary()">删除设备</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceModel()">获取设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetScriptVersion()">根据设备型号获取脚本版本</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDataNameDictionary()">根据设备型号和脚本版本获取变量配置</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">设备型号</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceModel()">获取设备型号库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceModel()">获取单个设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceModel()">更新设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceModel()">添加新设备型号</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceModel()">删除设备型号</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">场地库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSite()">获取场地库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleSite()">获取单个场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateSite()">更新场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddSite()">添加新场地</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteSite()">删除场地</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">固件库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetFirmwareLibrary()">获取固件库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleFirmwareLibrary()">获取单个固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateFirmwareLibrary()">更新固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddFirmwareLibrary()">添加新固件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteFirmwareLibrary()">删除固件</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">硬件库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetHardwareLibrary()">获取硬件库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleHardwareLibrary()">获取单个硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateHardwareLibrary()">更新硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddHardwareLibrary()">添加新硬件</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteHardwareLibrary()">删除硬件</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">设备类型</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetDeviceCategory()">获取设备类型库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleDeviceCategory()">获取单个设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateDeviceCategory()">更新设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddDeviceCategory()">添加新设备类型</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteDeviceCategory()">删除设备类型</button>
                </div>
            </div>
            <div class="box">
                <div class="box-header">流程库</div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetProcessLibrary()">获取流程库</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="GetSingleProcessLibrary()">获取单个流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="UpdateProcessLibrary()">更新流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="AddProcessLibrary()">添加新流程</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 10px" onclick="DeleteProcessLibrary()">删除流程</button>
                </div>
            </div>
        </div>

        <div id="div_flowcard" class="box tab-pane fade">

        </div>

        <div id="div_process" class="box tab-pane fade">

        </div>

        <div id="div_repaire" class="box tab-pane fade">

        </div>
    </div>
</section>