@model object

@{
    ViewBag.Title = "chat";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/Setting/chat.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/Setting/chat.min.js"></script>
</environment>
<section class="content">
    <h2>chat</h2>
    <select id="selectType">发送</select>
    <button type="button" class="btn btn-primary" id="btnSend">发送</button>
    <textarea class="form-control" id="text"></textarea>
</section>
