@model object

@{
    ViewBag.Title = "组织结构";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/AccountManagement/Index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/AccountManagement/Index.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" id="addOrganizationUnitBtn" onclick="showAddOrganizationUnitModal()">添加部门</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="getOrganizationUnits()">刷新</button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="organizationUnits">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h5 class="box-title" id="unName" style="font-size: 16px">成员列表</h5>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" onclick="showAddMemberModal()" id="addMemberBtn">添加成员</button>
                        <button type="button" class="btn btn-box-tool hidden" data-widget="collapse" id="showBolModal"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body mbox" id="memberDataTable">
                    <table class="table table-hover table-striped" id="memberListTable"></table>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addOrganizationUnitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加部门</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label">添加一级部门：</label>
                                <div class="form-group">
                                    <label style="margin-right: 16px;cursor: pointer"><input type="radio" id="rdo1" name="dRadio" class="icb_minimal" style="vertical-align: middle"><span style="margin-left: 5px;vertical-align: middle">是</span></label>
                                    <label style="cursor: pointer"><input type="radio" id="rdo2" name="dRadio" checked class="icb_minimal" style="vertical-align: middle"><span style="margin-left: 5px;vertical-align: middle">否</span></label>
                                </div>
                            </div>
                            <div class="form-group" id="cbDiv">
                                <label class="control-label">上级部门：</label>
                                <select class="ms2 form-control" id="addOrganizationUnit" style="width: 100%"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">部门名称：</label>
                                <input class="form-control" id="addName" maxlength="20">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addOrganizationUnit()">添加</button>
                    <button type="button" class="btn btn-primary" onclick="addOrganizationUnit(true)">添加并关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="updateOrganizationUnitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改部门
                    </h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label">部门名称：</label>
                                <input class="form-control" id="organizationName" maxlength="20">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateOrganizationUnit()">修改</button>
                    <button type="button" class="btn btn-primary" onclick="updateOrganizationUnit(true)">修改并关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加成员</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-hover table-striped" id="memberList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addMember()"> 添加</button>
                </div>
            </div>
        </div>
    </div>
</section>
