@model object

@{
    ViewBag.Title = "组织结构管理";
    Layout = "_Layout";
}
<script src="~/mjs/AccountManagement/Index.js"></script>
<link href="~/mcss/index.css" rel="stylesheet" type="text/css">
<div><h2 style="margin: 0;margin: 0;padding: 0; line-height: 33px;margin-left: 2px;font-weight: bold; font-size: 16px;font-family: '微软雅黑'; color: #000000; ">组织结构</h2></div>	
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary " onclick="showAddOrganizationUnits()">
                添加结构
            </button>
			     <table id="organizatList" style="display: none;"></table>
              <!-- 模态框（Modal） -->
            <div class="modal fade" id="addStruct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加组织结构
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                <div class="box-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">添加一级部门：</label>
                                            <div class="col-sm-9">
                                                <label class="input-radio" style="vertical-align: middle; display: inline-block; cursor: pointer; line-height: 30px; margin-right: 15px;"><input style="margin-right: 5px; vertical-align: unset; font-size: 100%;" name="isDepart1" value="1" type="radio">是</label>
                                                <label class="input-radio" style="vertical-align: middle; display: inline-block; cursor: pointer; line-height: 30px; margin-right: 15px;"><input style="margin-right: 5px; vertical-align: unset; font-size: 100%;" name="isDepart1" checked="checked" value="2" type="radio">否</label>
                                            </div>
                                        </div>
                                        <div class="form-group firstDepart2">
                                            <label class="col-sm-3 control-label">上级部门：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="firstPart2"></select> 
                                            </div>
                                        </div>
                                        <div class="form-group firstDepart1">
                                            <label class="col-sm-3 control-label">添加部门：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="firstPart1"  >
                                            </div>
                                        </div>
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" onclick="addOrganizationUnits()">
                                提交添加
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
			
			
			
            <div id="organizationUnits" style="margin-top: 20px"></div>

            
			
			 <!-- 模态框（Modal） -->
            <div class="modal fade" id="showUpdateOrganizationUnits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                修改组织结构
                            </h4>
                            <label class="hidden" id="updateId"></label>
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                <div class="box-body">
                                    <form class="form-horizontal">
                                         <div class="form-group thirdDepart">
                                            <label class="col-sm-3 control-label">部门名称：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="showOrganizationName">
                                            </div>
                                        </div>
                                     </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" onclick="updateOrganizationUnits()">
                                修改
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6" id="memberListDiv">
            <button class="btn btn-primary"  style="margin-bottom: 20px;" onclick="showAddMan()" id="addMember">
                添加成员
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="addMan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加成员
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                <div class="box-body  checkMerber">
                           

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="addMerbers()"> 添加</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title merberName">成员列表</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="memberListTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
