@model object

@{
    ViewBag.Title = "组织结构管理";
    Layout = "_Layout";
}
<script src="~/mjs/AccountManagement/index.js"></script>
<link href="~/mcss/accountManagement.css" rel="stylesheet" />	
<div class="t_headers"><h4 class="orangeinstruct">组织结构</h4></div>	
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                添加组织结构
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加组织结构
                            </h4>
                        </div>
                         <div class="modal-body">
                                <div class="box">
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">组织结构：</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="addSelect"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">添加部门：</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" id="addModelName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">描述：</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" id="addDesc">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary">
                                提交添加
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div id="organizationUnits" style="margin-top: 20px">

            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6" id="memberListDiv">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                添加成员
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                模态框（Modal）标题
                            </h4>
                        </div>
                        <div class="modal-body">
                            在这里添加一些文本
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary">
                                提交更改
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">成员列表</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="memberListTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
