@model object

@{
    ViewBag.Title = "角色管理";
    Layout = "_Layout";
}
<script src="~/mjs/AccountManagement/roles.js"></script>

<section class="content">
    <h2 class="text-center">角色管理</h2>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">角色列表</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" onclick="showAddRoles()">添加角色</button>
                <button type="button" class="btn btn-primary" onclick="getRoleList()">重新加载</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="rolesList"></table>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addRoleModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">新角色信息</h4>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li class="active"><a id="add_protoDiv" href="#add_proto" data-toggle="tab">角色属性</a></li>
                            <li><a href="#add_per" data-toggle="tab">权限列表</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div id="add_proto" class="tab-pane active in">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="control-label">角色名称：</label>
                                            <input class="form-control" id="addRoleName" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="add_per" class="tab-pane fade">
                                <div class="box">
                                    <div class="box-body" id="add_per_body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addRole()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">修改角色信息</h4>
                    <label class="hidden" id="updateId"></label>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li class="active"><a id="update_protoDiv" href="#update_proto" data-toggle="tab">角色属性</a></li>
                            <li><a href="#update_per" data-toggle="tab">权限列表</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div id="update_proto" class="tab-pane active in">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="control-label">角色名称：</label>
                                            <input class="form-control" id="updateRoleName" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="update_per" class="tab-pane fade">
                                <div class="box">
                                    <div class="box-body" id="update_per_body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updateRole()">修改</button>
                </div>
            </div>
        </div>
    </div>
</section>

