@model object
@{
    ViewBag.Title = "预警设置";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/Warning/set.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/Warning/set.min.js"></script>
</environment>
<section class="content-header flexStyle" style="justify-content: space-between;flex-wrap: wrap">
    <h1>@ViewBag.Title</h1>
    <div class="flexStyle">
        <button type="button" class="btn btn-success btn-sm" style="margin: 0 5px" id="updateDeviceWarningBtn" onclick="addUpDeviceWarning(true)">保存</button>
        <button type="button" class="btn btn-primary btn-sm" id="addDeviceWarningBtn" onclick="addUpDeviceWarning(false)">添加</button>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ui-sortable-handle" id="navUl">
                <li class="active" value="1"><a href="#device" data-toggle="tab" aria-expanded="true">设备</a></li>
                <li value="2"><a href="#other" data-toggle="tab" aria-expanded="false">其他</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active in" id="device">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label no-margin middle">预警名：</label>
                                <select class="ms2 form-control" id="deviceWarn" style="width: 160px"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label middle">预警名：</label>
                                <input class="form-control" id="warnName" maxlength="20" style="width: 160px;display: inline-block">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-margin pointer middle" for="isStart">是否启用：</label>
                                <input type="checkbox" class="icb_minimal" id="isStart">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-margin middle">设备分类：</label>
                                <select class="ms2 form-control" id="deviceType" style="width: 160px"></select>
                            </div>
                            <div class="form-group">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs ui-sortable-handle" id="navChildUl">
                                        <li class="active" value="1"><a href="#npcData" data-toggle="tab" aria-expanded="true">设备数据</a></li>
                                        <li value="2"><a href="#proData" data-toggle="tab" aria-expanded="false">生产数据</a></li>
                                    </ul>
                                    <div class="tab-content no-padding">
                                        <div class="tab-pane active in" id="npcData">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label class="control-label no-margin middle">选择脚本：</label>
                                                    <select class="ms2 form-control" id="scriptSelect" style="width: 180px"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">选择设备：</label>
                                                    <select class="form-control" id="deviceSelect"></select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-right">
                                                        <button class="btn btn-warning" onclick="resetTable()">重置</button>
                                                    </div>
                                                    <div class="nav-tabs-custom">
                                                        <ul class="nav nav-tabs ui-sortable-handle">
                                                            <li class="active"><a href="#npcVar" data-toggle="tab" aria-expanded="true">变量</a></li>
                                                            <li><a href="#npcIns" data-toggle="tab" aria-expanded="false">输入</a></li>
                                                            <li><a href="#npcOut" data-toggle="tab" aria-expanded="false">输出</a></li>
                                                        </ul>
                                                        <div class="tab-content no-padding">
                                                            <div class="tab-pane active in" id="npcVar">
                                                                <div class="box-body">
                                                                    <div class="table-responsive mailbox-messages">
                                                                        <table class="table table-hover table-striped" id="npcVarList"></table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade in" id="npcIns">
                                                                <div class="box-body">
                                                                    <div class="table-responsive mailbox-messages">
                                                                        <table class="table table-hover table-striped" id="npcInsList"></table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade in" id="npcOut">
                                                                <div class="box-body">
                                                                    <div class="table-responsive mailbox-messages">
                                                                        <table class="table table-hover table-striped" id="npcOutList"></table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="proData"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="other"></div>
            </div>
        </div>
    </div>
</section>