@{
    ViewBag.Title = "智慧工厂";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/SmartFactory/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/SmartFactory/index.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ui-sortable-handle">
                <li><a href="#productionLineNav" data-toggle="tab" aria-expanded="true">生产线</a></li>
                <li id="personNavLi"><a href="#personNav" data-toggle="tab" aria-expanded="false">人员管理</a></li>
                <li id="deviceNavLi"><a href="#deviceNav" data-toggle="tab" aria-expanded="false">设备管理</a></li>
                <li id="flowNavLi"><a href="#flowNav" data-toggle="tab" aria-expanded="false">流程管理</a></li>
                <li id="planNavLi"><a href="#planNav" data-toggle="tab" aria-expanded="false">计划号管理</a></li>
                <li id="workOrderNavLi"><a href="#workOrderNav" data-toggle="tab" aria-expanded="false">工单管理</a></li>
                <li id="taskOrderNavLi"><a href="#taskOrderNav" data-toggle="tab" aria-expanded="false">任务单管理</a></li>
                <li id="pmcScheduleNavLi" class="active"><a href="#pmcScheduleNav" data-toggle="tab" aria-expanded="false">PMC排程</a></li>
                <li id="flowCardNavLi"><a href="#flowCardNav" data-toggle="tab" aria-expanded="false">流程卡管理</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane fade in" id="productionLineNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="flexStyle">
                                <label class="control-label text-nowrap no-margin">显示方式：</label>
                                <select class="form-control" id="showMode" style="width: 150px;margin-right: 5px">
                                    <option value="0">工单</option>
                                    <option value="1">任务单</option>
                                    <option value="2">流程卡</option>
                                </select>
                                <button class="btn btn-primary" onclick="getProductionLine()" style="margin-right:5px">刷新</button>
                                <button class="btn btn-success" onclick="showScheduleModal()">排程</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="pull-left" style="width: 25%">
                                <div class="form-group">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="productionLineList"></table>
                                    </div>
                                </div>
                                <div id="warningBox"></div>
                                <div id="dangerBox"></div>
                            </div>
                            <div class="pull-right" style="width: 75%; padding-left: 10px">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody id="productionLineHead"></tbody>
                                    </table>
                                </div>
                                <div id="lineBox" style="margin-bottom: 20px"></div>
                                <div id="successLineBox"></div>
                                <div id="warningLineBox"></div>
                                <div id="dangerLineBox"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="personNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">人员管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updatePerson()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addPersonModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delPerson()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getPersonList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="personList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="deviceNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">设备管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateDevice()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="showAddDeviceModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delDevice()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getDeviceList()">刷新</button>
                                <button class="btn btn-primary btn-sm" onclick="showDeviceCategoryModal()">类型管理</button>
                                <button class="btn btn-primary btn-sm" onclick="showDeviceModelModal()">型号管理</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="deviceList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="flowNav">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li class="active"><a href="#processCodeNav" data-toggle="tab" aria-expanded="true">流程编号</a></li>
                            <li id="processSetNavLi"><a href="#processSetNav" data-toggle="tab" aria-expanded="false">流程设置</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="tab-pane active in" id="processCodeNav">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">流程编号</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-primary btn-sm" onclick="addProcessCodeModel()">添加</button>
                                            <button class="btn btn-danger btn-sm" onclick="delProcessCode()">删除</button>
                                            <button class="btn btn-info btn-sm" onclick="getProcessCodeList()">刷新</button>
                                            <button class="btn btn-primary btn-sm" onclick="showProcessCodeCategoryModal()">类型管理</button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="table-responsive mailbox-messages">
                                            <table class="table table-hover table-striped" id="processCodeList"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="processSetNav">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">流程设置</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-success btn-sm" onclick="updateProcessOp()">修改</button>
                                            <button class="btn btn-primary btn-sm" onclick="addProcessOpModel()">添加</button>
                                            <button class="btn btn-danger btn-sm" onclick="delProcessOp()">删除</button>
                                            <button class="btn btn-info btn-sm" onclick="getProcessOpList()">刷新</button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="table-responsive mailbox-messages">
                                            <table class="table table-hover table-striped" id="processOpList"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="planNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">计划号管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="showCapacityModel()">产能</button>
                                <button class="btn btn-primary btn-sm" onclick="addPlanModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delPlan()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getPlanList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="planList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="workOrderNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">工单管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateWorkOrder()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addWorkOrderModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delWorkOrder()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getWorkOrderList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="workOrderList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="taskOrderNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">任务单管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-warning btn-sm" onclick="showCapacityNeedModel()">产能需求</button>
                                <button class="btn btn-success btn-sm" onclick="updateTaskOrder()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addTaskOrderModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delTaskOrder()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getTaskOrderList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="taskOrderList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active in" id="pmcScheduleNav">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs ui-sortable-handle">
                            <li><a href="#pmcChildNav" data-toggle="tab" aria-expanded="true">排程</a></li>
                            <li class="active" id="pmcExpelProNavLi"><a href="#pmcExpelProNav" data-toggle="tab" aria-expanded="false">排产</a></li>
                            <li><a href="#pmcPersonNav" data-toggle="tab" aria-expanded="false">操作工</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="tab-pane fade in" id="pmcChildNav">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <div class="flexStyle">
                                            <label class="control-label no-margin text-nowrap">交货时间：</label>
                                            <input type="text" class="form_date form-control text-center pointer" id="pmcChildDTime" style="width: auto">
                                            <div class="flexStyle">
                                                <input type="checkbox" class="icb_minimal" id="pmcChildAll">
                                                <label class="control-label no-margin text-nowrap text-red">含已完成</label>
                                            </div>
                                            <label class="control-label no-margin text-nowrap">时间：</label>
                                            <input type="text" class="form_date form-control text-center pointer" id="pmcChildSTime" style="width: auto">
                                            <label class="control-label" style="margin: 5px">-</label>
                                            <input type="text" class="form_date form-control text-center pointer" id="pmcChildETime" style="width: auto">
                                            <button class="btn btn-primary" onclick="getPmcChildList()" style="margin-left:3px">查看</button>
                                        </div>
                                    </div>
                                    <div class="box-body" id="pmcChildList"></div>
                                </div>
                            </div>
                            <div class="tab-pane active in" id="pmcExpelProNav">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="flexStyle" style="justify-content: space-between">
                                                <div class="flexStyle">
                                                    <label class="control-label no-margin text-red">未安排任务单：</label>
                                                    <input type="checkbox" class="icb_minimal" id="pmcChildAuto">
                                                    <label class="control-label no-margin text-nowrap text-red">自动查询</label>
                                                </div>
                                                <div>
                                                    <button class="btn btn-info btn-sm" onclick="notArrangeTaskListTimeReset()">重置时间</button>
                                                    <button class="btn btn-info btn-sm" onclick="getNotArrangeTaskListReset()">刷新</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive mailbox-messages">
                                                <table class="table table-hover table-striped" id="notArrangeTaskList"></table>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-success btn-sm" id="addNotArrangeTaskListBtn">新增</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="box box-primary">
                                                <div class="box-header no-padding-left">
                                                    <label class="control-label no-margin text-red">已安排任务单：</label>
                                                    <div class="box-tools pull-right">
                                                        <button class="btn btn-warning btn-sm" onclick="setArrangeTaskList()">修改</button>
                                                        <button class="btn btn-info btn-sm" onclick="getArrangeTaskList()">刷新</button>
                                                        <button class="btn btn-primary btn-sm" onclick="showTaskLevelModel()">等级</button>
                                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <div class="table-responsive mailbox-messages">
                                                            <table class="table table-hover table-striped" id="arrangeTaskList"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-primary btn-sm" onclick="getTaskProcessList()">查询</button>
                                        </div>
                                        <div class="form-group" id="notArrangeTaskProcessBox"></div>
                                        <div class="form-group" id="notArrangeTaskProcessBox"></div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-success btn-sm" onclick="getPmcPreviewList()">预览</button>
                                        </div>
                                        <div class="form-group" id="pmcPreviewBox"></div>
                                        <hr />
                                        @*<div class="form-group" id="pmcPreviewProcessSelect"></div>*@
                                        <div class="text-center" id="pmcPreviewProcessBtn"></div>
                                        <div class="form-group" id="pmcPreviewProcess"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="pmcPersonNav">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">操作工管理</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-success btn-sm" onclick="updatePmcPerson()">修改</button>
                                            <button class="btn btn-primary btn-sm" onclick="showAddPmcPersonModel()">添加</button>
                                            <button class="btn btn-danger btn-sm" onclick="delPmcPerson()">删除</button>
                                            <button class="btn btn-info btn-sm" onclick="getPmcPersonList()">刷新</button>
                                            <button class="btn btn-primary btn-sm" onclick="showPmcGradeModal()">等级</button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="flexStyle form-group" style="flex-wrap: wrap">
                                            <label class="control-label text-nowrap no-margin">查询方式：</label>
                                            <div class="flexStyle" style="margin-right:3px">
                                                <select class="form-control" id="pmcPersonQueryMode">
                                                    <option value="state">状态</option>
                                                    <option value="number">编号</option>
                                                    <option value="name">姓名</option>
                                                    <option value="levelId">等级</option>
                                                    <option value="processId">工序</option>
                                                </select>
                                                <select class="form-control" id="pmcPersonQueryTF">
                                                    <option value="0">等于</option>
                                                    <option value="1">包含</option>
                                                </select>
                                                <select class="form-control" id="pmcPersonQuerySelect">
                                                    <option value="1">正常</option>
                                                    <option value="2">休息</option>
                                                </select>
                                                <input type="text" class="form-control hidden" id="pmcPersonQueryInput">
                                            </div>
                                            <button class="btn btn-primary" onclick="getPmcPersonList()">查询</button>
                                        </div>
                                        <div class="table-responsive mailbox-messages">
                                            <table class="table table-hover table-striped" id="pmcPersonList"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="flowCardNav">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">流程卡管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-primary btn-sm" onclick="addFlowCardModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delFlowCard()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getFlowCardList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group form-inline">
                                <div class="form-group flexStyle">
                                    <label class="control-label text-nowrap no-margin">发卡时间：</label>
                                    <input type="text" class="form_date form-control text-center pointer" id="sendCardSTime" autocomplete="off" style="min-width: 100px; max-width: 150px">
                                    <label class="control-label text-nowrap no-margin">至</label>
                                    <input type="text" class="form_date form-control text-center pointer" id="sendCardETime" autocomplete="off" style="min-width: 100px; max-width: 150px">
                                </div>
                                <div class="form-group flexStyle">
                                    <label class="control-label text-nowrap no-margin">任务单：</label>
                                    <select class="form-control" id="flowCardTaskOrderSelect" style="width: 150px"></select>
                                </div>
                                <div class="form-group flexStyle">
                                    <label class="control-label text-nowrap no-margin">流程编号：</label>
                                    <select class="form-control" id="flowCardProcessCodeSelect" style="width: 150px"></select>
                                </div>
                                <div class="form-group flexStyle">
                                    <label class="control-label text-nowrap no-margin">计划号：</label>
                                    <select class="form-control" id="flowCardPlanSelect" style="width: 150px"></select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" onclick="getFlowCardList()">查询</button>
                                </div>
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="flowCardList"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*添加人员模态框*@
    <div class="modal fade" tabindex="-1" id="addPersonModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加人员</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addPersonList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addPersonListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addPerson()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加设备模态框*@
    <div class="modal fade" tabindex="-1" id="addDeviceModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加设备</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addDeviceList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addDeviceListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addDevice()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*设备类型模态框*@
    <div class="modal fade" tabindex="-1" id="deviceCategoryModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备类型</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">类型管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateDeviceCategory()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addDeviceCategoryModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delDeviceCategory()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getDeviceCategoryList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="deviceCategoryList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加设备类型模态框*@
    <div class="modal fade" tabindex="-1" id="addDeviceCategoryModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加类型</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addDeviceCategoryList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addDeviceCategoryListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addDeviceCategory()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*设备型号模态框*@
    <div class="modal fade" tabindex="-1" id="showDeviceModelModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设备型号</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">型号管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateDeviceModel()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addDeviceModelModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delDeviceModel()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getDeviceModelList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="deviceModelList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加设备型号模态框*@
    <div class="modal fade" tabindex="-1" id="addDeviceModelModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加型号</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addDeviceModelList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addDeviceModelListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addDeviceModel()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加修改流程编号模态框*@
    <div class="modal fade" tabindex="-1" id="addProcessCodeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addEditTitle"></h4>
                </div>
                <div class="modal-body">
                    <div style="display: flex">
                        <div style="flex: 1">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">新流程编号</h3>
                                </div>
                                <div class="box-body">
                                    <div class="flexStyle form-group">
                                        <label class="control-label text-nowrap no-margin">编号：</label>
                                        <input type="text" class="form-control" id="addProcessCodeName">
                                    </div>
                                    <div class="flexStyle form-group">
                                        <label class="control-label text-nowrap no-margin">类型：</label>
                                        <select class="form-control" id="addProcessCodeCategoryName"></select>
                                    </div>
                                    <div class="flexStyle form-group">
                                        <label class="control-label text-nowrap no-margin">备注：</label>
                                        <input type="text" class="form-control" id="addProcessCodeRemark">
                                    </div>
                                    <label class="control-label">流程：</label>
                                    <div style="overflow: auto;max-height: 500px">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>流程</th>
                                                    @*<th>上移</th>*@
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id="addProcessCodeBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 1">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">流程选项</h3>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="addProcessCodeOpList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addEditBtn"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*流程编号类型模态框*@
    <div class="modal fade" tabindex="-1" id="processCodeCategoryModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">流程编号类型</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">类型管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-primary btn-sm" onclick="addProcessCodeCategoryModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delProcessCodeCategory()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getProcessCodeCategoryList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="processCodeCategoryList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加流程编号类型模态框*@
    <div class="modal fade" tabindex="-1" id="addProcessCodeCategoryModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addEditProcessCategoryTitle"></h4>
                </div>
                <div class="modal-body">
                    <div style="display: flex">
                        <div style="flex: 1">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">新流程编号类型</h3>
                                </div>
                                <div class="box-body">
                                    <div class="flexStyle form-group">
                                        <label class="control-label text-nowrap no-margin">类型：</label>
                                        <input type="text" class="form-control" id="addProcessCodeCategory">
                                    </div>
                                    <div class="flexStyle form-group">
                                        <label class="control-label text-nowrap no-margin">备注：</label>
                                        <input type="text" class="form-control" id="addProcessCodeCategoryRemark">
                                    </div>
                                    <label class="control-label">流程：</label>
                                    <div style="overflow: auto;max-height: 500px">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>流程</th>
                                                    @*<th>上移</th>*@
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id="addProcessCodeCategoryBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="flex: 1">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">流程选项</h3>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped" id="addProcessCodeCategoryOpList"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addEditProcessCategoryBtn"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @*添加流程编号类型模态框*@
    <div class="modal fade" tabindex="-1" id="addProcessOpModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加流程</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addProcessOpList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addProcessOpListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addProcessOp()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @*添加修改计划号模态框*@
    <div class="modal fade" tabindex="-1" id="addPlanModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addEditPlanTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="flexStyle form-group">
                        <label class="control-label text-nowrap no-margin">计划号：</label>
                        <input type="text" class="form-control" id="addPlanName">
                    </div>
                    <div class="flexStyle form-group">
                        <label class="control-label text-nowrap no-margin">备注：</label>
                        <input type="text" class="form-control" id="addPlanRemark">
                    </div>
                    <div class="flexStyle form-group">
                        <label class="control-label text-nowrap no-margin">流程编号类型：</label>
                        <select class="form-control" id="addPlanProcess"></select>
                    </div>
                    <div class="flexStyle form-group">
                        <label class="control-label text-nowrap no-margin">产能配置：</label>
                        <select class="form-control" id="addPlanCapacity"></select>
                    </div>
                    <label class="control-label">产能清单：</label>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="mailbox-messages table-responsive">
                                <table class="table table-hover table-striped table-condensed table-responsive" id="addPlanCapacityList"></table>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="form-group flexStyle add update calTimeBox">
                                <label class="control-label">时间计算：</label>
                                <input type="text" class="form-control text-center ch" style="width:60px" value="0"><span style="margin:0 5px">时</span>
                                <input type="text" class="form-control text-center cm" style="width:40px" value="0"><span style="margin:0 5px">分</span>
                                <input type="text" class="form-control text-center cs" style="width:40px" value="0"><span style="margin:0 5px">秒</span>
                                <label class="control-label"> = </label>
                                <span class="rm" style="margin:5px 5px">0</span><span>分</span>
                                <span class="rs" style="margin:0 5px">0</span><span>秒</span>
                                <button type="button" style="margin:0 20px" class="btn btn-primary btn-sm set">重置</button>
                            </div>
                            <h4 class="control-label text-red capacityTitle"></h4>
                            <div class="form-group" id="planDevCapacitySetBox">
                                <label class="control-label">设备产能设置：</label>
                                <div class="mailbox-messages table-responsive">
                                    <table class="table table-hover table-striped table-condensed table-responsive" id="planDevCapacitySetList"></table>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label class="control-label">人员产能设置：</label>
                                <div class="mailbox-messages table-responsive">
                                    <table class="table table-hover table-striped table-condensed table-responsive" id="planPersonCapacitySetList"></table>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary add update" id="addPlanCapacitySetBtn">确定</button>
                            </div>
                        </div>
                    </div>
                    <label class="control-label">流程编号清单：</label>
                    <div class="form-group" id="planProcessCodeList"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-sm" id="addPlanProcessList"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addEditPlanBtn"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @*产能配置模态框*@
    <div class="modal fade" tabindex="-1" id="showCapacityModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">产能配置管理</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateCapacityInfo()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="showAddCapacityCategoryModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delCapacity()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getCapacityList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="capacityList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @*添加、查看和修改产能配置详情模态框*@
    <div class="modal fade" tabindex="-1" id="showCapacityDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">产能清单查看</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="flexStyle form-group add">
                                <label class="control-label text-nowrap no-margin">名称：</label>
                                <input type="text" class="form-control" disabled="disabled" id="addCapacityCategory">
                            </div>
                            <div class="flexStyle form-group add">
                                <label class="control-label text-nowrap no-margin">备注：</label>
                                <input type="text" class="form-control" id="addCapacityRemark">
                            </div>
                            <div class="flexStyle form-group">
                                <label class="control-label text-nowrap no-margin">流程编号类型：<span class="spanStyle look" id="capacityDetailCode"></span></label>
                                <select class="form-control update add" id="capacityProcess" table="#capacityDetailList"></select>
                            </div>
                            <label class="control-label">产能清单：</label>
                            <div class="mailbox-messages table-responsive">
                                <table class="table table-hover table-striped table-condensed table-responsive" id="capacityDetailList"></table>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="form-group flexStyle calTimeBox add update">
                                <label class="control-label">时间计算：</label>
                                <input type="text" class="form-control text-center ch" style="width:60px" value="0"><span style="margin:0 5px">时</span>
                                <input type="text" class="form-control text-center cm" style="width:40px" value="0"><span style="margin:0 5px">分</span>
                                <input type="text" class="form-control text-center cs" style="width:40px" value="0"><span style="margin:0 5px">秒</span>
                                <label class="control-label"> = </label>
                                <span class="rm" style="margin:5px 5px">0</span><span>分</span>
                                <span class="rs" style="margin:0 5px">0</span><span>秒</span>
                                <button type="button" style="margin:0 20px" class="btn btn-primary btn-sm set">重置</button>
                            </div>
                            <h4 class="control-label text-red capacityTitle"></h4>
                            <div class="form-group" id="devCapacitySetBox">
                                <label class="control-label">设备产能设置：</label>
                                <div class="mailbox-messages table-responsive">
                                    <table class="table table-hover table-striped table-condensed table-responsive" id="devCapacitySetList"></table>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label class="control-label">人员产能设置：</label>
                                <div class="mailbox-messages table-responsive">
                                    <table class="table table-hover table-striped table-condensed table-responsive" id="personCapacitySetList"></table>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary  add update" id="addCapacitySetBtn">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary add" onclick="addCapacity()">添加</button>
                    <button type="button" class="btn btn-primary update" id="updateCapacityBtn" onclick="updateCapacity.call(this)">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    @*浏览流程编号模态框*@
    <div class="modal fade" tabindex="-1" id="browseProcessCodeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">浏览</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="browseProcessCodeList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*设置工艺模态框*@
    <div class="modal fade" tabindex="-1" id="setCraftModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">设置工艺</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="setCraftList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addCraftTrBtn"><i class="fa fa-plus"></i>添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addCraftBtn">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加工单模态框*@
    <div class="modal fade" tabindex="-1" id="addWorkOrderModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加工单</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addWorkOrderList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addWorkOrderListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addWorkOrder()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加任务单模态框*@
    <div class="modal fade" tabindex="-1" id="addTaskOrderModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加任务单</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addTaskOrderList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addTaskOrderListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addTaskOrder()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*任务单详情模态框*@
    <div class="modal fade" tabindex="-1" id="taskOrderDetailModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">任务单详情</h4>
                </div>
                <div class="modal-body">
                    <div class="flexStyle form-group">
                        <label class="control-label text-nowrap no-margin">任务单：</label>
                        <select class="form-control" id="taskOrderSelect" style="width: 150px;margin-right:10px"></select>
                        <label class="control-label text-nowrap no-margin">目标产量：<span id="taskOrderTarget"></span></label>
                    </div>
                    <label class="control-label">流程卡相关：</label>
                    <div class="flexStyle form-group" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap">已发卡：<span class="spanStyle" id="taskOrderIssueCount"></span></label>
                        <label class="control-label text-nowrap">已发数量：<span class="spanStyle" id="taskOrderIssue"></span></label>
                        <label class="control-label text-nowrap">加工中数量：<span class="spanStyle" id="taskOrderDoingCount"></span></label>
                        <label class="control-label text-nowrap">已完成产量：<span class="spanStyle" id="taskOrderDoneCount"></span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*任务单产能需求模态框*@
    <div class="modal fade" tabindex="-1" id="capacityNeedModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">产能需求</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label class="control-label no-margin text-red">任务单列表：</label>
                            <div class="form-group" id="capacityTaskBox">
                                @*<label class="flexStyle pointer">
                                        <input type="checkbox" class="icb_minimal" id="processorAll" value="全选">
                                        <span class="textOverTop" style="margin-left: 5px">全选</span>
                                    </label>*@
                                <div style="margin-left: 20px; padding-bottom: 10px; max-height: 400px; overflow-y: scroll;" id="capacityTaskCheck">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <div class="form-group col-md-3 hidden" id="capacityTaskDetailListDiv">
                                    <label class="control-label"><strong class="text-red"></strong><label class="control-label">-流程列表</label></label>
                                    <div class="mailbox-messages table-responsive">
                                        <table class="table table-hover table-striped table-condensed table-responsive" id="capacityTaskDetailList"></table>
                                    </div>
                                </div>
                                <div class="form-group col-md-9 hidden" id="capacityTaskDevPerDiv">
                                    <label class="control-label"><strong class="text-red"></strong><label class="control-label">-产能查看</label></label>
                                    <div class="form-group" id="devCapacityTaskSetBox">
                                        <label class="control-label">设备选择：</label>
                                        <div class="mailbox-messages table-responsive">
                                            <table class="table table-hover table-striped table-condensed table-responsive" id="devCapacityTaskSetList"></table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">人员选择：</label>
                                        <div class="mailbox-messages table-responsive">
                                            <table class="table table-hover table-striped table-condensed table-responsive" id="personCapacityTaskSetList"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-success btn-sm" onclick="showCapacityTaskProcess()">预览</button>
                        </div>
                        <div class="table-responsive mailbox-messages" id="capacityTaskProcessListBox">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加流程卡模态框*@
    <div class="modal fade" tabindex="-1" id="addFlowCardModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加流程卡</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline">
                        <div class="form-group flexStyle">
                            <label class="control-label text-nowrap no-margin">任务单：</label>
                            <select class="form-control" id="addFlowCardTaskOrderSelect" style="width: 150px; margin-right: 20px"></select>
                        </div>
                        <div class="form-group flexStyle">
                            <label class="control-label text-nowrap no-margin">目标产量：<span id="addFlowCardTarget" style="margin-right: 20px"></span></label>
                            <label class="control-label text-nowrap no-margin text-red">未完成：<span id="addFlowCardLeft" style="margin-right: 20px"></span></label>
                            <label class="control-label text-nowrap no-margin text-orange">加工中：<span id="addFlowCardDoing" style="margin-right: 20px"></span></label>
                            <label class="control-label text-nowrap no-margin text-blue">已发卡：<span id="addFlowCardIssue"></span></label>
                        </div>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label text-nowrap no-margin">计划号：<span id="addFlowCardPlan" style="margin-right: 20px"></span></label>
                        <label class="control-label text-nowrap no-margin">交货日期：<span id="addFlowCardTime"></span></label>
                    </div>
                    <div class="form-group form-inline">
                        <div class="form-group flexStyle">
                            <label class="control-label text-nowrap no-margin">加工数量：</label>
                            <input type="text" class="form-control text-center" id="addFlowCardWorkNum" onInput="onInput(this, 3, 0)">
                        </div>
                        <div class="form-group flexStyle">
                            <label class="control-label text-nowrap no-margin">单卡数量：</label>
                            <input type="text" class="form-control text-center" id="addFlowCardCardNum" onInput="onInput(this, 3, 0)">
                        </div>
                        <div class="form-group flexStyle">
                            <label class="control-label text-nowrap no-margin">加工人：</label>
                            <select class="form-control" id="addFlowCardPersonSelect" style="width: 150px"></select>
                        </div>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label text-nowrap no-margin">流程编号：</label>
                        <select class="form-control" id="addFlowCardProcessCodeSelect" style="width: 150px;margin-right: 10px"></select>
                        <button class="btn btn-primary" id="processCodeLookBtn" onclick="addFlowCardProcessCodeLook.call(this)">查看</button>
                    </div>
                    <div class="form-group flexStyle" style="flex-wrap:wrap">
                        <label class="control-label text-nowrap no-margin">类型：<span id="addFlowCardType" style="margin-right: 20px"></span></label>
                        <label class="control-label no-margin">流程详情：<span id="addFlowCardProcessDetail"></span></label>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" onclick="addFlowCardPreview()">预览</button>
                        <button class="btn btn-success" onclick="addFlowCard()">生成</button>
                        <button class="btn btn-info" onclick="flowCardPrint()">打印</button>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addFlowCardProcessList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*流程查看模态框*@
    <div class="modal fade" tabindex="-1" id="showProcessFlowCardIdModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">流程详情查看</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="processFlowCardIdList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*流程编号查看模态框*@
    <div class="modal fade" tabindex="-1" id="showProcessDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">流程详情</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle">
                        <label class="control-label text-nowrap no-margin">流程编号：</label>
                        <select class="form-control" id="processDetailCodeSelect" style="width: 150px"></select>
                    </div>
                    <div class="form-group">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="processDetailList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*工艺详情模态框*@
    <div class="modal fade" tabindex="-1" id="showCraftDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">工艺详情</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="craftDetailList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*报警信息模态框*@
    <div class="modal fade" tabindex="-1" id="showWarningDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">报警信息</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="WarningDetailList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*任务单信息模态框*@
    <div class="modal fade" tabindex="-1" id="showTaskDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">任务单信息</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="taskDetailList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*任务单信息模态框*@
    <div class="modal fade" tabindex="-1" id="showFlowDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">流程卡信息</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="flowDetailList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*排程信息模态框*@
    <div class="modal fade" tabindex="-1" id="showScheduleModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">排程信息</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="scheduleList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*PMC等级模态框*@
    <div class="modal fade" tabindex="-1" id="showPmcGradeModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">等级</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">等级管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updatePmcGrade()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="addPmcGradeModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delPmcGrade()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getPmcGradeList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="pmcGradeList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*PMC排程计划号模态框*@
    <div class="modal fade" tabindex="-1" id="showPmcChildPlanModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="pmcChildPlanList0"></table>
                                <table class="table table-hover table-striped" id="pmcChildPlanList1"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*PMC排程指数模态框*@
    <div class="modal fade" tabindex="-1" id="showPmcChildIndexModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <label class="control-label">设备指数：</label>
                                <table class="table table-hover table-striped" id="pmcChildIndexList0"></table>
                                <label class="control-label">人员指数：</label>
                                <table class="table table-hover table-striped" id="pmcChildIndexList1"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*PMC预览查看计划号模态框*@
    <div class="modal fade" tabindex="-1" id="showPmcProcessPlanModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">计划号详情</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <label class="control-label">
                                <span style="margin-right:20px">计划号：<span id="pmcProcessPlanCode"></span></span>
                                <span>工序：<span id="pmcProcessPlanProcess"></span></span>
                            </label>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="pmcProcessPlanList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加等级模态框*@
    <div class="modal fade" tabindex="-1" id="addPmcGradeModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加等级</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addPmcGradeList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addPmcGradeListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addPmcGrade()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加员工模态框*@
    <div class="modal fade" tabindex="-1" id="showAddPmcPersonModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加员工</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addPmcPersonList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addPmcPersonListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addPmcPerson()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*PMC任务单等级模态框*@
    <div class="modal fade" tabindex="-1" id="showTaskLevelModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">任务单等级</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">任务单等级管理</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-success btn-sm" onclick="updateTaskLevel()">修改</button>
                                <button class="btn btn-primary btn-sm" onclick="showAddTaskLevelModel()">添加</button>
                                <button class="btn btn-danger btn-sm" onclick="delTaskLevel()">删除</button>
                                <button class="btn btn-info btn-sm" onclick="getTaskLevelList()">刷新</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="pmcTaskLevelList"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    @*添加任务单等级模态框*@
    <div class="modal fade" tabindex="-1" id="showAddTaskLevelModel" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 380px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">添加任务单等级</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="addTaskLevelList"></table>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-sm" id="addTaskLevelListBtn"><i class="fa fa-plus"></i> 添加新项</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addTaskLevel()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>