
@{
    Layout = null;
}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.11
    </div>
    <strong>Copyright &copy; 2019 <a href="#">BaiShengGuangDian</a>.</strong> All rights
    reserved.
    @*<div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Comments</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>

            </div>
            <div class="box-body">
                <div id="disqus_thread"></div>
            </div>
        </div>*@
</footer>
