@model object
@{
    ViewBag.Title = "计划管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/PlanManagement/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/PlanManagement/index.min.js"></script>
</environment>
<section class="content ">
    <h2 class="text-center">计划管理</h2>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary btn-sm" onclick="addPlanModal()">添加</button>
                <button type="button" class="btn btn-success btn-sm" onclick="logModal(true)">日志</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="planList"></table>
            </div>
        </div>
    </div>
    <!-- 添加生产计划模态框 -->
    <div class="modal fade" tabindex="-1" id="addPlanModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group addPlan" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0"><span class="text-red">* </span>新计划：</label>
                            <input class="form-control" id="addPlan" onfocusin="focusIn($(this))" maxlength="20" style="flex-basis: 205px;margin-right: 5px">
                            <select class="ms2 form-control planSelect" id="addPlanSelect" style="width: 180px"></select>
                            <button type="button" class="btn btn-info btn-sm" id="reuse" style="margin-left: 5px">复用</button>
                        </div>
                        <div class="form-group updatePlan" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0">计划：</label>
                            <select class="ms2 form-control planSelect" id="updatePlanSelect" style="width: 180px"></select>
                        </div>
                        <div class="form-group" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0">备注：</label>
                            <input class="form-control" id="addRemark" onfocusin="focusIn($(this))" maxlength="200">
                        </div>
                        <div class="form-group" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0">计划造价：<span style="text-decoration: underline; font-size: 25px;color:blue" id="planCost"></span></label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-sm" id="addPlanTableBtn"><i class="fa fa-plus">清单</i></button>
                        </div>
                        <div class="hidden" id="addPlanTable">
                            <label class="control-label textOverTop">清单：</label>
                            <div class="form-group" style="overflow-x: auto">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>序号</th>
                                        <th>货品编号</th>
                                        <th>货品类别</th>
                                        <th>货品名称</th>
                                        <th>供应商</th>
                                        <th>规格型号</th>
                                        <th>货品位置</th>
                                        <th>货品详情</th>
                                        <th>参考价格</th>
                                        <th>计划用量</th>
                                        <th class="actualConsumption">实际用量</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="addPlanBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary addPlan" onclick="addPlan()">添加</button>
                        <button type="button" class="btn btn-primary updatePlan" onclick="updatePlan()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 计划详情模态框 -->
    <div class="modal fade" tabindex="-1" id="planDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">计划详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0">计划：</label>
                            <select class="ms2 form-control planSelect" id="PlanDetailSelect" style="width: 180px"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">备注：<span id="remarkName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">计划造价：<span id="plannedCostName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">实际造价：<span id="actualCostName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">清单：</label>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="planDetailList"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 货品详情模态框 -->
    <div class="modal fade" tabindex="-1" id="productDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">货品详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group">
                            <label class="control-label textOverTop">类别：<span id="productCategory" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">名称：<span id="productName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">供应商：<span id="productSupplier" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">规格：<span id="productSpecification" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">位置：<span id="productSite" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">编号：<span id="productCode" style="text-decoration: underline; font-size: 20px; color: blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">最低库存：<span id="productStock" style="text-decoration: underline; font-size: 20px; color: blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">参考价格：<span id="productPrice" style="text-decoration: underline; font-size: 20px; color: blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">备注：<span id="productRemark" style="text-decoration: underline; font-size: 20px; color: blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop" id="imgLabel">图片：</label>
                            <div class="form-group">
                                <div class="row" id="productImg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 日志模态框 -->
    <div class="modal fade" tabindex="-1" id="logModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">领用日志</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="logStartDate">时间范围：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <input type="text" id="logStartDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                            <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                            <input type="text" id="logEndDate" class="form_date form-control" style="width: 130px; cursor: pointer" onchange="">
                        </div>
                    </div>
                    <div class="form-group" style="display: flex;align-items: center">
                        <label class="control-label" for="logBillSelect">计划号：</label>
                        <select class="ms2 form-control" id="logPlanSelect" style="width: 160px"></select>
                    </div>
                    <div class="form-group" style="display: flex;align-items: center">
                        <label class="control-label" for="logBillSelect">货品编号：</label>
                        <select class="ms2 form-control" id="logBillSelect" style="width: 160px"></select>
                    </div>
                    <div class="form-group hidden" id="billInfo">
                        <div class="form-group">
                            <label class="control-label" for="logCategory">货品类别：</label>
                            <label class="control-label" id="logCategory"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logName">货品名称：</label>
                            <label class="control-label" id="logName"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logSpecification">规格型号：</label>
                            <label class="control-label" id="logSpecification"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logSupplier">供应商：</label>
                            <label class="control-label" id="logSupplier"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="logPrice">货品价格：</label>
                            <label class="control-label" id="logPrice"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">领用日志：</label>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="logList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>