@model object
@{
    ViewBag.Title = "计划管理";
    Layout = "_Layout";
}
<environment include="Development">
    <script src="~/mjs/PlanManagement/index.js"></script>
</environment>
<environment include="Staging,Production">
    <script src="~/mminjs/PlanManagement/index.min.js"></script>
</environment>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<section class="content ">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary btn-sm" onclick="addPlanModal()" id="addPlanModalBtn">添加</button>
                <button type="button" class="btn btn-warning btn-sm" onclick="showPlanTransferModal()">转移</button>
                <button type="button" class="btn btn-success btn-sm" onclick="logModal(true)" id="logModalBtn">日志</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="getPlanList(false)">刷新</button>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped" id="planList"></table>
            </div>
        </div>
    </div>
    <!-- 添加生产计划模态框 -->
    <div class="modal fade" tabindex="-1" id="addPlanModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group addPlan flexStyle">
                            <label class="control-label no-margin text-nowrap"><span class="text-red">* </span>新计划：</label>
                            <input class="form-control" id="addPlan" onfocusin="focusIn($(this))" maxlength="20" style="flex-basis: 205px;margin-right: 5px">
                            <select class="ms2 form-control planSelect" id="addPlanSelect" style="width: 180px"></select>
                            <button type="button" class="btn btn-info btn-sm" id="reuse" style="margin-left: 5px">复用</button>
                        </div>
                        <div class="form-group updatePlan flexStyle">
                            <label class="control-label no-margin text-nowrap">计划：</label>
                            <select class="ms2 form-control planSelect" id="updatePlanSelect" style="width: 180px"></select>
                        </div>
                        <div class="form-group updatePlan flexStyle">
                            <label class="control-label no-margin text-nowrap">新计划名：</label>
                            <input class="form-control" id="updatePlanName" maxlength="20" style="flex-basis: 205px;margin-right: 5px">
                        </div>
                        <div class="form-group flexStyle">
                            <label class="control-label no-margin text-nowrap">备注：</label>
                            <input class="form-control" id="addRemark" onfocusin="focusIn($(this))" maxlength="200">
                        </div>
                        <div class="form-group flexStyle">
                            <label class="control-label no-margin text-nowrap">计划造价：<span style="text-decoration: underline; font-size: 25px;color:blue" id="planCost"></span></label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-sm" id="addPlanTableBtn" disabled="disabled"><i class="fa fa-plus">清单</i></button>
                        </div>
                        <div class="hidden" id="addPlanTable">
                            <label class="control-label textOverTop">清单：</label>
                            <div class="form-group" style="overflow: auto;max-height:500px">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>序号</th>
                                            <th>货品编号</th>
                                            <th>货品类别</th>
                                            <th>货品名称</th>
                                            <th>供应商</th>
                                            <th>规格型号</th>
                                            <th>单价</th>
                                            <th>位置</th>
                                            <th>货品详情</th>
                                            <th>计划用量</th>
                                            <th class="actualConsumption">实际用量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addPlanBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary addPlan" onclick="addPlan()">添加</button>
                        <button type="button" class="btn btn-primary updatePlan" onclick="updatePlan()">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 计划详情模态框 -->
    <div class="modal fade" tabindex="-1" id="planDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">计划详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="form-group" style="display: flex;align-items: center">
                            <label class="control-label" style="white-space: nowrap;margin: 0">计划：</label>
                            <select class="ms2 form-control planSelect" id="PlanDetailSelect" style="width: 180px"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">备注：<span id="remarkName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">计划造价：<span id="plannedCostName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">实际造价：<span id="actualCostName" style="text-decoration: underline; font-size: 20px;color:blue"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label textOverTop">清单：</label>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped" id="planDetailList"></table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*转移计划模态框*@
    <div class="modal fade" tabindex="-1" id="planTransferModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">转移计划</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group flexStyle">
                        <label class="control-label no-margin text-nowrap">转移：</label>
                        <div style="width: 180px;margin-right: 10px">
                            <select class="ms2 form-control planSelect" id="planSelectFrom" style="width: 100%"></select>
                        </div>
                        <label class="control-label no-margin text-nowrap">备注：<span id="planSelectFromRemark"></span></label>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label no-margin text-nowrap">至：</label>
                        <div style="width: 180px; margin-right: 10px">
                            <select class="ms2 form-control planSelect" id="planSelectTo" style="width: 100%"></select>
                        </div>
                        <label class="control-label no-margin text-nowrap">备注：<span id="planSelectToRemark"></span></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">清单：</label>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" id="planTransferList"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="planTransfer()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 货品详情模态框 -->
    <div class="modal fade" tabindex="-1" id="productDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">货品详情</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body box">
                        <div class="flexStyle" style="flex-wrap: wrap">
                            <label class="control-label text-nowrap">编号：<span class="spanStyle" id="productCode"></span></label>
                            <label class="control-label text-nowrap">类别：<span class="spanStyle" id="productCategory"></span></label>
                            <label class="control-label text-nowrap">名称：<span class="spanStyle" id="productName"></span></label>
                            <label class="control-label text-nowrap">供应商：<span class="spanStyle" id="productSupplier"></span></label>
                            <label class="control-label text-nowrap">规格：<span class="spanStyle" id="productSpecification"></span></label>
                            <label class="control-label text-nowrap">单价：<span class="spanStyle" id="productPrice"></span></label>
                            <label class="control-label text-nowrap">位置：<span class="spanStyle" id="productSite"></span></label>
                            <label class="control-label text-nowrap">最低库存：<span class="spanStyle" id="productStock"></span></label>
                            <label class="control-label text-nowrap">备注：<span class="spanStyle" id="productRemark"></span></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-nowrap" id="imgLabel">图片：</label>
                            <div class="form-group">
                                <div class="row" id="productImg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 日志模态框 -->
    <div class="modal fade" tabindex="-1" id="logModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">领用日志</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="logStartDate">时间范围：</label>
                        <div class="form-group no-margin" style="display: -webkit-inline-box">
                            <input type="text" id="logStartDate" class="form_date form-control pointer text-center" style="width: 130px">
                            <span style="display: table-cell; vertical-align: middle; height: 33px">&nbsp;-&nbsp;</span>
                            <input type="text" id="logEndDate" class="form_date form-control pointer text-center" style="width: 130px">
                        </div>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label" for="logBillSelect">计划号：</label>
                        <select class="ms2 form-control" id="logPlanSelect" style="width: 160px"></select>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label" for="logBillSelect">类型：</label>
                        <select class="form-control" id="logPlanType" style="width: 160px">
                            <option value="0">所有</option>
                            <option value="2">领用</option>
                            <option value="1">退回</option>
                        </select>
                    </div>
                    <div class="form-group flexStyle">
                        <label class="control-label" for="logBillSelect">货品编号：</label>
                        <select class="ms2 form-control" id="logBillSelect" style="width: 160px"></select>
                    </div>
                    <div class="form-group hidden" id="billInfo">
                        <div class="flexStyle" style="flex-wrap: wrap">
                            <label class="control-label text-nowrap">货品类别：<span class="spanStyle" id="logCategory"></span></label>
                            <label class="control-label text-nowrap">货品名称：<span class="spanStyle" id="logName"></span></label>
                            <label class="control-label text-nowrap">供应商：<span class="spanStyle" id="logSupplier"></span></label>
                            <label class="control-label text-nowrap">规格型号：<span class="spanStyle" id="logSpecification"></span></label>
                            <label class="control-label text-nowrap">单价：<span class="spanStyle" id="logPrice"></span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">领用日志：</label>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="logList"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>